/* BURGER */
.burger {
  margin-top: 1px;
  z-index: 3;
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

.isNavOpen {
  overflow: hidden;
}

.burger-svg__base {
  fill: #fff;
}

.burger-svg__bars {
  fill: #282828;
}