/* CUSTOM BUTTON */
.custom-btn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
}
.custom-btn * {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.custom-btn a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 58px;
  border: 1px solid #f6323e;
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 30px;
  padding-top: 18px;
  background: transparent;
  color: #fff;
}
.custom-btn a:hover {
  text-decoration: none;
  background: #ff8117;
  border-color: #ff8117;
}
.custom-btn span {
  width: 20px;
  height: 1px;
  background: #fff;
  display: inline-block;
  margin-left: 20px;
  margin-top: 8px;
}
.custom-btn i {
  width: 0;
  height: 0;
  display: inline-block;
  margin-left: 0;
  margin-right: auto;
  border-style: solid;
  border-width: 4px 0 4px 4px;
  border-color: transparent transparent transparent #fff;
  opacity: 1;
  margin-top: 5px;
}
.custom-btn:hover span {
  width: 50px;
  margin-left: 20px;
}
.custom-btn:hover i {
  opacity: 0;
}

.custom-btn.dark a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 58px;
  background: #f6323e;
  border-color: #f6323e;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 30px;
  padding-top: 18px;
  
}
.custom-btn.dark span{
  background: #f6323e;
}
.custom-btn.dark i{
  border-color: transparent transparent transparent #f6323e;
}

.color-dark .custom-btn.dark a, .color-orange .custom-btn.dark a{
  border: 1px solid #fff;
  color: #f6323e;
  background: transparent;
}