
/* NAVIGATION MENU */
.navigation-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  right: calc(-100% + -200px);
  top: 0;
  z-index: 2;
  background: #f6323e;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  visibility: hidden;
}
.navigation-menu:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 200px 100vh 0;
  border-color: transparent #282828 transparent transparent;
  position: absolute;
  left: -200px;
  top: 0;
}
.navigation-menu.active {
  right: 0;
  visibility: visible;
}
.navigation-menu.active .inner {
  opacity: 1;
  transform: translateX(0);
}
.navigation-menu #map {
  width: 600px;
  height: 450px;
  display: none;
  border: none;
}
.navigation-menu .inner {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding: 0 10%;
  color: #fff;
  transform: translateX(40%);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transition-delay: 0.35s;
  padding-top: 80px;
}
.navigation-menu .inner .side-menu {
  width: 100%;
  float: right;
  display: none;
}
.navigation-menu .inner .side-menu ul {
  float: right;
  margin: 0;
  padding: 0;
  text-align: right;
}
.navigation-menu .inner .side-menu ul li {
  display: block;
  list-style: none;
  margin-bottom: 5px;
}
.navigation-menu .inner .side-menu ul li a {
  font-size: 8vw;
  color: #fff;
  font-weight: 500;
}
.navigation-menu .inner .sides {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.navigation-menu .inner .sides:last-child {
  padding-left: 50px;
}
.navigation-menu .inner h6 {
  display: block;
  margin-bottom: 20px;
  line-height: 1.5;
  font-size: 25px;
}
.navigation-menu .inner h6 strong {
  font-weight: 600;
}
.navigation-menu .inner figure {
  display: block;
  margin: 0;
  background: #fff;
  padding: 6px;
  position: relative;
}
.navigation-menu .inner figure a {
  width: 50px;
  height: 50px;
  line-height: 44px;
  position: absolute;
  right: 6px;
  top: 6px;
  background: #fff;
  text-align: center;
}
.navigation-menu .inner address {
  display: block;
  font-size: 19px;
}
.navigation-menu .inner address a {
  display: block;
  color: #fff;
  text-decoration: underline;
}