
/* TITLES */
.titles {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-right: 20%;
  margin-bottom: 80px;
}
.titles h6 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.titles p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 0;
  font-weight: 300;
}