
@media(max-width: 1200px) {
  .contact-form-popup {
    padding: 50px;
    max-width: 100%;
  }
  .testimonial-wrap .testimonial-item{
    padding-right: 0;
  }
}
@media(max-width: 768px) {
  .contact-form-popup {
    padding: 50px 30px;
    max-width: 100%;
  }
  .testimonial-wrap .thumb-wrap{
    position: relative;
  }
  .testimonial-item .content-wrap{
    padding: 0px;
    border-bottom: 0px;
  }
}
@media(min-width: 1980px) {
  .work-with-us h2, .header .headlines h1, .header .page-title h1, .about-intro h3{
    font-size: 100px;
    line-height: 120px;
  }
}
@media(max-width: 991px) {
  .about-intro .well{
    margin-top: 60px;
  }
  .service-section .col-md-8, .service-section .col-md-4{
    flex: 0 0 100%;
    max-width: 100%;
  }
  .service-section .col-md-8{
    padding-left: 15px;
  }
  .work-flow article{
    margin-bottom: 30px;
  }
}
@media(max-width: 768px) {
  .service-section .col-12{
    margin-bottom: 15px;
  }
  .service-section{
    padding-bottom: 80px;
  }
  .well{
    padding: 25px;
  }
  .service-section .well{
    margin: 15px 0px 30px 0px;
  }
  .titles{
    margin-bottom: 30px;
  }
  .logos{
    padding: 100px 0px;
  }
  .header .page-title{
    margin-bottom: 50px;
    margin-top: 30px;
  }
  .header .page-title h1{
    font-size: 40px;
  }
  .header .page-title h2{
    font-size: 18px;
  }
  .work-with-us h6, .titles h6, .works .titles h2, .footer .career h6{
    font-size: 16px;
  }
  .header .headlines h1{
    font-size: 40px;
    line-height: 45px;
  }
  .header .headlines h2{
    font-size: 24px;
    line-height: 30px;
  }
  .about-intro p{
    line-height: 1.5;
  }
  .works{
    padding-top: 100px;
    padding-bottom: 0px; 
  }
  .works ul li{
    padding: 0px;
    margin: 0px;
    margin-bottom: 50px;
  }
  .works ul li + li{
    min-height: 400px;
    padding-left: 15px;
  }

  .featured-services{
    padding: 100px 0px 0px 0px;
  }
  .featured-services figure{
    min-height: 30px;
    text-align: left;
  }
  .featured-services figure img{
    margin: 15px;
    height: 60px;
    width: 60px;
  }
  .featured-services figure figcaption{
    text-align: left;
    padding: 15px;
  }
  .featured-services figure .figcaption-inner{
    display: flex;
  }
  .work-with-us{
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .work-with-us h2{
    margin-bottom: 30px;
  }
  .work-with-us .custom-btn{
    margin-top: 30px
  }
  .footer{
    padding-bottom: 60px;
    padding-top: 100px;
  }
  .footer .sub-footer{
    margin-top: 80px;
  }
  .about-intro{
    padding-top: 60px;
  }
  .about-intro h3{
    margin-bottom: 30px;
  }
  .main-services{
    padding-top: 100px;
    padding-bottom: 60px;
  }
  .our-awards{
    padding-top: 0px;
  }
  .team{
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .team .col-md-6:last-child figure{
    margin-bottom: 0px;
  }
  .case-detail{
    padding: 100px 0px 0px;
  }
  .case-detail h3{
    font-size: 40px;
    margin: 30px 0px 0px;
  }
  .contact{
    padding-top: 100px;
  }
  .contact .contact-form #contact .form-group{
    margin-bottom: 0px;
  }
  .blog .post{
    margin-bottom: 100px;
  }
  .testimonials{
    padding-top: 0px;
    padding-bottom: 100px;
  }
  .testimonial-wrap .testimonial-item{
    padding-right: 0px;
  }
  .quote-icon{
    width: 150px;
    height: 110px;
    right: 20px;
    top: 150px;
  }
}