/* RESPONSIVE MOBILE FIXES */
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  .preloader .inner .percentage {
    font-size: 30vh;
  }

  .navbar {
    padding: 30px 15px;
  }

  .navbar .phone {
    display: none;
  }

  .slider .swiper-container .slide-inner {
    padding: 0 30px;
  }

  .slider .swiper-container .slide-inner h2 {
    font-size: 35px;
  }

  .recent-news .row {
    margin-left: -15px;
    margin-right: -15px;
  }

  .recent-news .col-lg-4 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .recent-news .col-12 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header .page-title h1 {
    font-size: 14vw;
  }

  .works ul li {
    width: 100%;
  }

  .works ul {
    width: 100%;
    margin: 0 !important;
  }

  .our-awards .titles {
    padding: 0;
  }

  .logos ul li {
    width: 50%;
  }

  .logos ul li:nth-child(9) {
    display: none;
  }

  .post-sticky .post-content {
    padding: 20px 30px;
  }

  .post-sticky .post-content .post-link {
    display: none;
  }

  .blog .post .post-content .post-title {
    font-size: 6vw;
  }

  .post-body .post-title {
    font-size: 6vw;
  }

  .post-navigation a:nth-child(1) {
    width: 100%;
    border-right: 0;
    border-bottom: 1px solid #eee;
  }

  .post-navigation a:nth-child(2) {
    width: 100%;
  }

  .work-with-us h2 {
    font-size: 9vw;
    line-height: 11.5vw; 
  }

  .logos ul li figure {
    height: 65px;
  }

  // .logos ul li figure img {
  //   height: 65px;
  // }
  .works ul li + li{
    padding-left: 0 !important;
  }
  .about-intro h3 {
    font-size: 8vw;
  }

  .main-services .titles {
    padding: 0;
  }

  .footer .career h2 {
    font-size: 6.8vw;
  }

  .footer .sub-footer ul {
    margin-bottom: 15px;
  }
}
