/* RESPONSIVE TABLET FIXES */
@media only screen and (max-width: 991px), only screen and (max-device-width: 991px) {
  .slider .swiper-container .slide-inner {
    padding: 0 30px;
  }

  .preloader .inner .percentage {
    font-size: 50vh;
  }

  .navigation-menu .inner .side-menu {
    display: block;
  }

  .navbar .main-menu {
    display: none;
  }

  .navbar .phone {
    margin-right: auto;
  }

  .navigation-menu .inner .sides {
    display: none;
  }

  .slider .swiper-container .swiper-slide {
    width: 100%;
  }

  .slider:hover .swiper-container .swiper-slide {
    margin-left: 0;
  }

  .header .page-title h2 {
    padding-right: 0;
  }

  .titles {
    padding-right: 0;
  }

  .works ul li {
    width: 50%;
  }

  .our-awards ul li {
    width: 33%;
    float: none;
    display: inline-block;
    margin: 0 6%;
  }

  .our-awards ul li figure {
    border-right: none;
  }

  .our-awards ul li .odometer {
    margin-bottom: 40px;
  }

  .team figure {
    margin-bottom: 40px;
  }

  .logos ul li {
    width: 33.33333%;
  }

  .logos ul li:nth-child(n+10) {
    display: none;
  }

  .our-awards .titles {
    padding: 0 5%;
  }

  .post-sticky .post-content {
    padding-right: 0;
  }

  .post-sticky .post-content .post-intro {
    display: none;
  }

  .blog {
    padding-top: 100px;
  }

  .blog .sidebar {
    width: 100%;
    margin-top: 100px;
  }

  .swiper-button-next {
    display: none;
  }

  .footer .logo {
    margin-bottom: 40px;
  }

  .footer .career h2 {
    font-size: 6vw;
  }

  input[type=text], input[type=email], input[type=number], input[type=tel] {
    border-radius: 0 !important;
    -webkit-appearance: none;
  }

  textarea {
    border-radius: 0 !important;
    -webkit-appearance: none;
  }
}