/* HEADER */
.header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.header .navbar {
  width: 100%;
  margin-bottom: 0;
}
.header .page-title {
  width: 100%;
  margin-bottom: 80px;
  margin-top: 50px;
}
.header .page-title h1 {
  font-weight: 400;
  font-size: 5.2vw;
  margin-bottom: 20px;
}
.header .page-title h2 {
  padding-right: 20%;
  font-size: 1.5rem;
  line-height: 1.7;
}
.header .headlines {
  width: 100%;
  margin-bottom: 100px;
  margin-top: 60px;
}
.header .headlines h1 {
  font-size: 5.4vw;
  line-height: 5.8vw;
  font-weight: 400;
  margin: 0;
  padding-bottom: 5px;
}

.header .headlines h2 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.5rem;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 40px;
  max-width: 75%;
}