/* NAVBAR */
.navbar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0;
  position: relative;
  z-index: 9;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.navbar.hide {
  transform: translateY(-100px);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.navbar.light {
  color: #fff;
}
.navbar.light .logo a img {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}
.navbar.light .main-menu ul li a {
  color: #fff;
}
.navbar.light .main-menu ul li a:after {
  background: #fff;
}
.navbar.light .main-menu ul li a:hover:before {
  background: #fff;
}
.navbar .logo {
  margin-left: 0;
}
.navbar .logo a {
  margin: 0;
}
.navbar .logo a img {
  height: 42px;
}
.navbar .phone {
  margin-left: 50px;
  font-weight: 500;
}
.navbar .main-menu {
  margin-left: auto;
}
.navbar .main-menu ul {
  margin: 0;
  padding: 0;
}
.navbar .main-menu ul li {
  display: inline-block;
  margin: 0 18px;
  padding: 0;
}
.navbar .main-menu ul li a {
  display: block;
  font-size: 15px;
  font-weight: 600;
  position: relative;
  padding: 0 2px;
}
.navbar .main-menu ul li a:hover {
  text-decoration: none;
}
.navbar .main-menu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 9px;
  height: 1px;
  width: 0;
  transition: width 0s ease, background 0.25s ease;
}
.navbar .main-menu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 9px;
  height: 1px;
  width: 0;
  background: #282828;
  transition: width 0.25s ease;
}
.navbar .main-menu ul li a:hover:before {
  width: 100%;
  background: #282828;
  transition: width 0.25s ease;
}
.navbar .main-menu ul li a:hover:after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}
.navbar .hamburger-menu {
  margin-right: 0;
  margin-left: 30px;
}