/* SWIPER BUTTONS */
.swiper-button-next {
  width: 80px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: auto;
  right: 20px;
  top: 0;
  z-index: 2;
  background: none;
  text-align: right;
}
.swiper-button-next span {
  width: 50%;
  height: 1px;
  margin-left: auto;
  background: #fff;
  display: inline-block;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.swiper-button-next b {
  font-weight: 600;
  display: block;
  font-size: 12px;
  color: #fff;
  margin-top: 5px;
}