/* SWIPER PAGINATION */
.swiper-pagination-bullet {
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  position: relative;
  height: 40px;
  width: 40px;
  background: none;
  text-align: center;
  transform: scaleX(-1) scale(0.7);
  margin: 0;
}
.swiper-pagination-bullet:before {
  content: "";
  width: 100%;
  height: 100%;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: none;
}
.swiper-pagination-bullet-active:after {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -7px;
  margin-top: -7px;
}

.swiper-pagination-bullet svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

.swiper-pagination-bullet.swiper-pagination-bullet-active svg circle {
  animation-play-state: running;
  stroke-width: 3px;
  animation: countdown 6s linear forwards;
}

.swiper-pagination-bullet svg circle {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 0;
  stroke: #fff;
  fill: none;
  animation: none;
  animation-play-state: paused;
  animation-fill-mode: none;
}