.header .page-title {
  h1 {
    color: $color-reddish-orange;
  }
  h2 {
    color: $color-black;
  }
}
.about-intro {
  h3 {
    color: $color-reddish-orange;
  }
  p {
    color: $color-black;
    font-weight: 500;
  }
  ul li,
  ol li {
    color: $color-black;
    font-weight: 500;
  }
}
.main-services article {
  span {
    color: $color-orange;
  }
  h4 {
    color: $color-black;
  }
  p {
    color: $color-black;
  }
}
.team figure {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  & > img {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
  }
  figcaption {
    text-align: center;
    h5 {
      color: $color-reddish-orange;
    }
    span {
      color: $color-black;
    }
    a {
      color: $color-black;
      margin-right: 0;
    }
  }
}
.get_in_touch_btn {
  background-color: $color-reddish-orange;
  color: $color-white;
  border-color: $color-reddish-orange;
}
.well ul li:before {
  -webkit-filter: invert(0);
  filter: invert(0);
}
