.customAboutUsSection {
  padding: 100px 0 60px;
  background-color: $color-white;
  @media (max-width: 570px) {
    padding: 25px 0;
  }
  .aboutUsInnerWrapper {
    .aboutUsSideImage {
      width: 164px;
      height: 164px;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      @media (max-width: 990px) {
        margin-bottom: 40px;
      }
    }
    h3 {
      font-style: normal;
      font-weight: 400;
      font-size: 46px;
      line-height: 1.4;
      color: $color-reddish-orange;
      @media (max-width: 570px) {
        font-size: 33px;
      }
    }
    p {
      font-size: 20px;
      color: $color-black;
      font-weight: 400;
      line-height: 1.4;
      margin-bottom: 30px;
      @media (max-width: 570px) {
        font-size: 18px;
      }
    }
  }
}