.header .page-title {
  h1 {
    color: $color-reddish-orange;
  }
  h2 {
    color: $color-black;
  }
}
.works .titles {
  h2 {
    color: $color-reddish-orange;
  }
  p {
    color: $color-black;
  }
}
.project-box .project-content {
  h3 {
    color: $color-reddish-orange;
    a {
      color: $color-reddish-orange;
    }
  }
  h6 {
    color: $color-black;
  }
  small {
    color: $color-black;
  }
}
