body {
  padding: 0 !important;
  background: linear-gradient(
    135deg,
    #fff 0,
    rgb(255, 255, 255) 16%,
    rgb(213, 213, 213) 16%,
    rgb(247, 247, 247) 16%,
    rgb(244, 244, 244) 17%,
    rgb(230, 230, 230) 35%,
    #fff 35%,
    rgb(233, 233, 233) 56%,
    #fff 56%,
    #fff 80%,
    #fff 80%,
    #fff 100%
  );
  // &::-webkit-scrollbar {
  //   background: $color-white;
  // }
  // &::-webkit-scrollbar-track {
  //   background: $color-white;
  // }
  // &::-webkit-scrollbar-thumb {
  //   background-color: $color-reddish-orange;
  // }
  // scrollbar-color: $color-reddish-orange;
}
// .scroll-content{
//   background: linear-gradient(
//     135deg,
//     #fff 0,
//     rgb(255, 255, 255) 16%,
//     rgb(213, 213, 213) 16%,
//     rgb(247, 247, 247) 16%,
//     rgb(244, 244, 244) 17%,
//     rgb(230, 230, 230) 35%,
//     #fff 35%,
//     rgb(233, 233, 233) 56%,
//     #fff 56%,
//     #fff 80%,
//     #fff 80%,
//     #fff 100%
//   );
// }
.scroller_container {
  @media (min-width: 1200px) {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    overflow: auto;
  }
  @media (max-width: 1200px) {
    overflow-x: hidden;
  }
}
.scroll-content {
  // padding-left: 100px;
  // padding-right: 50px;
  // height: 100vh;
  width: 100vw;
  background: linear-gradient(
    135deg,
    #fff 0,
    rgb(255, 255, 255) 16%,
    rgb(213, 213, 213) 16%,
    rgb(247, 247, 247) 16%,
    rgb(244, 244, 244) 17%,
    rgb(230, 230, 230) 35%,
    #fff 35%,
    rgb(233, 233, 233) 56%,
    #fff 56%,
    #fff 80%,
    #fff 80%,
    #fff 100%
  );
  @media (max-width: 1200px) {
    padding: 0;
  }
}
section,
footer {
  // border-left: 1px solid rgba($color: #000000, $alpha: 0.15);
  border-left: 0;
}
.top_header ul.contact_phone a {
  color: $color-black;
}
.navbar {
  .phone {
    color: $color-black;
  }
  &.light {
    .phone {
      color: $color-white;
    }
    .hamburger-menu {
      .burger-svg__base {
        fill: $color-white;
      }
      .burger-svg__bars {
        fill: $color-reddish-orange;
      }
    }
  }
}
.navbar {
  .main-menu ul li a {
    color: $color-black;
    &:hover {
      color: $color-reddish-orange;
    }
  }
  &.light {
    .main-menu ul li a {
      &:hover {
        color: $color-white;
        opacity: 0.8;
      }
    }
  }
}
.header .headlines h1,
.header .headlines h3 {
  color: $color-reddish-orange;
}
.header .headlines {
  @media (max-width: 570px) {
    margin-bottom: 30px;
  }
  h2 {
    color: $color-black;
    @media (max-width: 570px) {
      max-width: 100%;
      font-size: 19px;
    }
  }
}
.color-white .custom-btn a {
  border-color: $color-reddish-orange;
  color: $color-reddish-orange !important;

  span {
    background: $color-reddish-orange !important;
  }
  i {
    border-color: transparent transparent transparent $color-reddish-orange !important;
  }
  &:hover {
    background: $color-reddish-orange;
    color: $color-white !important;
    span {
      background: $color-white !important;
    }
    i {
      border-color: transparent transparent transparent $color-white !important;
    }
  }
}
.explore_our_works .titles {
  p {
    color: $color-black;
    font-size: 25px;
    a {
      color: $color-reddish-orange;
      font-weight: 500;
    }
    @media (max-width: 570px) {
      font-size: 19px;
    }
  }
  h2 {
    color: $color-reddish-orange;
    font-size: 54px;
    font-weight: 400;
    @media (max-width: 570px) {
      font-size: 25px;
      font-weight: 500;
    }
  }
}
.explore_our_works .cards_grid_block {
  .list_card {
    .project-content {
      h3,
      small,
      h6 {
        color: #000;
        transition: 0.3s all ease-in-out;
      }
    }
    &:hover {
      .project-content h3 {
        color: $color-reddish-orange;
      }
    }
  }
}
.navbar {
  .burger {
    width: 33px;
    height: 33px;
    @media (max-width: 990px) {
      width: auto;
      height: auto;
    }
  }
  .custom_hamburger {
    width: 33px;
    height: 33px;
    cursor: pointer;
    background-color: $color-reddish-orange;
    span.hamburger_line {
      background-color: $color-white;
    }
    @media (max-width: 990px) {
      width: 50px;
      height: 50px;
    }
  }
  &.light {
    .custom_hamburger {
      background-color: $color-white;
      span.hamburger_line {
        background-color: $color-reddish-orange;
      }
      @media (max-width: 990px) {
        background-color: $color-reddish-orange;
        span.hamburger_line {
          background-color: $color-white;
        }
      }
    }
  }
}
.navigation-menu .inner .side-menu ul li a {
  color: $color-reddish-orange;
}
.off_grid_column .grid_item .detail_content {
  h4,
  h1 {
    color: $color-reddish-orange;
  }
  h5,
  p {
    color: $color-black;
  }
  p {
    font-weight: 400;
  }
}
.color-dark .left-side ul li a {
  color: $color-reddish-orange;
  &:hover {
    color: $color-reddish-orange;
  }
}
.off_grid_column .grid_item .col-lg-7 {
  border: unset;
}
.titles {
  color: $color-reddish-orange;
  h2 {
    font-size: 46px;
    @media (max-width: 570px) {
      font-size: 33px;
    }
  }
  h6 {
    color: $color-reddish-orange;
    font-size: 46px;
    font-weight: 400;
    text-transform: initial;
    letter-spacing: 0px;
    @media (max-width: 570px) {
      font-size: 33px;
      // font-weight: 500;
    }
  }
  p {
    color: $color-black;
  }
}
.featured-services {
  padding: 100px 0;
  @media (max-width: 990px) {
    padding: 60px 0;
  }
}
.featured-services figure {
  border: 0 !important;
  img {
    opacity: 1 !important;
  }
  figcaption {
    h4 {
      color: $color-black;
    }
    span {
      color: $color-reddish-orange;
    }
  }
  &:hover {
    background-color: transparent !important;
    @media (min-width: 1200px) {
      img {
        transform: scale(0.8);
      }
    }
  }
}
// .full_width_blockquote .body_content span {
//   color: $color-orange;
// }
.testimonials {
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  p {
    color: $color-black;
  }
}
.testimonial-item .author-details {
  color: $color-black;
}
.swiper-pagination-bullet {
  width: 22px;
  height: 22px;
  &::before {
    border: 3px solid rgba($color-reddish-orange, 0.5);
  }
  &::after {
    background: $color-reddish-orange;
  }
}
.work-with-us,
.color-dark .work-with-us {
  h6 {
    color: $color-black;
  }
  h2 {
    color: $color-reddish-orange;
    @media (max-width: 570px) {
      font-size: 25px;
      font-weight: 500;
      line-height: 1.5;
    }
  }
  p {
    color: $color-black;
    a {
      color: $color-black;
    }
  }
}
.footer {
  h5 {
    // color: $color-reddish-orange;
    font-size: 24px;
    font-weight: 500;
  }
  .quicK_links {
    li a {
      // color: $color-black;

      &::after {
        content: none !important;
      }
    }
  }
  address {
    // color: $color-black;
    @media (max-width: 1440px) {
      font-weight: 500;
    }
  }
  .sub-footer {
    ul li a {
      // color: $color-black;
      font-size: 15px;
      &::before {
        content: none !important;
      }
    }
    span {
      // color: $color-black;
    }
  }
  .career {
    // border-bottom: 1px solid #999 !important;
    h6 {
      // color: $color-black;
    }
    h2 {
      // color: $color-reddish-orange;
    }
  }
}
.color-dark .work-with-us .custom-btn a {
  color: $color-reddish-orange;
  border: 1px solid $color-reddish-orange;
}
.color-dark .custom-link {
  a {
    color: $color-reddish-orange;
  }
  span {
    background-color: $color-reddish-orange;
  }
  i {
    border-color: transparent transparent transparent $color-reddish-orange;
  }
}

.left-side {
  // border-right: 1px solid rgba($color: #000000, $alpha: 0.15);
  width: 100px;
  .gotop {
    background-color: $color-reddish-orange;
    border-radius: 50%;
  }
}
.color-dark .left-side .gotop img {
  filter: invert(0);
}
.navbar .hamburger-menu {
  .burger-svg__base {
    fill: $color-reddish-orange;
  }
  .burger-svg__bars {
    fill: $color-white;
  }
}
header li.menu-item-has-children ul.sub-menu {
  background-color: $color-reddish-orange;
  li {
    a {
      color: $color-white;
      &:hover {
        color: $color-white;
        &::before,
        &::after {
          display: none;
        }
      }
    }
  }
}

.pt_50 {
  padding-top: 50px !important;
  @media (max-width: 570px) {
    padding-top: 20px !important;
  }
}
.pt_100 {
  padding-top: 100px !important;
  @media (max-width: 570px) {
    padding-top: 50px !important;
  }
}
.pb_50 {
  padding-bottom: 50px !important;
  @media (max-width: 570px) {
    padding-bottom: 20px !important;
  }
}
.pb_100 {
  padding-bottom: 100px !important;
  @media (max-width: 570px) {
    padding-bottom: 50px !important;
  }
}

footer.footer {
  padding: 50px 0;
  // width: calc(100% + 50px);
  background-color: #1a1616;
  @media (max-width: 1200px) {
    width: 100%;
  }
  .logo img {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
  }
}
.navigation-menu {
  background-color: #f0f0f0;
  display: none;
  .inner {
    h6 {
      color: $color-reddish-orange;
    }
    address {
      color: $color-black;
      font-weight: 500;
      a {
        color: $color-reddish-orange;
      }
    }
  }
  &.active {
    display: flex;
  }
}

.ful_width_custom_slider {
  width: 100%;
  margin-top: 60px;
  overflow: hidden;
  .cust_slide {
    width: 100%;
    height: 550px;
    position: relative;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      display: block;
      background-color: rgba($color: #000000, $alpha: 0.3);
    }
    img {
      position: absolute;
      inset: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .content_block {
      position: absolute;
      z-index: 5;
      right: 50px;
      top: 50%;
      transform: translateY(-50%);
      width: 40%;
      padding: 30px;
      max-height: 100%;
    }
  }
}
.grid_item {
  .slider {
    margin-top: 50px;

    .slide-inner {
      p {
        text-align: right;
        max-width: 600px;
        margin-left: auto;
      }
      h4 {
        text-align: right;
      }
    }
  }
}
[data-scrollbar] .scrollbar-thumb {
  background: $color-reddish-orange !important;
}
.c-scrollbar_thumb {
  background-color: $color-reddish-orange !important;
  opacity: 1 !important;
}
.navigation-menu {
  height: 100vh;
}
.contact-map {
  margin-bottom: 50px;
}
.c-scrollbar {
  height: 100vh !important;
  position: fixed !important;
}
.off_grid_column .grid_item .slider .swiper-slide {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.header {
  .navbar {
    .logo {
      max-width: 175px;
      a {
        display: inline-block;
        img {
          height: 48px;
          display: inline-block;
          width: max-content;
          @media (max-width: 1440px) {
            // height: 78px;
          }
          @media (max-width: 990px) {
            // height: 70px;
          }
          @media (max-width: 570px) {
            height: auto;
            width: 150px;
          }
          @media (max-width: 370px) {
            width: 135px;
          }
        }
      }
    }
    .phone {
      @media (max-width: 1200px) {
        display: none;
      }
    }
    @media (max-width: 1200px) {
      padding: 30px 15px;
    }
    @media (max-width: 570px) {
      // padding: 30px 10px;
    }
  }
  .headlines.home-heading {
    h3 {
      font-size: 72px;
      line-height: 1.4;
      @media (max-width: 990px) {
        font-size: 50px;
      }
      @media (max-width: 570px) {
        font-size: 30px;
        font-weight: 500;
      }
    }
  }
  .get_in_touch_btn {
    @media (max-width: 992px) {
      margin-left: auto;
    }
    @media (max-width: 992px) {
      margin-right: 30px;
    }
    @media (max-width: 570px) {
      margin-right: 10px;
    }
    @media (max-width: 370px) {
      margin-right: 8px;
    }
    img {
      @media (max-width: 370px) {
        width: 24px;
      }
    }
  }
}
.porfolio_link {
  border: 1px solid $color-reddish-orange;
  color: $color-reddish-orange !important;
}
body.single-cases .case-detail {
  ul li,
  ol li {
    list-style: none;
    position: relative;
    color: $color-black;
    &::after {
      position: absolute;
      width: 9px;
      content: "";
      height: 9px;
      border-radius: 50%;
      left: -15px;
      top: 8px;
      background-color: $color-reddish-orange;
    }
  }
}
.sticky_header {
  .left-side {
    .logo {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
.left-side {
  .gotop {
    display: inline;
    transition: 0.3s all ease-in-out;
    transform: translateY(20px);
    opacity: 0;
    visibility: hidden;
    left: 50%;
    margin-left: -25px;
  }
  @media (max-width: 1200px) {
    display: none;
  }
}
.scroll-end {
  .left-side {
    .gotop {
      transform: translateY(0px);
      opacity: 1;
      visibility: visible;
    }
  }
}
.featured-services .row > div {
  a {
    &:hover {
      text-decoration: none;
    }
  }
}
.full_width_blockquote_wrapper {
  padding-bottom: 70px;
  .container {
    @media (max-width: 570px) {
      padding: 0px;
    }
  }
  @media (max-width: 570px) {
    padding-bottom: 40px;
  }
}
.contact address a {
  color: #000 !important;
  text-decoration: none !important;
}
section.off_grid_column .grid_item .detail_content h4 {
  @media (max-width: 990px) {
    font-weight: 400;
    font-size: 33px;
  }
}
.off_grid_column .grid_item .container{
  @media (max-width:570px) {
    padding: 0;
  }
}
.closeburger {
  width: 50px;
  background-color: $color-white;
  padding: 6px;
  cursor: pointer;
  display: none;
  margin-left: 30px;
  svg {
    fill: $color-reddish-orange;
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
  }
}
// body.overflow_desktop {
//   .scroller_container {
//     @media (min-width: 1200px) {
//       padding: 0 50px 0 100px;
//     }
//   }
//   .closeburger {
//     @media (min-width: 1200px) {
//       display: block;
//     }
//   }
//   .hamburger-menu {
//     @media (min-width: 1200px) {
//       display: none;
//     }
//   }
// }
.page-404 {
  h1 {
    font-size: 150px;
    color: $color-reddish-orange;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    @media (max-width: 570px) {
      font-size: 90px;
    }
  }
  h3 {
    font-size: 30px;
    color: $color-black;
    font-weight: 500;
    line-height: 1.4;
    text-align: center;
    @media (max-width: 570px) {
      font-size: 20px;
    }
  }
}
