.customHomeBannerDev {
  width: 100%;
  height: 572px;
  position: relative;
  // overflow: hidden;
  @media (max-width: 990px) {
    height: 100vh;
  }
  &::after {
    // content: "";
    // position: absolute;
    // z-index: 2;
    // inset: 0;
    // background: linear-gradient(82.5deg, rgba(#e74847, 0.5) 0%, #e74847 100%);
  }
  .bannerBgOverlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    object-fit: cover;
  }
  .bannerBgImage {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
  }
  .rightSideImage {
    position: absolute;
    right: 0;
    bottom: -75px;
    width: 40%;
    z-index: 5;
    height: 90%;
    object-fit: contain;
    animation: hovering 5s linear infinite;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .hoverBtn {
      opacity: 0;
      position: absolute;
      top: 160px;
      left: 38%;
      transform: translateX(-50%) rotate(-16deg);
    }
    &:hover {
      .hoverBtn {
        opacity: 1;
        background-color: #fff !important;
        color: #e74847  !important;
      }
    }
    @keyframes hovering {
      0%,
      100% {
        transform: translateY(0px);
      }
      50% {
        transform: translateY(-20px);
      }
    }
    @media (max-width: 1200px) {
    }
    @media (max-width: 990px) {
      width: 70%;
      height: 50%;
      bottom: 10px;
    }
    @media (max-width: 570px) {
      display: none;
    }
  }
  .headerContentWrapper {
    height: 100%;
    width: 100%;
    z-index: 5;
    position: relative;
    .container {
      display: flex;
      align-items: center;
      height: 100%;
      position: relative;
      @media (max-width: 990px) {
        align-items: flex-start;
      }
      @media (max-width: 570px) {
        align-items: center;
      }
      &::after {
        content: "";
        position: absolute;
        right: 43px;
        bottom: -125px;
        width: 40%;
        z-index: 4;
        height: 90%;
        background-image: url(../images/shadow.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        display: block;
        @media (max-width: 1200px) {
          right: 32px;
          opacity: 0.5;
        }
        @media (max-width: 990px) {
          display: none;
        }
      }
    }
    .contentInnerWrap {
      max-width: 58%;
      margin-top: 50px;
      @media (max-width: 990px) {
        margin-top: 200px;
        max-width: 100%;
      }
      @media (max-width: 570px) {
        margin-top: 0px;
      }
      h1 {
        font-weight: 300;
        text-align: left;
        margin-bottom: 10px;
        font-size: 42px;
        line-height: 1.4;
        color: #ffffff;
        @media (max-width: 1200px) {
          font-size: 30px;
        }
        @media (max-width: 990px) {
          font-size: 40px;
        }
        @media (max-width: 570px) {
          font-size: 25px;
          text-align: center;
        }
        span {
          display: inline;
          font-weight: 500;
          @media (max-width: 990px) {
            display: inline;
          }
        }
      }
      h6 {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.4;
        margin-bottom: 20px;
        color: #ffffff;
        @media (max-width: 1200px) {
          font-size: 14px;
        }
        @media (max-width: 990px) {
          font-size: 18px;
        }
        @media (max-width: 570px) {
          text-align: center;
        }
      }
      .customCtaBtn {
        @media (max-width: 570px) {
          margin: auto;
          display: block;
          width: max-content;
        }
      }
    }
  }
}
.customCtaBtn {
  background-color: #fff;
  border-radius: 1px;
  padding: 10px 15px;
  text-decoration: none !important;
  text-transform: uppercase;
  display: inline-block;
  color: #e74847 !important;
  font-weight: 500;
  font-size: 17px;
  line-height: 34px;
  border: 2px solid #fff;
  transition: 0.3s all ease-in-out;
  &:hover {
    @media (min-width: 1200px) {
      background-color: transparent;
      color: #fff !important;
    }
  }
  @media (max-width: 570px) {
    font-size: 16px;
    padding: 5px 10px;
  }
  &.redBtn {
    border: 1px solid #e74847;
    color: #e74847 !important;
    background-color: transparent;
    &:hover {
      @media (min-width: 1200px) {
        background-color: #e74847;
        color: #fff !important;
      }
    }
  }
}
header {
  // padding: 0 25px;
  // @media (max-width: 1200px) {
  //   padding: 0 15px;
  // }
  .top_header {
    width: 100%;
  }
  .navbar,
  .top_header {
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
    @media (max-width: 1200px) {
      max-width: 1140px;
    }
    @media (max-width: 992px) {
      max-width: 960px;
    }
    @media (max-width: 768px) {
      max-width: 720px;
    }
    @media (max-width: 576px) {
      max-width: 540px;
    }
  }
}
.navbar .logo.light {
  display: none;
}
body.page-template-page-home-new {
  .navbar .logo {
    display: none;
  }
  .navbar .logo.light {
    display: block;
  }
  .top_header ul.contact_phone a {
    color: #fff;
  }
  header {
    position: fixed;
    width: 100%;
    z-index: 100;
    @media (max-width: 1200px) {
      position: absolute;
    }
  }
  .navbar .main-menu ul li a {
    color: #fff;
  }
}
.navbar.light {
  .logo {
    @media (max-width: 990px) {
      display: block !important;
    }
  }
  .logo.light {
    @media (max-width: 990px) {
      display: none !important;
    }
  }
  @media (max-width: 990px) {
    background: transparent !important;
  }
  .logo a img {
    -webkit-filter: unset;
    filter: unset;
  }
  .main-menu ul li {
    a {
      color: $color-black;
      &:hover {
        color: $color-reddish-orange;
      }
    }
    .sub-menu li a {
      color: $color-white;
    }
  }
}
