.portfolio_listing {
  padding: 100px 0 50px;
  @media (max-width: 570px) {
    padding: 25px 0;
  }
  .titles {
    margin-bottom: 30px;
    h2 {
      line-height: 1;
      margin-bottom: 0;
      font-size: 46px;
      font-weight: 400;
      @media (max-width: 570px) {
        font-size: 33px;
      }
    }
    @media (max-width: 570px) {
      flex-flow: column !important;
      align-items: start !important;
    }
  }
}
.min_990 {
  @media (max-width: 990px) {
    display: none !important;
  }
}
.max_990 {
  @media (min-width: 990px) {
    display: none !important;
  }
}
.min_570 {
  @media (max-width: 570px) {
    display: none !important;
  }
}
.max_570 {
  @media (min-width: 570px) {
    display: none !important;
  }
}
.goto_inner {
  display: flex;
  align-items: center;
  color: $color-reddish-orange !important;
  font-weight: 600;
  line-height: 1.3;
  text-decoration: none !important;
  font-size: 16px;
  svg {
    width: 20px;
    height: auto;
    fill: $color-reddish-orange;
    transition: 0.3s all ease-in-out;
  }
  &:hover {
    svg {
      transform: translateX(10px);
    }
    text-decoration: none !important;
  }
}
.porfolio_list_row {
  margin: 0 -20px;
  .portfolio_list_cards {
    padding: 0 20px;
    margin-bottom: 60px;
    text-decoration: none !important;
    @media (max-width: 570pc) {
      margin-bottom: 30px;
    }
    figure {
      width: 100%;
      height: auto;
      aspect-ratio: 9/13;
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 20px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.6s all ease-in-out;
      }
    }
    h5 {
      font-size: 24px;
      font-weight: 600;
      line-height: 1.3;
      color: $color-black;
      margin-bottom: 10px;
      text-decoration: none !important;
    }
    span {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.3;
      color: $color-black;
      margin-bottom: 10px;
      display: block;
    }
    small {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.3;
      color: $color-black;
      display: block;
      margin-bottom: 10px;
    }
    &:hover {
      @media (min-width: 1200px) {
        figure {
          img {
            transform: scale(1.07);
          }
        }
      }
    }
  }
}
