.importance_of_maintenance {
  h2 {
    color: $color-reddish-orange;
  }
  .importance_of_maintenance_body
    .col-md-7
    .importance_of_maintenance_right-side
    li
    .importance-content {
    h5 {
      color: $color-reddish-orange;
    }
    p {
      color: $color-black;
    }
  }
}
.maintenance-objectives {
  h3 {
    color: $color-reddish-orange;
  }
  h5 {
    color: $color-black;
  }
  .row .col-md-4 .objective-wrap {
    h4 {
      color: $color-black;
    }
    p {
      color: $color-black;
    }
  }
}
.site_maintenance-plans {
  h3 {
    color: $color-reddish-orange;
  }
  .plans-body-content .row .col-md-6 .plans_left-side {
    h4 {
      color: $color-black;
    }
    .platform-name {
      h6 {
        color: $color-reddish-orange;
      }
      p {
        color: $color-black;
      }
    }
  }
}
.our-trusted-clients .clients-big-text-wrap .row .col-md-5 .client-big-txt h3 {
  color: $color-reddish-orange;
}
.maintenance-objectives {
  h3 {
    color: $color-reddish-orange;
  }
  h5 {
    color: $color-black;
  }
}
.free_quote_contact-form
  .get-in-touch-contact-form
  form
  .row
  .col-md-6
  .right-form-wrap
  .btn-sumbit-border {
  color: $color-reddish-orange;
  border: 2px solid $color-reddish-orange;
  &:hover {
    background-color: $color-reddish-orange;
    color: $color-white;
  }
}
.free_quote_contact-form .get-in-touch-contact-form form .row .col-md-6 {
  .left-form-wrap {
    fieldset {
      label input {
        border: 2px solid $color-reddish-orange;
        color: $color-reddish-orange;
        &::placeholder {
          color: $color-reddish-orange;
        }
      }
    }
  }
  .right-form-wrap {
    fieldset {
      textarea {
        border: 2px solid $color-reddish-orange;
        border-radius: 12px;
        color: $color-reddish-orange;
        &::placeholder {
          color: $color-reddish-orange;
        }
      }
    }
  }
}
.external_link {
  p {
    color: $color-black;
    a {
      font-weight: 500;
      color: $color-reddish-orange;
    }
  }
}
.contact-form-wrapper {
  .form_field {
    label {
      color: $color-reddish-orange;
    }
    input,
    textarea {
      border: 1px solid $color-black !important;
      color: $color-black;
      resize: none;
      &::placeholder {
        color: $color-black;
      }
    }
    .field-prefix {
      color: $color-black;
    }
  }
  input[type="submit"] {
    background-color: $color-reddish-orange;
    border: 1px solid $color-reddish-orange;
    color: $color-white;
    &:hover {
      @media (min-width: 1200px) {
        color: $color-reddish-orange;
        background-color: transparent;
      }
    }
  }
}
.contact {
  h5 {
    color: $color-reddish-orange;
  }
  address {
    color: $color-black;
  }
}
