.importance_of_maintenance {
  margin: 100px 0px 50px;
}
@media (max-width: 425px) {
  .importance_of_maintenance {
    margin: 40px 0px 50px;
  }
}
.importance_of_maintenance h2 {
  font-size: 80px;
  max-width: 1266px;
  text-align: center;
  font-weight: 400;
  margin: auto;
  line-height: 93px;
}
@media (max-width: 1440px) {
  .importance_of_maintenance h2 {
    font-size: 55px;
    max-width: 900px;
    line-height: 63px;
  }
}
@media (max-width: 768px) {
  .importance_of_maintenance h2 {
    font-size: 40px;
  }
}
@media (max-width: 425px) {
  .importance_of_maintenance h2 {
    font-size: 22px;
    line-height: 35px;
    font-weight: 500;
  }
}
.importance_of_maintenance .importance_of_maintenance_body {
  margin-top: 80px;
}
@media (max-width: 768px) {
  .importance_of_maintenance .importance_of_maintenance_body {
    margin-top: 50px;
  }
}
@media (max-width: 1024px) {
  .importance_of_maintenance .importance_of_maintenance_body .row {
    margin: 0;
  }
}
.importance_of_maintenance .importance_of_maintenance_body .col-md-5 {
  flex: 0 0 45%;
  max-width: 45%;
}
@media (max-width: 768px) {
  .importance_of_maintenance .importance_of_maintenance_body .col-md-5 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.importance_of_maintenance .importance_of_maintenance_body .col-md-5 .importance_of_maintenance_left-side {
  max-width: 85%;
  margin: auto;
}
@media (max-width: 1440px) {
  .importance_of_maintenance .importance_of_maintenance_body .col-md-5 .importance_of_maintenance_left-side {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .importance_of_maintenance .importance_of_maintenance_body .col-md-5 .importance_of_maintenance_left-side {
    max-width: 75%;
  }
}
.importance_of_maintenance .importance_of_maintenance_body .col-md-5 .importance_of_maintenance_left-side img {
  width: 100%;
}
.importance_of_maintenance .importance_of_maintenance_body .col-md-7 {
  flex: 0 0 55%;
  max-width: 55%;
}
@media (max-width: 768px) {
  .importance_of_maintenance .importance_of_maintenance_body .col-md-7 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (max-width: 425px) {
  .importance_of_maintenance .importance_of_maintenance_body .col-md-7 .importance_of_maintenance_right-side {
    padding-left: 0;
  }
}
.importance_of_maintenance .importance_of_maintenance_body .col-md-7 .importance_of_maintenance_right-side li {
  display: flex;
  margin-bottom: 60px;
}
@media (max-width: 425px) {
  .importance_of_maintenance .importance_of_maintenance_body .col-md-7 .importance_of_maintenance_right-side li {
    flex-flow: column;
    align-items: center;
    margin-bottom: 40px;
  }
}
.importance_of_maintenance .importance_of_maintenance_body .col-md-7 .importance_of_maintenance_right-side li .shield-image {
  width: 60px;
  margin-right: 30px;
  height: auto;
}
@media (max-width: 425px) {
  .importance_of_maintenance .importance_of_maintenance_body .col-md-7 .importance_of_maintenance_right-side li .shield-image {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}
.importance_of_maintenance .importance_of_maintenance_body .col-md-7 .importance_of_maintenance_right-side li .shield-image img {
  width: 100%;
}
.importance_of_maintenance .importance_of_maintenance_body .col-md-7 .importance_of_maintenance_right-side li .importance-content {
  max-width: 80%;
}
@media (max-width: 425px) {
  .importance_of_maintenance .importance_of_maintenance_body .col-md-7 .importance_of_maintenance_right-side li .importance-content {
    text-align: center;
    max-width: 100%;
  }
}
.importance_of_maintenance .importance_of_maintenance_body .col-md-7 .importance_of_maintenance_right-side li .importance-content h5 {
  font-size: 20px;
  font-weight: 600;
}
.importance_of_maintenance .importance_of_maintenance_body .col-md-7 .importance_of_maintenance_right-side li .importance-content p {
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
}
.importance_of_maintenance .importance_of_maintenance_body .col-md-7 .importance_of_maintenance_right-side li:last-child {
  margin-bottom: 0;
}

.maintenance-objectives {
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .maintenance-objectives {
    margin-bottom: 50px;
  }
}
.maintenance-objectives h3 {
  font-size: 60px;
  line-height: 68px;
  font-weight: 400;
  max-width: 820px;
  margin: auto;
  text-align: center;
}
@media (max-width: 768px) {
  .maintenance-objectives h3 {
    font-size: 39px;
  }
}
@media (max-width: 425px) {
  .maintenance-objectives h3 {
    font-size: 26px;
    line-height: 30px;
    font-weight: 500;
  }
}
.maintenance-objectives h5 {
  font-size: 20px;
  line-height: 31px;
  font-weight: 500;
  text-align: center;
}
@media (max-width: 425px) {
  .maintenance-objectives h5 {
    font-size: 15px;
    line-height: 20px;
    margin-top: 8px;
  }
}
.maintenance-objectives .row {
  margin-top: 100px;
}
@media (max-width: 1024px) {
  .maintenance-objectives .row {
    margin: 0;
    margin-top: 100px;
  }
}
@media (max-width: 768px) {
  .maintenance-objectives .row {
    margin-top: 50px;
  }
}
@media (max-width: 435px) {
  .maintenance-objectives .row {
    margin-top: 30px;
  }
}
.maintenance-objectives .row .col-md-4 {
  margin-bottom: 80px;
}
@media (max-width: 1024px) {
  .maintenance-objectives .row .col-md-4 {
    flex: 0 0 50%;
    margin-bottom: 30px;
    max-width: 50%;
  }
}
@media (max-width: 768px) {
  .maintenance-objectives .row .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.maintenance-objectives .row .col-md-4 .objective-wrap {
  max-width: 70%;
  margin: auto;
}
@media (max-width: 1440px) {
  .maintenance-objectives .row .col-md-4 .objective-wrap {
    max-width: 80%;
  }
}
@media (max-width: 1024px) {
  .maintenance-objectives .row .col-md-4 .objective-wrap {
    max-width: 100%;
  }
}
@media (max-width: 425px) {
  .maintenance-objectives .row .col-md-4 .objective-wrap {
    text-align: center;
  }
}
.maintenance-objectives .row .col-md-4 .objective-wrap h4 {
  font-size: 20px;
  margin-bottom: 15px;
  line-height: 25px;
  font-weight: 600;
}
.maintenance-objectives .row .col-md-4 .objective-wrap p {
  font-size: 17px;
  line-height: 26px;
  font-weight: 400;
}

.site_maintenance-plans {
  margin-bottom: 100px;
}
@media (max-width: 425px) {
  .site_maintenance-plans {
    margin-bottom: 50px;
  }
}
.site_maintenance-plans h3 {
  max-width: 980px;
  text-align: center;
  margin: auto;
  font-size: 60px;
  line-height: 68px;
  font-weight: 400;
}
@media (max-width: 768px) {
  .site_maintenance-plans h3 {
    max-width: 700px;
    font-size: 39px;
    line-height: 50px;
  }
}
@media (max-width: 425px) {
  .site_maintenance-plans h3 {
    font-size: 26px;
    font-weight: 500;
    line-height: 30px;
  }
}
.site_maintenance-plans .plans-body-content {
  margin: 45px auto 0px;
  max-width: 42%;
}
@media (max-width: 1440px) {
  .site_maintenance-plans .plans-body-content {
    max-width: 55%;
  }
}
@media (max-width: 1440px) {
  .site_maintenance-plans .plans-body-content {
    max-width: 55%;
  }
}
.site_maintenance-plans .plans-body-content .row {
  margin: 0;
}
.site_maintenance-plans .plans-body-content .row .col-md-6 {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0;
}
.site_maintenance-plans .plans-body-content .row .col-md-6 .plans_left-side {
  text-align: center;
}
@media (max-width: 425px) {
  .site_maintenance-plans .plans-body-content .row .col-md-6 .plans_left-side {
    text-align: center;
  }
}
.site_maintenance-plans .plans-body-content .row .col-md-6 .plans_left-side h4 {
  font-size: 20px;
  line-height: 36px;
  font-weight: 600;
  padding-bottom: 30px;
}
@media (max-width: 425px) {
  .site_maintenance-plans .plans-body-content .row .col-md-6 .plans_left-side h4 {
    padding-right: 0px;
    padding-bottom: 10px;
    font-size: 24px;
  }
}
.site_maintenance-plans .plans-body-content .row .col-md-6 .plans_left-side .platform-name {
  margin-bottom: 50px;
}
@media (max-width: 425px) {
  .site_maintenance-plans .plans-body-content .row .col-md-6 .plans_left-side .platform-name {
    margin-right: 0px;
    margin-bottom: 30px;
  }
}
.site_maintenance-plans .plans-body-content .row .col-md-6 .plans_left-side .platform-name h6 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
@media (max-width: 425px) {
  .site_maintenance-plans .plans-body-content .row .col-md-6 .plans_left-side .platform-name h6 {
    margin-bottom: 5px;
  }
}
.site_maintenance-plans .plans-body-content .row .col-md-6 .plans_left-side .platform-name p {
  font-size: 17px;
  line-height: 26px;
  font-weight: 400;
}
@media (max-width: 425px) {
  .site_maintenance-plans .plans-body-content .row .col-md-6 .plans_left-side .platform-name p {
    line-height: 22px;
  }
}
@media (max-width: 425px) {
  .site_maintenance-plans .plans-body-content .row .col-md-6 .plans_right-side {
    text-align: center;
  }
}
.site_maintenance-plans .plans-body-content .row .col-md-6 .plans_right-side h4 {
  font-size: 20px;
  line-height: 36px;
  font-weight: 600;
  padding-left: 20px;
  padding-bottom: 30px;
}
@media (max-width: 425px) {
  .site_maintenance-plans .plans-body-content .row .col-md-6 .plans_right-side h4 {
    padding-left: 0px;
    font-size: 24px;
    padding-bottom: 10px;
  }
}
.site_maintenance-plans .plans-body-content .row .col-md-6 .plans_right-side ul {
  margin-left: 50px;
  padding: 0;
}
@media (max-width: 425px) {
  .site_maintenance-plans .plans-body-content .row .col-md-6 .plans_right-side ul {
    margin-left: 0px;
  }
}
.site_maintenance-plans .plans-body-content .row .col-md-6 .plans_right-side ul li {
  margin-bottom: 30px;
  list-style: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}
@media (max-width: 425px) {
  .site_maintenance-plans .plans-body-content .row .col-md-6 .plans_right-side ul li {
    margin-bottom: 5px;
  }
}

.our-trusted-clients {
  margin-bottom: 100px;
}
@media (max-width: 425px) {
  .our-trusted-clients {
    margin-bottom: 50px;
  }
}
@media (max-width: 1024px) {
  .our-trusted-clients .clients-big-text-wrap .row {
    margin: 0;
  }
}
@media (max-width: 425px) {
  .our-trusted-clients .clients-big-text-wrap .row {
    flex-flow: column;
  }
}
.our-trusted-clients .clients-big-text-wrap .row .col-md-5 {
  flex: 0 0 45%;
  max-width: 45%;
}
@media (max-width: 425px) {
  .our-trusted-clients .clients-big-text-wrap .row .col-md-5 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.our-trusted-clients .clients-big-text-wrap .row .col-md-5 .client-big-txt {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.our-trusted-clients .clients-big-text-wrap .row .col-md-5 .client-big-txt h3 {
  font-size: 67px;
  line-height: 87px;
  font-weight: 400;
}
@media (max-width: 1440px) {
  .our-trusted-clients .clients-big-text-wrap .row .col-md-5 .client-big-txt h3 {
    font-size: 51px;
    line-height: 64px;
    font-weight: 400;
  }
}
@media (max-width: 1366px) {
  .our-trusted-clients .clients-big-text-wrap .row .col-md-5 .client-big-txt h3 {
    font-size: 48px;
    line-height: 56px;
  }
}
@media (max-width: 1280px) {
  .our-trusted-clients .clients-big-text-wrap .row .col-md-5 .client-big-txt h3 {
    font-size: 43px;
    line-height: 56px;
  }
}
@media (max-width: 1024px) {
  .our-trusted-clients .clients-big-text-wrap .row .col-md-5 .client-big-txt h3 {
    font-size: 40px;
    line-height: 50px;
  }
}
@media (max-width: 768px) {
  .our-trusted-clients .clients-big-text-wrap .row .col-md-5 .client-big-txt h3 {
    font-size: 29px;
    line-height: 40px;
  }
}
.our-trusted-clients .clients-big-text-wrap .row .col-md-7 {
  flex: 0 0 55%;
  max-width: 55%;
}
@media (max-width: 425px) {
  .our-trusted-clients .clients-big-text-wrap .row .col-md-7 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.our-trusted-clients .clients-big-text-wrap .row .col-md-7 .client-slider-section {
  position: relative;
}
.our-trusted-clients .clients-big-text-wrap .row .col-md-7 .client-slider-section .laptop-image {
  width: 100%;
}
.our-trusted-clients .clients-big-text-wrap .row .col-md-7 .client-slider-section .laptop-image img {
  width: 100%;
}
.our-trusted-clients .clients-big-text-wrap .row .col-md-7 .client-slider-section ul.client-slider-wrap {
  position: absolute;
  top: 33px;
  left: 51.5%;
  transform: translate(-51.5%, 0px);
  width: 578px;
  height: 366px;
  padding: 0;
}
.our-trusted-clients .trusted-client-logo-row {
  background-color: #fff;
  padding: 25px 50px;
  height: 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  margin-top: -60px;
}
@media (max-width: 1440px) {
  .our-trusted-clients .trusted-client-logo-row {
    margin-top: -45px;
  }
}
@media (max-width: 1366px) {
  .our-trusted-clients .trusted-client-logo-row {
    margin-top: -42px;
  }
}
@media (max-width: 1024px) {
  .our-trusted-clients .trusted-client-logo-row {
    overflow: hidden;
    flex-wrap: wrap;
    height: auto;
    margin-top: -39px;
  }
}
@media (max-width: 768px) {
  .our-trusted-clients .trusted-client-logo-row {
    margin-top: -33px;
  }
}
@media (max-width: 425px) {
  .our-trusted-clients .trusted-client-logo-row {
    padding: 25px 30px;
    margin-top: -30px;
  }
}
.our-trusted-clients .trusted-client-logo-row::-webkit-scrollbar {
  height: 7px;
  width: 100%;
}
.our-trusted-clients .trusted-client-logo-row::-webkit-scrollbar-track {
  background-color: #FEB382;
  border: 1px solid #FEB382;
}
.our-trusted-clients .trusted-client-logo-row::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
}
.our-trusted-clients .trusted-client-logo-row .client-logo {
  flex: 0 0 16.66%;
  max-width: 16.66%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
@media (max-width: 1366px) {
  .our-trusted-clients .trusted-client-logo-row .client-logo {
    flex: 0 0 13%;
    max-width: 13%;
  }
}
@media (max-width: 1024px) {
  .our-trusted-clients .trusted-client-logo-row .client-logo {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 15px;
  }
}
@media (max-width: 425px) {
  .our-trusted-clients .trusted-client-logo-row .client-logo {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.our-trusted-clients .trusted-client-logo-row .client-logo img {
  height: 100%;
  width: 100%;
}

.free_quote_contact-form {
  padding-top: 50px;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .free_quote_contact-form {
    padding-top: 0px;
  }
}
.free_quote_contact-form .get-in-touch-contact-form form .row .col-md-6 .left-form-wrap {
  width: 674px;
  margin: auto;
}
@media (max-width: 1440px) {
  .free_quote_contact-form .get-in-touch-contact-form form .row .col-md-6 .left-form-wrap {
    width: 90%;
  }
}
@media (max-width: 1024px) {
  .free_quote_contact-form .get-in-touch-contact-form form .row .col-md-6 .left-form-wrap {
    width: 100%;
  }
}
.free_quote_contact-form .get-in-touch-contact-form form .row .col-md-6 .left-form-wrap fieldset {
  height: 74px;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .free_quote_contact-form .get-in-touch-contact-form form .row .col-md-6 .left-form-wrap fieldset {
    height: 60px;
  }
}
@media (max-width: 425px) {
  .free_quote_contact-form .get-in-touch-contact-form form .row .col-md-6 .left-form-wrap fieldset {
    margin-bottom: 20px;
  }
}
.free_quote_contact-form .get-in-touch-contact-form form .row .col-md-6 .left-form-wrap fieldset label {
  width: 100%;
  border-radius: 12px;
  height: 100%;
  overflow: hidden !important;
}
.free_quote_contact-form .get-in-touch-contact-form form .row .col-md-6 .left-form-wrap fieldset label input {
  width: 100%;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #595959;
  padding-left: 35px;
  height: 100%;
}
@media (max-width: 768px) {
  .free_quote_contact-form .get-in-touch-contact-form form .row .col-md-6 .left-form-wrap fieldset label input {
    font-size: 17px;
    line-height: 24px;
  }
}
.free_quote_contact-form .get-in-touch-contact-form form .row .col-md-6 .left-form-wrap fieldset label input::placeholder {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #595959;
}
@media (max-width: 768px) {
  .free_quote_contact-form .get-in-touch-contact-form form .row .col-md-6 .left-form-wrap fieldset label input::placeholder {
    font-size: 17px;
    line-height: 24px;
  }
}
.free_quote_contact-form .get-in-touch-contact-form form .row .col-md-6 .right-form-wrap {
  width: 674px;
  margin: auto;
}
@media (max-width: 1440px) {
  .free_quote_contact-form .get-in-touch-contact-form form .row .col-md-6 .right-form-wrap {
    width: 90%;
  }
}
@media (max-width: 1024px) {
  .free_quote_contact-form .get-in-touch-contact-form form .row .col-md-6 .right-form-wrap {
    width: 100%;
  }
}
.free_quote_contact-form .get-in-touch-contact-form form .row .col-md-6 .right-form-wrap fieldset {
  border-radius: 12px;
  margin-bottom: 50px;
  overflow: hidden;
  height: auto;
  height: 200px;
}
@media (max-width: 768px) {
  .free_quote_contact-form .get-in-touch-contact-form form .row .col-md-6 .right-form-wrap fieldset {
    height: 165px;
  }
}
@media (max-width: 425px) {
  .free_quote_contact-form .get-in-touch-contact-form form .row .col-md-6 .right-form-wrap fieldset {
    margin-bottom: 20px;
  }
}
.free_quote_contact-form .get-in-touch-contact-form form .row .col-md-6 .right-form-wrap fieldset textarea {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #595959;
  padding-left: 35px;
  height: 100%;
}
@media (max-width: 768px) {
  .free_quote_contact-form .get-in-touch-contact-form form .row .col-md-6 .right-form-wrap fieldset textarea {
    font-size: 17px;
    line-height: 24px;
  }
}
.free_quote_contact-form .get-in-touch-contact-form form .row .col-md-6 .right-form-wrap fieldset textarea::placeholder {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #595959;
}
@media (max-width: 768px) {
  .free_quote_contact-form .get-in-touch-contact-form form .row .col-md-6 .right-form-wrap fieldset textarea::placeholder {
    font-size: 17px;
    line-height: 24px;
  }
}
.free_quote_contact-form .get-in-touch-contact-form form .row .col-md-6 .right-form-wrap .btn-sumbit-border {
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
  color: #fff;
  float: right;
  height: 74px;
  border: 2px solid #fff;
  border-radius: 12px;
  background-color: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 220px;
  text-align: right;
  transition: 0.3s all ease-in-out;
}
@media (max-width: 1440px) {
  .free_quote_contact-form .get-in-touch-contact-form form .row .col-md-6 .right-form-wrap .btn-sumbit-border {
    min-width: auto;
    height: auto;
    font-size: 19px;
    padding: 5px 20px;
  }
}
.free_quote_contact-form .get-in-touch-contact-form form .row .col-md-6 .right-form-wrap .btn-sumbit-border:hover {
  background-color: #fff;
  color: #F93F30;
}

@media (max-width: 425px) {
  .wordpress-white-banner {
    width: 100%;
  }
}
.wordpress-white-banner .wordpress-white-banner-wrap {
  background-color: #fff;
  padding: 150px 90px 130px;
  background-position-x: 85%;
  background-position-y: 90%;
  background-repeat: no-repeat;
  background-size: auto 90%;
}
@media (max-width: 1440px) {
  .wordpress-white-banner .wordpress-white-banner-wrap {
    background-size: auto 77%;
  }
}
@media (max-width: 1366px) {
  .wordpress-white-banner .wordpress-white-banner-wrap {
    padding: 120px 50px 100px;
  }
}
@media (max-width: 768px) {
  .wordpress-white-banner .wordpress-white-banner-wrap {
    padding: 350px 40px 45px;
    background-size: auto 280px;
    background-position-x: 20%;
    background-position-y: 13%;
    text-align: center;
  }
}
@media (max-width: 425px) {
  .wordpress-white-banner .wordpress-white-banner-wrap {
    padding: 250px 30px 45px;
    background-size: auto 180px;
    background-position-x: 50%;
    background-position-y: 9%;
  }
}
.wordpress-white-banner .wordpress-white-banner-wrap h1 {
  color: #F8444F;
  font-size: 60px;
  line-height: 75px;
  font-weight: 600;
  max-width: 617px;
  margin: 0;
  margin-bottom: 30px;
}
@media (max-width: 1440px) {
  .wordpress-white-banner .wordpress-white-banner-wrap h1 {
    font-size: 45px;
    max-width: 407px;
    line-height: 60px;
  }
}
@media (max-width: 768px) {
  .wordpress-white-banner .wordpress-white-banner-wrap h1 {
    max-width: 100%;
  }
}
@media (max-width: 425px) {
  .wordpress-white-banner .wordpress-white-banner-wrap h1 {
    font-size: 33px;
    line-height: 50px;
    margin-bottom: 15px;
  }
}
.wordpress-white-banner .wordpress-white-banner-wrap p {
  color: #191919;
  font-size: 25px;
  line-height: 33px;
  font-weight: 500;
  max-width: 720px;
  margin: 0;
  margin-bottom: 35px;
}
@media (max-width: 1440px) {
  .wordpress-white-banner .wordpress-white-banner-wrap p {
    font-size: 21px;
    max-width: 607px;
    line-height: 30px;
  }
}
@media (max-width: 768px) {
  .wordpress-white-banner .wordpress-white-banner-wrap p {
    max-width: 100%;
  }
}
@media (max-width: 425px) {
  .wordpress-white-banner .wordpress-white-banner-wrap p {
    font-size: 16px;
    line-height: 25px;
  }
}
.wordpress-white-banner .wordpress-white-banner-wrap a.wp_boder-btn {
  color: #F8444F;
  font-size: 20px;
  line-height: 35px;
  font-weight: 600;
  padding: 15px 45px;
  border: #191919 1px solid;
  text-decoration: none;
}
@media (max-width: 1366px) {
  .wordpress-white-banner .wordpress-white-banner-wrap a.wp_boder-btn {
    font-size: 19px;
    padding: 10px 25px;
  }
}
.wordpress-white-banner .wordpress-white-banner-wrap a.wp_boder-btn:hover {
  text-decoration: none;
  color: #fff;
  background-color: #F8444F;
}

@media (max-width: 425px) {
  section.why_choose-us {
    width: 100%;
  }
}
section.why_choose-us .why_choose-us-wrap {
  margin-top: 135px;
}
@media (max-width: 1024px) {
  section.why_choose-us .why_choose-us-wrap {
    padding: 0px 20px;
  }
}
@media (max-width: 1024px) {
  section.why_choose-us .why_choose-us-wrap {
    margin-top: 80px;
  }
}
section.why_choose-us .why_choose-us-wrap h2 {
  font-size: 50px;
  line-height: 60px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
}
@media (max-width: 425px) {
  section.why_choose-us .why_choose-us-wrap h2 {
    font-size: 40px;
    line-height: 50px;
  }
}
section.why_choose-us .why_choose-us-wrap p {
  max-width: 1485px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-align: center;
  margin: auto;
}
@media (max-width: 1440px) {
  section.why_choose-us .why_choose-us-wrap p {
    font-size: 21px;
    line-height: 30px;
  }
}
@media (max-width: 425px) {
  section.why_choose-us .why_choose-us-wrap p {
    font-size: 19px;
    line-height: 30px;
  }
}
section.why_choose-us .why_choose-us-wrap .pixel_specialities {
  padding-top: 80px;
}
@media (max-width: 1024px) {
  section.why_choose-us .why_choose-us-wrap .pixel_specialities {
    padding-top: 40px;
  }
}
@media (max-width: 1024px) {
  section.why_choose-us .why_choose-us-wrap .pixel_specialities .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }
}
section.why_choose-us .why_choose-us-wrap .pixel_specialities .row .col-md-2 {
  flex: 0 0 460px;
  max-width: 460px;
  padding: 0;
}
section.why_choose-us .why_choose-us-wrap .pixel_specialities .row .col-md-2 .centred-image {
  width: 100%;
}
section.why_choose-us .why_choose-us-wrap .pixel_specialities .row .col-md-2 .centred-image img {
  width: 100%;
}
@media (max-width: 1440px) {
  section.why_choose-us .why_choose-us-wrap .pixel_specialities .row .col-md-2 {
    max-width: 400px;
  }
}
@media (max-width: 1366px) {
  section.why_choose-us .why_choose-us-wrap .pixel_specialities .row .col-md-2 {
    max-width: 350px;
    margin: 0 -20px;
  }
}
@media (max-width: 1024px) {
  section.why_choose-us .why_choose-us-wrap .pixel_specialities .row .col-md-2 {
    flex: 0 0 100%;
    max-width: 100%;
    order: 1;
  }
  section.why_choose-us .why_choose-us-wrap .pixel_specialities .row .col-md-2 .centred-image {
    width: 50%;
    margin: auto;
  }
}
@media (max-width: 425px) {
  section.why_choose-us .why_choose-us-wrap .pixel_specialities .row .col-md-2 {
    margin: 0;
  }
  section.why_choose-us .why_choose-us-wrap .pixel_specialities .row .col-md-2 .centred-image {
    width: 90%;
    margin: auto;
  }
}
section.why_choose-us .why_choose-us-wrap .pixel_specialities .row .col-md-5 {
  flex: 1;
}
@media (max-width: 1024px) {
  section.why_choose-us .why_choose-us-wrap .pixel_specialities .row .col-md-5 {
    flex: 0 0 50%;
    max-width: 50%;
    order: 2;
  }
}
@media (max-width: 425px) {
  section.why_choose-us .why_choose-us-wrap .pixel_specialities .row .col-md-5 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
section.why_choose-us .why_choose-us-wrap .pixel_specialities .row .col-md-5 ul.speicial-points {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: center;
}
section.why_choose-us .why_choose-us-wrap .pixel_specialities .row .col-md-5 ul.speicial-points li {
  font-size: 24px;
  line-height: 37px;
  margin-bottom: 40px;
  font-weight: 500;
}
@media (max-width: 1440px) {
  section.why_choose-us .why_choose-us-wrap .pixel_specialities .row .col-md-5 ul.speicial-points li {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
  }
}
@media (max-width: 425px) {
  section.why_choose-us .why_choose-us-wrap .pixel_specialities .row .col-md-5 ul.speicial-points li {
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 15px;
  }
}
section.why_choose-us .why_choose-us-wrap .pixel_specialities .row .col-md-5 ul.speicial-points li:nth-child(2) {
  padding-left: 30px;
}
section.why_choose-us .why_choose-us-wrap .pixel_specialities .row .col-md-5 ul.speicial-points li:nth-child(3) {
  padding-left: 60px;
}
section.why_choose-us .why_choose-us-wrap .pixel_specialities .row .col-md-5 ul.speicial-points li:nth-child(4) {
  padding-left: 60px;
}
section.why_choose-us .why_choose-us-wrap .pixel_specialities .row .col-md-5 ul.speicial-points li:nth-child(5) {
  padding-left: 30px;
}
section.why_choose-us .why_choose-us-wrap .pixel_specialities .row .col-md-5 ul.speicial-points li:last-child {
  margin: 0;
}
@media (max-width: 1024px) {
  section.why_choose-us .why_choose-us-wrap .pixel_specialities .row .col-md-5 ul.speicial-points li {
    text-align: left;
    padding: 0 !important;
    list-style: disc;
  }
}
section.why_choose-us .why_choose-us-wrap .pixel_specialities .row .col-md-5 ul.speicial-points.points-left {
  text-align: right;
}
section.why_choose-us .why_choose-us-wrap .pixel_specialities .row .col-md-5 ul.speicial-points.points-left li {
  padding-left: 0;
}
section.why_choose-us .why_choose-us-wrap .pixel_specialities .row .col-md-5 ul.speicial-points.points-left li:nth-child(2) {
  padding-right: 30px;
}
section.why_choose-us .why_choose-us-wrap .pixel_specialities .row .col-md-5 ul.speicial-points.points-left li:nth-child(3) {
  padding-right: 60px;
}
section.why_choose-us .why_choose-us-wrap .pixel_specialities .row .col-md-5 ul.speicial-points.points-left li:nth-child(4) {
  padding-right: 60px;
}
section.why_choose-us .why_choose-us-wrap .pixel_specialities .row .col-md-5 ul.speicial-points.points-left li:nth-child(5) {
  padding-right: 30px;
}
section.why_choose-us .why_choose-us-wrap .pixel_specialities .row .col-md-5 ul.speicial-points.points-left li:last-child {
  margin: 0;
}
@media (max-width: 1024px) {
  section.why_choose-us .why_choose-us-wrap .pixel_specialities .row .col-md-5 ul.speicial-points.points-left li {
    padding-right: 0;
  }
}
@media (max-width: 1024px) {
  section.why_choose-us .why_choose-us-wrap .pixel_specialities .row .col-md-5 ul.speicial-points.points-left {
    text-align: left;
  }
}

section.our-recent-projects {
  margin-top: 170px;
}
@media (max-width: 768px) {
  section.our-recent-projects {
    margin-top: 80px;
  }
}
@media (max-width: 425px) {
  section.our-recent-projects {
    width: 100%;
  }
}
section.our-recent-projects .our-recent-projects-wrap {
  padding: 0px 30px;
}
@media (max-width: 425px) {
  section.our-recent-projects .our-recent-projects-wrap {
    padding: 0px 20px;
  }
}
section.our-recent-projects .our-recent-projects-wrap h2 {
  font-size: 65px;
  line-height: 60px;
  font-weight: 600;
}
@media (max-width: 1440px) {
  section.our-recent-projects .our-recent-projects-wrap h2 {
    font-size: 55px;
  }
}
@media (max-width: 425px) {
  section.our-recent-projects .our-recent-projects-wrap h2 {
    font-size: 35px;
    line-height: 40px;
  }
}
section.our-recent-projects .our-recent-projects-wrap h3 {
  font-size: 50px;
  line-height: 60px;
  font-weight: 400;
}
@media (max-width: 1440px) {
  section.our-recent-projects .our-recent-projects-wrap h3 {
    font-size: 42px;
  }
}
@media (max-width: 425px) {
  section.our-recent-projects .our-recent-projects-wrap h3 {
    font-size: 30px;
    line-height: 40px;
  }
}
section.our-recent-projects .our-recent-projects-wrap .row {
  padding-top: 55px;
}
@media (max-width: 425px) {
  section.our-recent-projects .our-recent-projects-wrap .row {
    padding-top: 25px;
  }
}
section.our-recent-projects .our-recent-projects-wrap .row .col-md-3 {
  position: relative;
  margin-bottom: 300px;
}
@media (max-width: 1366PX) {
  section.our-recent-projects .our-recent-projects-wrap .row .col-md-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 425px) {
  section.our-recent-projects .our-recent-projects-wrap .row .col-md-3 {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
    padding-bottom: 25px;
    border-bottom: 1px solid #fff;
  }
  section.our-recent-projects .our-recent-projects-wrap .row .col-md-3:last-child {
    border-bottom: none;
  }
}
section.our-recent-projects .our-recent-projects-wrap .row .col-md-3 .project-image-wrap {
  width: 100%;
}
section.our-recent-projects .our-recent-projects-wrap .row .col-md-3 .project-image-wrap img {
  width: 100%;
}
@media (max-width: 768px) {
  section.our-recent-projects .our-recent-projects-wrap .row .col-md-3 .project-image-wrap {
    max-height: 280px;
    overflow-y: auto;
  }
}
section.our-recent-projects .our-recent-projects-wrap .row .col-md-3 .project-details-wrap {
  position: absolute;
  top: 105%;
  width: calc(100% - 30px);
}
@media (max-width: 1024px) {
  section.our-recent-projects .our-recent-projects-wrap .row .col-md-3 .project-details-wrap {
    top: 102%;
  }
}
@media (max-width: 768px) {
  section.our-recent-projects .our-recent-projects-wrap .row .col-md-3 .project-details-wrap {
    top: 112%;
  }
}
@media (max-width: 425px) {
  section.our-recent-projects .our-recent-projects-wrap .row .col-md-3 .project-details-wrap {
    position: static;
    padding-top: 20px;
    width: 100%;
  }
}
section.our-recent-projects .our-recent-projects-wrap .row .col-md-3 .project-details-wrap h5 {
  font-size: 24px;
  line-height: 26px;
  font-weight: 600;
  margin: 0;
  padding-bottom: 5px;
}
@media (max-width: 1440px) {
  section.our-recent-projects .our-recent-projects-wrap .row .col-md-3 .project-details-wrap h5 {
    font-size: 17px;
    line-height: 23px;
  }
}
@media (max-width: 1440px) {
  section.our-recent-projects .our-recent-projects-wrap .row .col-md-3 .project-details-wrap h5 {
    font-size: 24px;
    line-height: 30px;
  }
}
section.our-recent-projects .our-recent-projects-wrap .row .col-md-3 .project-details-wrap a {
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
  padding-bottom: 15px;
  text-decoration: none;
  display: block;
}
@media (max-width: 1440px) {
  section.our-recent-projects .our-recent-projects-wrap .row .col-md-3 .project-details-wrap a {
    font-size: 17px;
  }
}
section.our-recent-projects .our-recent-projects-wrap .row .col-md-3 .project-details-wrap a:hover {
  text-decoration: none;
}
section.our-recent-projects .our-recent-projects-wrap .row .col-md-3 .project-details-wrap p {
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (max-width: 1440px) {
  section.our-recent-projects .our-recent-projects-wrap .row .col-md-3 .project-details-wrap p {
    font-size: 17px;
    line-height: 26px;
  }
}

section.contactform-wp {
  margin: 0px 0px 100px;
  padding-top: 135px;
}
section.contactform-wp .get-in-touch-contact-form form {
  max-width: 1535px;
  margin: auto;
}
@media (max-width: 1024px) {
  section.contactform-wp .get-in-touch-contact-form form .row {
    margin: 0;
  }
}
@media (max-width: 425px) {
  section.contactform-wp .get-in-touch-contact-form form .row .col-md-6 .left-form-wrap {
    margin-bottom: 15px;
  }
}
section.contactform-wp .get-in-touch-contact-form form .row .col-md-6 fieldset {
  margin-bottom: 40px;
}
@media (max-width: 425px) {
  section.contactform-wp .get-in-touch-contact-form form .row .col-md-6 fieldset {
    margin-bottom: 20px;
  }
}
section.contactform-wp .get-in-touch-contact-form form .row .col-md-6 fieldset label {
  width: 100%;
}
section.contactform-wp .get-in-touch-contact-form form .row .col-md-6 fieldset label input {
  width: 100%;
  height: 65px;
  border-radius: 5px;
}
section.contactform-wp .get-in-touch-contact-form form .row .col-md-6 fieldset label input::placeholder {
  color: #6A6A6A;
  font-size: 20px;
  line-height: 25px;
}
section.contactform-wp .get-in-touch-contact-form form .row .col-md-6 fieldset textarea {
  border-radius: 5px;
  height: 175px;
}
section.contactform-wp .get-in-touch-contact-form form .row .col-md-6 fieldset textarea::placeholder {
  color: #6A6A6A;
  font-size: 20px;
  line-height: 25px;
}
section.contactform-wp .get-in-touch-contact-form form .row .col-md-6 fieldset:last-child {
  margin: 0;
}
section.contactform-wp .get-in-touch-contact-form form .btn-sumbit-border {
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
  color: #fff;
  height: 74px;
  margin: 70px auto 0px;
  border: 2px solid #fff;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 220px;
  text-align: right;
  transition: 0.3s all ease-in-out;
}
@media (max-width: 1440px) {
  section.contactform-wp .get-in-touch-contact-form form .btn-sumbit-border {
    min-width: auto;
    height: auto;
    font-size: 19px;
    padding: 5px 20px;
  }
}
@media (max-width: 425px) {
  section.contactform-wp .get-in-touch-contact-form form .btn-sumbit-border {
    margin: 20px auto 0px;
  }
}
section.contactform-wp .get-in-touch-contact-form form .btn-sumbit-border:hover {
  background-color: #fff;
  color: #F93F30;
}

section.testimonials-slider {
  margin-top: 110px;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 85px 0 65px;
}
@media (max-width: 1440px) {
  section.testimonials-slider {
    margin-top: 70px;
  }
}
@media (max-width: 425px) {
  section.testimonials-slider {
    width: 100%;
  }
}
section.testimonials-slider .testimonials-slider-wrap .testimony {
  padding: 0 20px;
}
section.testimonials-slider .testimonials-slider-wrap .testimony .img-wrap {
  width: 112px;
  margin: auto auto 40px;
}
section.testimonials-slider .testimonials-slider-wrap .testimony .img-wrap img {
  width: 100%;
}
section.testimonials-slider .testimonials-slider-wrap .testimony h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
  padding-bottom: 23px;
  text-align: center;
}
section.testimonials-slider .testimonials-slider-wrap .testimony p {
  font-size: 24px;
  font-weight: 500;
  line-height: 37px;
  text-align: center;
  max-width: 1360px;
  margin: auto;
  padding-bottom: 40px;
}
@media (max-width: 1440px) {
  section.testimonials-slider .testimonials-slider-wrap .testimony p {
    max-width: 1110px;
    font-size: 19px;
    line-height: 29px;
  }
}
section.testimonials-slider .testimonials-slider-wrap .testimony h3 {
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
}
section.testimonials-slider .testimonials-slider-wrap .slick-dots {
  display: flex !important;
  justify-content: center;
  padding: 0;
  padding-top: 100px;
  list-style: none;
}
@media (max-width: 1366px) {
  section.testimonials-slider .testimonials-slider-wrap .slick-dots {
    padding-top: 50px;
  }
}
section.testimonials-slider .testimonials-slider-wrap .slick-dots li {
  list-style-type: none;
  width: 15px;
  height: 15px;
  border: 3px solid #fff;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #fff;
  transition: 0.3s all ease-in-out;
}
section.testimonials-slider .testimonials-slider-wrap .slick-dots li button {
  display: none;
}
section.testimonials-slider .testimonials-slider-wrap .slick-dots li.slick-active {
  background-color: #FA4726;
}

.navbar .custom_hamburger {
  width: 50px;
  height: 50px;
  display: inline-flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  transition: 0.5s all ease-out;
}
.navbar .custom_hamburger span.hamburger_line {
  width: 22px;
  display: block;
  margin-bottom: 5px;
  height: 2px;
  background-color: #282828;
  transition: all 0.1s ease-in-out;
}
.navbar .custom_hamburger span.hamburger_line:last-child {
  margin-bottom: 0;
}
.navbar .custom_hamburger:hover span.hamburger_line:nth-child(2) {
  animation: shrink forwards;
  animation-duration: 0.15s;
}
@keyframes shrink {
  0% {
    width: 22px;
  }
  70% {
    width: 9px;
  }
  100% {
    width: 13px;
  }
}
.navbar .custom_hamburger:hover span.hamburger_line:first-child {
  transform: translateY(-2px);
}
.navbar .custom_hamburger:hover span.hamburger_line:nth-child(3) {
  transform: translateY(2px);
}

body.overflow .navbar.light .custom_hamburger span.hamburger_line:first-child {
  transform: rotate(45deg) translate(3px, 2px);
}
body.overflow .navbar.light .custom_hamburger span.hamburger_line:nth-child(2) {
  display: none;
}
body.overflow .navbar.light .custom_hamburger span.hamburger_line:nth-child(3) {
  transform: rotate(-45deg) translate(2px, -2px);
}
body.overflow .navbar.light .custom_hamburger:hover span.hamburger_line:first-child {
  transform: rotate(45deg) translate(3px, 2px) scale(1.17);
}
body.overflow .navbar.light .custom_hamburger:hover span.hamburger_line:nth-child(2) {
  display: none;
}
body.overflow .navbar.light .custom_hamburger:hover span.hamburger_line:nth-child(3) {
  transform: rotate(-45deg) translate(2px, -2px) scale(1.17);
}

@media (max-width: 1024px) {
  .navbar .custom_hamburger:hover span.hamburger_line {
    transform: translate(0) !important;
  }
  .navbar .custom_hamburger:hover span.hamburger_line:nth-child(2) {
    animation-name: none;
    animation: none;
  }
  body.overflow .navbar.light .custom_hamburger:hover span.hamburger_line:first-child {
    transform: rotate(45deg) translate(3px, 2px) scale(1) !important;
  }
  body.overflow .navbar.light .custom_hamburger:hover span.hamburger_line:nth-child(3) {
    transform: rotate(-45deg) translate(2px, -2px) scale(1) !important;
  }
}
[data-scrollbar], [scrollbar], scrollbar {
  display: block;
  position: relative;
}

[data-scrollbar] .scroll-content, [scrollbar] .scroll-content, scrollbar .scroll-content {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

[data-scrollbar].sticky .scrollbar-track, [scrollbar].sticky .scrollbar-track, scrollbar.sticky .scrollbar-track {
  background: hsla(0deg, 0%, 87%, 0.75);
}

[data-scrollbar] .scrollbar-track, [scrollbar] .scrollbar-track, scrollbar .scrollbar-track {
  position: absolute;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.5s ease-out, background 0.5s ease-out;
  background: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[data-scrollbar] .scrollbar-track.show, [data-scrollbar] .scrollbar-track:hover, [scrollbar] .scrollbar-track.show, [scrollbar] .scrollbar-track:hover, scrollbar .scrollbar-track.show, scrollbar .scrollbar-track:hover {
  opacity: 1;
}

[data-scrollbar] .scrollbar-track:hover, [scrollbar] .scrollbar-track:hover, scrollbar .scrollbar-track:hover {
  background: hsla(0deg, 0%, 87%, 0.75);
}

[data-scrollbar] .scrollbar-track-x, [scrollbar] .scrollbar-track-x, scrollbar .scrollbar-track-x {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
}

[data-scrollbar] .scrollbar-track-y, [scrollbar] .scrollbar-track-y, scrollbar .scrollbar-track-y {
  top: 0;
  right: 0;
  width: 8px;
  height: 100%;
}

[data-scrollbar] .scrollbar-thumb, [scrollbar] .scrollbar-thumb, scrollbar .scrollbar-thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

[data-scrollbar] .overscroll-glow, [scrollbar] .overscroll-glow, scrollbar .overscroll-glow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hire__developer__section {
  margin-top: 110px;
}
@media (max-width: 570px) {
  .hire__developer__section {
    margin-top: 70px;
  }
}
.hire__developer__section .hire__developer__section_wrap .hire_developer-hero-title {
  margin-bottom: 180px;
}
@media (max-width: 768px) {
  .hire__developer__section .hire__developer__section_wrap .hire_developer-hero-title {
    margin-bottom: 100px;
  }
}
.hire__developer__section .hire__developer__section_wrap .hire_developer-hero-title h2 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 400;
  margin-bottom: 0;
  letter-spacing: 0;
  display: inline-block;
  margin-left: -4px;
}
@media (max-width: 570px) {
  .hire__developer__section .hire__developer__section_wrap .hire_developer-hero-title h2 {
    font-size: 45px;
  }
}
@media (max-width: 470px) {
  .hire__developer__section .hire__developer__section_wrap .hire_developer-hero-title h2 {
    font-size: 40px;
    line-height: 30px;
    margin-left: 0;
  }
}
.hire__developer__section .hire__developer__section_wrap .hire_developer-hero-title h1 {
  font-size: 125px;
  color: transparent;
  -webkit-text-stroke: 2px #fff;
  font-weight: 600;
  line-height: 110px;
  display: block;
  white-space: normal;
  margin-left: -8px;
}
@media (max-width: 1024px) {
  .hire__developer__section .hire__developer__section_wrap .hire_developer-hero-title h1 {
    font-size: 100px;
  }
}
@media (max-width: 767px) {
  .hire__developer__section .hire__developer__section_wrap .hire_developer-hero-title h1 {
    font-size: 80px;
  }
}
@media (max-width: 570px) {
  .hire__developer__section .hire__developer__section_wrap .hire_developer-hero-title h1 {
    font-size: 60px;
    line-height: 65px;
    -webkit-text-stroke: 1.5px #fff;
  }
}
@media (max-width: 470px) {
  .hire__developer__section .hire__developer__section_wrap .hire_developer-hero-title h1 {
    font-size: 50px;
    margin-left: 0;
  }
}
@media (max-width: 340px) {
  .hire__developer__section .hire__developer__section_wrap .hire_developer-hero-title h1 {
    font-size: 40px;
    margin-top: -5px;
  }
}
.hire__developer__section .hire__developer__section_wrap .hire_developer_caption-wrap h5 {
  font-size: 22px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 4px;
}
@media (max-width: 470px) {
  .hire__developer__section .hire__developer__section_wrap .hire_developer_caption-wrap h5 {
    font-size: 17px;
    line-height: 20px;
  }
}
.hire__developer__section .hire__developer__section_wrap .hire_developer_caption-wrap h3 {
  font-size: 60px;
  line-height: 62px;
  font-weight: 500;
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  .hire__developer__section .hire__developer__section_wrap .hire_developer_caption-wrap h3 {
    font-size: 49px;
  }
}
@media (max-width: 990px) {
  .hire__developer__section .hire__developer__section_wrap .hire_developer_caption-wrap h3 {
    font-size: 40px;
    line-height: 48px;
  }
}
@media (max-width: 570px) {
  .hire__developer__section .hire__developer__section_wrap .hire_developer_caption-wrap h3 {
    font-size: 30px;
    line-height: 37px;
  }
}
@media (max-width: 470px) {
  .hire__developer__section .hire__developer__section_wrap .hire_developer_caption-wrap h3 {
    font-size: 24px;
    line-height: 28px;
  }
}
.hire__developer__section .hire__developer__section_wrap .hire_developer_caption-wrap p {
  font-size: 17px;
  line-height: 27px;
  font-weight: 500;
}
@media (max-width: 570px) {
  .hire__developer__section .hire__developer__section_wrap .hire_developer_caption-wrap p {
    font-size: 15px;
    line-height: 25px;
  }
}

.inner_sub_title {
  margin-bottom: 35px;
}
@media (max-width: 990px) {
  .inner_sub_title {
    margin-bottom: 15px;
  }
}
.inner_sub_title h4 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 400;
  margin: 0;
}
@media (max-width: 1200px) {
  .inner_sub_title h4 {
    font-size: 35px;
    line-height: 40px;
  }
}
@media (max-width: 570px) {
  .inner_sub_title h4 {
    font-size: 25px;
    line-height: 30px;
  }
}
.inner_sub_title h3 {
  font-size: 85px;
  line-height: 65px;
  font-weight: 600;
  -webkit-text-stroke: 1.5px #fff;
  margin: 0;
  margin-top: 5px;
  color: transparent;
}
@media (max-width: 1200px) {
  .inner_sub_title h3 {
    font-size: 55px;
    line-height: 55px;
  }
}
@media (max-width: 570px) {
  .inner_sub_title h3 {
    font-size: 45px;
    line-height: 45px;
  }
}

section.hire_developer_our_team {
  margin: 100px 0px 0;
}
section.hire_developer_our_team .hire_developer_our_team_wrap .hire_developer_our_team-listing .row .col-md-6 {
  margin-bottom: 35px;
}
@media (max-width: 1200px) {
  section.hire_developer_our_team .hire_developer_our_team_wrap .hire_developer_our_team-listing .row .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
section.hire_developer_our_team .hire_developer_our_team_wrap .hire_developer_our_team-listing .our_team_developers {
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 412px;
}
@media (max-width: 768px) {
  section.hire_developer_our_team .hire_developer_our_team_wrap .hire_developer_our_team-listing .our_team_developers {
    flex-flow: column;
    max-height: unset;
  }
}
section.hire_developer_our_team .hire_developer_our_team_wrap .hire_developer_our_team-listing .our_team_developers .dev_img {
  width: 226px;
  height: 100%;
  display: block;
}
@media (max-width: 768px) {
  section.hire_developer_our_team .hire_developer_our_team_wrap .hire_developer_our_team-listing .our_team_developers .dev_img {
    width: 100%;
    max-height: 250px;
  }
}
section.hire_developer_our_team .hire_developer_our_team_wrap .hire_developer_our_team-listing .our_team_developers .dev_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 768px) {
  section.hire_developer_our_team .hire_developer_our_team_wrap .hire_developer_our_team-listing .our_team_developers .dev_img img {
    object-position: top;
  }
}
section.hire_developer_our_team .hire_developer_our_team_wrap .hire_developer_our_team-listing .our_team_developers .developer_details {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: calc(100% - 225px);
  background-color: #fff;
}
@media (max-width: 768px) {
  section.hire_developer_our_team .hire_developer_our_team_wrap .hire_developer_our_team-listing .our_team_developers .developer_details {
    width: 100%;
  }
}
section.hire_developer_our_team .hire_developer_our_team_wrap .hire_developer_our_team-listing .our_team_developers .developer_details span:first-child {
  padding: 24px 18px 0px;
}
section.hire_developer_our_team .hire_developer_our_team_wrap .hire_developer_our_team-listing .our_team_developers .developer_details span:first-child h5 {
  font-size: 23.39px;
  line-height: 24px;
  margin-bottom: 9px;
  font-weight: 600;
  color: #484848;
}
section.hire_developer_our_team .hire_developer_our_team_wrap .hire_developer_our_team-listing .our_team_developers .developer_details span:first-child span {
  font-size: 13px;
  line-height: 15px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #484848;
  display: block;
}
section.hire_developer_our_team .hire_developer_our_team_wrap .hire_developer_our_team-listing .our_team_developers .developer_details span:first-child p {
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  color: #484848;
}
section.hire_developer_our_team .hire_developer_our_team_wrap .hire_developer_our_team-listing .our_team_developers .developer_details span:first-child + span ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0 18px;
  margin-bottom: 27px;
}
section.hire_developer_our_team .hire_developer_our_team_wrap .hire_developer_our_team-listing .our_team_developers .developer_details span:first-child + span ul li {
  font-size: 12px;
  line-height: 13px;
  font-weight: 600;
  color: #484848;
  margin-right: 14px;
  margin-bottom: 10px;
}
section.hire_developer_our_team .hire_developer_our_team_wrap .hire_developer_our_team-listing .our_team_developers .developer_details span:first-child + span button {
  border: none;
  outline: none;
  background-color: #232724;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  font-size: 12px;
  line-height: 13px;
  font-weight: 600;
  color: #fff;
  height: 52px;
}
section.hire_developer_our_team .hire_developer_our_team_wrap .hire_developer_our_team-listing .our_team_developers .developer_details span:first-child + span button img {
  width: 14px;
  height: auto;
  margin-left: 10px;
  transition: 0.3s all ease-in-out;
}
section.hire_developer_our_team .hire_developer_our_team_wrap .hire_developer_our_team-listing .our_team_developers .developer_details span:first-child + span button:hover img {
  transform: translateX(10px);
}

section.hire_developer_form {
  padding-top: 100px;
}
@media (max-width: 768px) {
  section.hire_developer_form {
    margin-bottom: 50px;
  }
}
section.hire_developer_form .hire_developer_form_wrap form {
  padding-top: 35px;
}
@media (max-width: 767px) {
  section.hire_developer_form .hire_developer_form_wrap form .left-form-wrap {
    margin-bottom: 34px;
  }
}
section.hire_developer_form .hire_developer_form_wrap form .left-form-wrap fieldset {
  margin-bottom: 34px;
  max-height: 50px;
}
section.hire_developer_form .hire_developer_form_wrap form .left-form-wrap fieldset label {
  width: 100%;
  margin-bottom: 0;
}
section.hire_developer_form .hire_developer_form_wrap form .left-form-wrap fieldset label input {
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}
section.hire_developer_form .hire_developer_form_wrap form .left-form-wrap fieldset label input::placeholder {
  color: #fff;
  font-size: 16px;
  line-height: 17px;
  font-weight: 500;
  opacity: 0.8;
}
section.hire_developer_form .hire_developer_form_wrap form .left-form-wrap fieldset:last-child {
  margin-bottom: 0;
}
section.hire_developer_form .hire_developer_form_wrap form .right-form-wrap {
  height: 100%;
}
section.hire_developer_form .hire_developer_form_wrap form .right-form-wrap fieldset {
  height: 100%;
}
section.hire_developer_form .hire_developer_form_wrap form .right-form-wrap fieldset label {
  width: 100%;
  height: 100%;
  margin: 0;
}
section.hire_developer_form .hire_developer_form_wrap form .right-form-wrap fieldset label textarea {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.6);
  height: 100%;
  color: #fff;
  resize: none;
  font-weight: 500;
  font-size: 16px;
}
section.hire_developer_form .hire_developer_form_wrap form .right-form-wrap fieldset label textarea::placeholder {
  color: #fff;
  font-size: 16px;
  line-height: 17px;
  font-weight: 500;
  opacity: 0.8;
}
section.hire_developer_form .hire_developer_form_wrap form .btn-sumbit-border {
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  height: 49px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F63440;
  float: right;
  margin-top: 20px;
  transition: 0.2s all ease-in-out;
}
section.hire_developer_form .hire_developer_form_wrap form .btn-sumbit-border:hover {
  background-color: #fff;
  color: #F63440;
}

button[type=submit] strong, input[type=submit] {
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  height: 49px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F63440;
  float: right;
  margin-top: 20px;
  transition: 0.2s all ease-in-out;
}

.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output {
  display: none;
  clear: both;
}

.wpcf7 form.sent .wpcf7-response-output {
  border: 1px solid #b4d39b;
  background-color: #b4d39b;
  color: #333;
  clear: both;
}

span.wpcf7-not-valid-tip {
  font-weight: 500;
}

header .logo {
  position: relative;
}
header .logo .its_christmas {
  position: absolute;
  width: 49px;
  top: -19px;
  left: -16px;
  height: auto;
}

.explore_our_works {
  padding: 70px 0 0;
}
.explore_our_works .titles {
  margin-bottom: 50px;
  padding: 0;
}
.explore_our_works .titles h2 {
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 15px;
}
.explore_our_works .titles p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 40px;
  font-weight: 300;
}
.explore_our_works .cards_grid_block {
  margin: 0 -25px;
  margin-top: 180px;
}
@media (max-width: 570px) {
  .explore_our_works .cards_grid_block {
    margin-top: 0px;
  }
}
.explore_our_works .cards_grid_block > div {
  padding: 0 25px;
  margin-bottom: 80px;
}
@media (max-width: 570px) {
  .explore_our_works .cards_grid_block > div {
    padding: 0px;
  }
}
.explore_our_works .cards_grid_block > div:nth-of-type(odd) {
  margin-top: -100px;
}
@media (max-width: 570px) {
  .explore_our_works .cards_grid_block > div:nth-of-type(odd) {
    margin-top: 0px;
  }
}
@media (max-width: 1200px) {
  .explore_our_works .cards_grid_block > div {
    margin-bottom: 40px;
  }
}
.explore_our_works .cards_grid_block > div .list_card {
  display: block;
  text-decoration: none;
}
.explore_our_works .cards_grid_block > div .list_card .img_wrap {
  width: 100%;
  height: 630px;
  margin-bottom: 20px;
  overflow: hidden;
}
.explore_our_works .cards_grid_block > div .list_card .img_wrap:hover img {
  transform: scale(1.1);
}
@media (max-width: 1200px) {
  .explore_our_works .cards_grid_block > div .list_card .img_wrap {
    height: 500px;
  }
}
@media (max-width: 990px) {
  .explore_our_works .cards_grid_block > div .list_card .img_wrap {
    height: 380px;
  }
}
@media (max-width: 570px) {
  .explore_our_works .cards_grid_block > div .list_card .img_wrap {
    height: 400px;
  }
}
.explore_our_works .cards_grid_block > div .list_card .img_wrap img {
  transition: 0.3s all ease-in;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.explore_our_works .cards_grid_block > div .list_card .project-content h3 {
  font-size: 22px;
  line-height: 1.4;
  margin-bottom: 8px;
  font-weight: 500;
}
@media (max-width: 1366px) {
  .explore_our_works .cards_grid_block > div .list_card .project-content h3 {
    font-size: 19px;
    line-height: 1.3;
  }
}
@media (max-width: 1200px) {
  .explore_our_works .cards_grid_block > div .list_card .project-content h3 {
    font-size: 16px;
  }
}
.explore_our_works .cards_grid_block > div .list_card .project-content small {
  font-size: 13px;
}

.off_grid_column {
  max-width: 100%;
}
@media (max-width: 570px) {
  .off_grid_column {
    padding-top: 25px !important;
    padding-bottom: 25px;
  }
}
.off_grid_column .grid_item {
  margin: 0;
}
@media (max-width: 990px) {
  .off_grid_column .grid_item {
    flex-flow: column;
    overflow: hidden;
  }
}
.off_grid_column .grid_item + .grid_item {
  margin-top: 85px;
}
@media (max-width: 570px) {
  .off_grid_column .grid_item + .grid_item {
    margin-top: 50px;
  }
}
.off_grid_column .grid_item .col-lg-5 {
  display: flex;
  padding: 80px 0;
  position: relative;
  z-index: 1;
}
@media (max-width: 1440px) {
  .off_grid_column .grid_item .col-lg-5 {
    padding: 40px 0;
  }
}
@media (max-width: 990px) {
  .off_grid_column .grid_item .col-lg-5 {
    padding: 0;
  }
}
.off_grid_column .grid_item .col-lg-7 {
  padding: 80px 20px 80px 0;
  display: flex;
  align-items: center;
}
@media (max-width: 1440px) {
  .off_grid_column .grid_item .col-lg-7 {
    padding: 70px 20px 70px 0;
  }
}
@media (max-width: 990px) {
  .off_grid_column .grid_item .col-lg-7 {
    max-width: 100%;
    border: none;
    padding: 40px 0;
  }
}
@media (max-width: 570px) {
  .off_grid_column .grid_item .col-lg-7 {
    padding: 0px 0;
  }
}
.off_grid_column .grid_item:nth-child(even) {
  flex-direction: row-reverse;
}
@media (max-width: 990px) {
  .off_grid_column .grid_item:nth-child(even) {
    flex-direction: column;
  }
}
.off_grid_column .grid_item > div {
  padding: 0;
  flex: 0 0 auto;
}
.off_grid_column .grid_item .slider {
  height: 560px;
  background-color: transparent;
  margin-right: 0;
  width: 100%;
  position: relative;
  overflow: visible;
}
.off_grid_column .grid_item .slider .swiper_button_next,
.off_grid_column .grid_item .slider .swiper_button_prev {
  display: flex;
  flex-flow: column;
  position: absolute;
  justify-content: center;
  height: 100%;
  background-color: transparent;
  right: 0;
  width: 86px;
  top: 0;
  margin-top: 0;
  z-index: 3;
  padding: 20px;
  cursor: pointer;
}
.off_grid_column .grid_item .slider .swiper_button_next b,
.off_grid_column .grid_item .slider .swiper_button_prev b {
  font-weight: 500;
  color: #f7323f;
}
.off_grid_column .grid_item .slider .swiper_button_next span,
.off_grid_column .grid_item .slider .swiper_button_prev span {
  width: 80%;
  display: block;
  height: 1px;
  background-color: #fff;
  position: relative;
  margin-bottom: 15px;
}
.off_grid_column .grid_item .slider .swiper_button_next span::before,
.off_grid_column .grid_item .slider .swiper_button_prev span::before {
  transform: rotate(-45deg) translateY(7px);
}
.off_grid_column .grid_item .slider .swiper_button_next span::after,
.off_grid_column .grid_item .slider .swiper_button_prev span::after {
  transform: rotate(45deg) translateY(-7px);
}
.off_grid_column .grid_item .slider .swiper_button_next span::after, .off_grid_column .grid_item .slider .swiper_button_next span::before,
.off_grid_column .grid_item .slider .swiper_button_prev span::after,
.off_grid_column .grid_item .slider .swiper_button_prev span::before {
  content: "";
  width: 15px;
  height: 1px;
  background-color: #fff;
  display: block;
  position: absolute;
  right: 2px;
  top: 0;
}
@media (max-width: 1200px) {
  .off_grid_column .grid_item .slider .swiper_button_next,
  .off_grid_column .grid_item .slider .swiper_button_prev {
    width: 71px;
  }
}
@media (max-width: 990px) {
  .off_grid_column .grid_item .slider .swiper_button_next,
  .off_grid_column .grid_item .slider .swiper_button_prev {
    display: none;
  }
}
.off_grid_column .grid_item .slider .swiper_button_prev {
  left: 0;
  right: auto;
}
.off_grid_column .grid_item .slider .swiper_button_prev span::before {
  transform: rotate(-45deg) translateY(-7px);
}
.off_grid_column .grid_item .slider .swiper_button_prev span::after {
  transform: rotate(45deg) translateY(7px);
}
.off_grid_column .grid_item .slider .swiper_button_prev span::after, .off_grid_column .grid_item .slider .swiper_button_prev span::before {
  left: 2px;
  right: auto;
}
.off_grid_column .grid_item .slider .custom_swiper {
  width: 100%;
  height: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.off_grid_column .grid_item .slider .swiper-pagination {
  display: none;
}
@media (max-width: 990px) {
  .off_grid_column .grid_item .slider .swiper-pagination {
    display: block;
    bottom: 0;
  }
}
@media (max-width: 1440px) {
  .off_grid_column .grid_item .slider {
    height: 560px;
  }
}
.off_grid_column .grid_item .slider .slide-inner {
  padding: 0px 90px 0;
  text-align: center;
  position: relative;
  z-index: 2;
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
}
@media (max-width: 1200px) {
  .off_grid_column .grid_item .slider .slide-inner {
    padding: 0 60px;
  }
}
@media (max-width: 990px) {
  .off_grid_column .grid_item .slider .slide-inner {
    width: 100%;
  }
}
@media (max-width: 570px) {
  .off_grid_column .grid_item .slider .slide-inner {
    padding: 0 15px !important;
  }
}
.off_grid_column .grid_item .slider .slide-inner h4 {
  font-size: 22px;
  line-height: 1.3;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}
@media (max-width: 1440px) {
  .off_grid_column .grid_item .slider .slide-inner h4 {
    font-size: 20px;
  }
}
@media (max-width: 570px) {
  .off_grid_column .grid_item .slider .slide-inner h4 {
    font-size: 17px;
  }
}
.off_grid_column .grid_item .slider .slide-inner p {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
}
@media (max-width: 1440px) {
  .off_grid_column .grid_item .slider .slide-inner p {
    font-size: 18px;
  }
}
@media (max-width: 1200px) {
  .off_grid_column .grid_item .slider .slide-inner p {
    max-width: 100%;
  }
}
@media (max-width: 570px) {
  .off_grid_column .grid_item .slider .slide-inner p {
    font-size: 15px;
  }
}
.off_grid_column .grid_item .slider .swiper-slide {
  position: relative;
  width: calc(50% - 15px) !important;
}
@media (max-width: 1200px) {
  .off_grid_column .grid_item .slider .swiper-slide {
    width: 100% !important;
  }
}
.off_grid_column .grid_item .slider .swiper-slide::after {
  content: "";
  background-color: rgba(231, 72, 71, 0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.off_grid_column .grid_item .slider:hover .swiper-container .swiper-slide {
  margin-left: -3px;
}
.off_grid_column .grid_item .slider:hover .swiper-button-next span {
  width: 85%;
}
.off_grid_column .grid_item .thumbnail_image {
  width: 100%;
  height: fit-content;
  display: block;
  max-height: 800px;
  overflow: hidden;
  margin: auto 0;
}
@media (max-width: 1440px) {
  .off_grid_column .grid_item .thumbnail_image {
    max-height: 700px;
  }
}
@media (max-width: 1200px) {
  .off_grid_column .grid_item .thumbnail_image {
    max-height: 650px;
  }
}
.off_grid_column .grid_item .thumbnail_image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.off_grid_column .grid_item .detail_content {
  height: fit-content;
}
.off_grid_column .grid_item .detail_content h1 {
  font-size: 46px !important;
  line-height: 1.4;
  font-weight: 400 !important;
}
@media (max-width: 1200px) {
  .off_grid_column .grid_item .detail_content h1 {
    font-size: 41px !important;
  }
}
@media (max-width: 990px) {
  .off_grid_column .grid_item .detail_content h1 {
    text-align: center;
  }
}
@media (max-width: 570px) {
  .off_grid_column .grid_item .detail_content h1 {
    font-size: 33px !important;
  }
}
.off_grid_column .grid_item .detail_content h4 {
  font-size: 46px;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: 400;
}
@media (max-width: 1200px) {
  .off_grid_column .grid_item .detail_content h4 {
    font-size: 41px;
  }
}
@media (max-width: 990px) {
  .off_grid_column .grid_item .detail_content h4 {
    text-align: center;
  }
}
@media (max-width: 570px) {
  .off_grid_column .grid_item .detail_content h4 {
    font-size: 33px;
  }
}
.off_grid_column .grid_item .detail_content h5 {
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 15px;
  font-weight: 500;
}
@media (max-width: 1440px) {
  .off_grid_column .grid_item .detail_content h5 {
    font-size: 20px;
  }
}
@media (max-width: 990px) {
  .off_grid_column .grid_item .detail_content h5 {
    text-align: center;
  }
}
@media (max-width: 570px) {
  .off_grid_column .grid_item .detail_content h5 {
    font-size: 15px;
  }
}
.off_grid_column .grid_item .detail_content p {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 20px;
  font-weight: 400;
}
@media (max-width: 990px) {
  .off_grid_column .grid_item .detail_content p {
    text-align: justify;
  }
}
@media (max-width: 570px) {
  .off_grid_column .grid_item .detail_content p {
    font-size: 15px;
  }
}
.off_grid_column .grid_item .detail_content p:last-child {
  margin-bottom: 0px;
}

.full_width_blockquote {
  position: relative;
  display: flex;
  align-items: center;
  min-height: auto;
  padding: 70px;
  overflow: hidden;
  background-color: #f8f8f8;
}
@media (max-width: 1200px) {
  .full_width_blockquote {
    min-height: 400px;
  }
}
@media (max-width: 990px) {
  .full_width_blockquote {
    padding: 55px;
  }
}
@media (max-width: 570px) {
  .full_width_blockquote {
    padding: 40px 20px;
    min-height: auto;
  }
}
.full_width_blockquote .bg_image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.full_width_blockquote .bg_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 570px) {
  .full_width_blockquote .container {
    padding: 0 !important;
  }
}
.full_width_blockquote .body_content {
  position: relative;
  z-index: 1;
  width: 100%;
}
.full_width_blockquote .body_content span {
  font-size: 22px;
  line-height: 1.3;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: block;
  color: #000;
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  .full_width_blockquote .body_content span {
    font-size: 14px;
  }
}
@media (max-width: 990px) {
  .full_width_blockquote .body_content span {
    font-size: 12px;
  }
}
@media (max-width: 570px) {
  .full_width_blockquote .body_content span {
    text-align: center;
  }
}
.full_width_blockquote .body_content h3 {
  font-size: 46px;
  line-height: 1.3;
  font-weight: 400;
  margin-bottom: 15px;
  color: #e74847;
}
@media (max-width: 1200px) {
  .full_width_blockquote .body_content h3 {
    font-size: 40px;
  }
}
@media (max-width: 990px) {
  .full_width_blockquote .body_content h3 {
    font-size: 32px;
  }
}
@media (max-width: 570px) {
  .full_width_blockquote .body_content h3 {
    text-align: center;
    font-size: 33px;
  }
}
.full_width_blockquote .body_content p {
  font-size: 20px;
  line-height: 1.5;
  max-width: 74%;
  font-weight: 500;
  color: #000;
  margin-bottom: 0px;
}
@media (max-width: 1200px) {
  .full_width_blockquote .body_content p {
    font-size: 15px;
  }
}
@media (max-width: 990px) {
  .full_width_blockquote .body_content p {
    max-width: 100%;
    font-size: 12px;
  }
}
@media (max-width: 570px) {
  .full_width_blockquote .body_content p {
    text-align: center;
  }
}
@media (max-width: 570px) {
  .full_width_blockquote .body_content .custom-btn {
    margin-bottom: 0px;
  }
}

.custom-btn {
  display: inline-flex;
  margin-right: 40px;
  max-width: fit-content;
  transition: all 0.25s ease-in-out;
}
@media (max-width: 570px) {
  .custom-btn {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.custom-btn:hover {
  margin-right: 10px;
}
@media (max-width: 570px) {
  .custom-btn:hover {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.footer {
  padding: 0px 0 150px;
}
@media (max-width: 570px) {
  .footer {
    padding: 0px 0 75px;
  }
}

.work-with-us {
  padding: 75px 0 150px;
}
@media (max-width: 570px) {
  .work-with-us {
    padding: 0px 0 75px;
  }
}

html {
  scroll-behavior: auto;
}

* {
  scrollbar-color: rgba(247, 50, 63, 0.6) rgba(255, 0, 0, 0.7);
  scrollbar-width: thin;
}
*::-webkit-scrollbar {
  width: 9px;
  pointer-events: none;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #f7323f;
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(247, 50, 63, 0.7);
}

body.fancybox-active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  height: max-content;
  background-color: #d53c36;
}
body.fancybox-active .fancybox-slide {
  overflow: unset;
}
body.fancybox-active .fancybox-slide #contactFormPopup1 {
  overflow: auto;
  height: 100vh;
}
body.fancybox-active .fancybox-slide #contactFormPopup1::-webkit-scrollbar {
  width: 12px;
}
@media (max-width: 1200px) {
  body.fancybox-active .fancybox-slide #contactFormPopup1::-webkit-scrollbar {
    width: 7px;
  }
}

body.modal-open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  height: max-content;
  background-color: #d53c36;
}

.works ul {
  display: flex;
  flex-wrap: wrap;
  margin: 150px -30px 0;
}
@media (max-width: 570px) {
  .works ul {
    margin-top: 0;
  }
}
.works ul li {
  padding: 0 30px;
  max-width: 50%;
  flex: 0 0 50%;
}
@media (max-width: 570px) {
  .works ul li {
    max-width: 100%;
    flex: 0 0 100%;
    padding: 0;
  }
}
.works ul li.w-100 {
  max-width: 100%;
  flex: 0 0 100%;
}
.works ul li:nth-of-type(even) {
  margin-top: -100px;
}
@media (max-width: 570px) {
  .works ul li:nth-of-type(even) {
    margin-top: 0;
  }
}

.title h2 {
  color: #f7323f;
}
.title p {
  color: #000;
}

.gallery_banner_top {
  height: 650px;
  overflow: hidden;
  position: relative;
  margin-bottom: 25px;
}
@media (max-width: 1440px) {
  .gallery_banner_top {
    height: 470px;
  }
}
@media (max-width: 570px) {
  .gallery_banner_top {
    height: 260px;
  }
}
.gallery_banner_top .bankground_img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
}
.gallery_banner_top .bankground_img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: block;
  opacity: 0.7;
  background-image: linear-gradient(to top, #000 30%, transparent 70%);
  z-index: 2;
}
.gallery_banner_top .bankground_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: var(--pos);
}
.gallery_banner_top .content_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.gallery_banner_top .content_wrapper .container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  max-width: unset;
  padding: 0;
}
.gallery_banner_top .content_wrapper .container .heading_wrap {
  width: 100%;
  position: absolute;
  bottom: 20%;
  width: 100%;
  flex-grow: 1;
}
.gallery_banner_top .content_wrapper .container .heading_wrap h1 {
  display: block;
  text-align: center;
  text-transform: capitalize;
  font-size: 52px;
  line-height: 62px;
  font-weight: 400;
  color: #fff;
}
@media (max-width: 1440px) {
  .gallery_banner_top .content_wrapper .container .heading_wrap h1 {
    font-size: 34px;
    line-height: 38px;
  }
}
@media (max-width: 570px) {
  .gallery_banner_top .content_wrapper .container .heading_wrap h1 {
    font-size: 24px;
    line-height: 28px;
  }
}
.gallery_banner_top .content_wrapper .container .heading_wrap p {
  font-size: 17px;
  line-height: 22px;
  margin: 0;
  text-align: center;
  font-weight: 600;
}
@media (max-width: 1440px) {
  .gallery_banner_top .content_wrapper .container .heading_wrap p {
    font-size: 15px;
    line-height: 19px;
  }
}
@media (max-width: 570px) {
  .gallery_banner_top .content_wrapper .container .heading_wrap p {
    font-size: 14px;
    line-height: 18px;
  }
}
.gallery_banner_top.events_listing_banner {
  display: flex;
  flex-flow: row-reverse;
}
@media (max-width: 1640px) {
  .gallery_banner_top.events_listing_banner {
    height: 470px;
  }
}
@media (max-width: 1200px) {
  .gallery_banner_top.events_listing_banner {
    height: 390px;
  }
}
@media (max-width: 990px) {
  .gallery_banner_top.events_listing_banner {
    height: 300px;
  }
}
@media (max-width: 570px) {
  .gallery_banner_top.events_listing_banner {
    flex-flow: column;
    height: auto;
  }
}
.gallery_banner_top.events_listing_banner .bankground_img {
  width: 75%;
}
@media (max-width: 570px) {
  .gallery_banner_top.events_listing_banner .bankground_img {
    width: 100%;
    height: auto;
    aspect-ratio: 16/10;
    position: static;
  }
}
.gallery_banner_top.events_listing_banner .content_wrapper {
  width: 50%;
  padding: 30px 20px;
  background-color: #f7323f;
  -webkit-clip-path: polygon(46% 0, 100% 0%, 100% 100%, 20% 100%);
  clip-path: polygon(46% 0, 100% 0%, 100% 101%, 20% 101%);
}
@media (max-width: 570px) {
  .gallery_banner_top.events_listing_banner .content_wrapper .container {
    padding: 0;
  }
}
@media (max-width: 570px) {
  .gallery_banner_top.events_listing_banner .content_wrapper {
    clip-path: unset;
    width: 100%;
    height: max-content;
    bottom: 0;
  }
}
.gallery_banner_top.events_listing_banner .content_wrapper .heading_wrap {
  max-width: 500px;
  position: static;
  margin-left: auto;
}
@media (max-width: 1440px) {
  .gallery_banner_top.events_listing_banner .content_wrapper .heading_wrap {
    max-width: 300px;
  }
}
@media (max-width: 570px) {
  .gallery_banner_top.events_listing_banner .content_wrapper .heading_wrap {
    max-width: 100%;
  }
}
.gallery_banner_top.events_listing_banner .content_wrapper .heading_wrap p {
  text-align: right;
  padding: 5px 17px;
  background-color: #fff;
  color: #f7323f;
  width: max-content;
  margin-left: auto;
  margin-bottom: 15px;
}
@media (max-width: 570px) {
  .gallery_banner_top.events_listing_banner .content_wrapper .heading_wrap p {
    text-align: center;
    margin: auto auto 15px;
  }
}
.gallery_banner_top.events_listing_banner .content_wrapper .container .heading_wrap h1 {
  color: #fff;
  text-align: right;
  margin: 0;
}
@media (max-width: 1440px) {
  .gallery_banner_top.events_listing_banner .content_wrapper .container .heading_wrap h1 {
    font-size: 45px;
    line-height: 53px;
  }
}
@media (max-width: 1200px) {
  .gallery_banner_top.events_listing_banner .content_wrapper .container .heading_wrap h1 {
    font-size: 35px;
    line-height: 38px;
  }
}
@media (max-width: 570px) {
  .gallery_banner_top.events_listing_banner .content_wrapper .container .heading_wrap h1 {
    text-align: center;
  }
}

.galllery_listing_section {
  padding: 90px 0;
}
@media (max-width: 570px) {
  .galllery_listing_section {
    padding: 40px 0;
  }
}
.galllery_listing_section .image_grid:hover .image_item {
  opacity: 0.8;
  text-decoration: none;
}
@media (max-width: 1200px) {
  .galllery_listing_section .image_grid:hover .image_item {
    opacity: 1;
  }
}
.galllery_listing_section .image_grid .grid_inner_wrapper {
  padding: 0px 10px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media (max-width: 1200px) {
  .galllery_listing_section .image_grid .grid_inner_wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 570px) {
  .galllery_listing_section .image_grid .grid_inner_wrapper {
    grid-template-columns: 1fr;
  }
}
.galllery_listing_section .image_grid .grid_inner_wrapper a {
  text-decoration: none;
}
.galllery_listing_section .image_grid .grid_inner_wrapper .image_item {
  display: block;
  position: relative;
  transition: 0.2s all ease-in-out;
  padding: 10px;
}
@media (max-width: 1200px) {
  .galllery_listing_section .image_grid .grid_inner_wrapper .image_item {
    aspect-ratio: unset !important;
  }
}
.galllery_listing_section .image_grid .grid_inner_wrapper .image_item .image_description {
  padding: 15px 10px;
  position: absolute;
  top: 100%;
  background-color: #fff;
  left: 0%;
  z-index: 3;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: 0.5s all ease-in-out;
  pointer-events: none;
  height: auto;
  display: block;
}
@media (max-width: 1200px) {
  .galllery_listing_section .image_grid .grid_inner_wrapper .image_item .image_description {
    position: static;
    opacity: 1;
  }
}
.galllery_listing_section .image_grid .grid_inner_wrapper .image_item .image_description svg {
  width: 24px;
  height: 24px;
  object-fit: contain;
  margin-bottom: 20px;
  display: none;
}
.galllery_listing_section .image_grid .grid_inner_wrapper .image_item .image_description h4 {
  color: #000;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 10px;
  text-decoration: none;
}
@media (max-width: 1200px) {
  .galllery_listing_section .image_grid .grid_inner_wrapper .image_item .image_description h4 {
    font-size: 16px;
    line-height: 20px;
  }
}
.galllery_listing_section .image_grid .grid_inner_wrapper .image_item .image_description p {
  color: #000;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  text-decoration: none;
  font-weight: 500;
}
@media (max-width: 1200px) {
  .galllery_listing_section .image_grid .grid_inner_wrapper .image_item .image_description p {
    font-size: 14px;
    line-height: 17px;
  }
}
.galllery_listing_section .image_grid .grid_inner_wrapper .image_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
@media (max-width: 1200px) {
  .galllery_listing_section .image_grid .grid_inner_wrapper .image_item img {
    width: 100%;
    height: auto;
  }
}
.galllery_listing_section .image_grid .grid_inner_wrapper .image_item:hover {
  background-color: #fff;
  opacity: 1;
}
@media (max-width: 1200px) {
  .galllery_listing_section .image_grid .grid_inner_wrapper .image_item:hover {
    background-color: transparent;
  }
}
.galllery_listing_section .image_grid .grid_inner_wrapper .image_item:hover .image_description {
  opacity: 1;
}
.galllery_listing_section .image_grid .grid_inner_wrapper .image_item:nth-child(1) {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}
@media (max-width: 1200px) {
  .galllery_listing_section .image_grid .grid_inner_wrapper .image_item:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    aspect-ratio: unset !important;
  }
}
@media (max-width: 579px) {
  .galllery_listing_section .image_grid .grid_inner_wrapper .image_item:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
.galllery_listing_section .image_grid .grid_inner_wrapper .image_item:nth-child(1) img {
  aspect-ratio: 1/0.772;
}
.galllery_listing_section .image_grid .grid_inner_wrapper .image_item:nth-child(2) {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
}
@media (max-width: 1200px) {
  .galllery_listing_section .image_grid .grid_inner_wrapper .image_item:nth-child(2) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
@media (max-width: 579px) {
  .galllery_listing_section .image_grid .grid_inner_wrapper .image_item:nth-child(2) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
.galllery_listing_section .image_grid .grid_inner_wrapper .image_item:nth-child(2) img {
  aspect-ratio: 1/0.769;
}
.galllery_listing_section .image_grid .grid_inner_wrapper .image_item:nth-child(3) {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 4;
  grid-column-end: 5;
}
@media (max-width: 1200px) {
  .galllery_listing_section .image_grid .grid_inner_wrapper .image_item:nth-child(3) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
  }
}
@media (max-width: 579px) {
  .galllery_listing_section .image_grid .grid_inner_wrapper .image_item:nth-child(3) {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
.galllery_listing_section .image_grid .grid_inner_wrapper .image_item:nth-child(3) img {
  aspect-ratio: 1/0.769;
}
.galllery_listing_section .image_grid .grid_inner_wrapper .image_item:nth-child(4) {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 5;
}
@media (max-width: 1200px) {
  .galllery_listing_section .image_grid .grid_inner_wrapper .image_item:nth-child(4) {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
@media (max-width: 579px) {
  .galllery_listing_section .image_grid .grid_inner_wrapper .image_item:nth-child(4) {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
.galllery_listing_section .image_grid .grid_inner_wrapper .image_item:nth-child(4) img {
  aspect-ratio: 1/0.39;
}
@media (max-width: 1200px) {
  .galllery_listing_section .image_grid .grid_inner_wrapper .image_item:nth-child(4) img {
    aspect-ratio: 1/0.6;
  }
}
@media (max-width: 570px) {
  .galllery_listing_section .image_grid .grid_inner_wrapper .image_item:nth-child(4) img {
    aspect-ratio: 1/0.65;
  }
}
.galllery_listing_section .image_grid .grid_inner_wrapper:nth-of-type(even) .image_item:nth-child(1) {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 5;
}
@media (max-width: 1200px) {
  .galllery_listing_section .image_grid .grid_inner_wrapper:nth-of-type(even) .image_item:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
@media (max-width: 579px) {
  .galllery_listing_section .image_grid .grid_inner_wrapper:nth-of-type(even) .image_item:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
.galllery_listing_section .image_grid .grid_inner_wrapper:nth-of-type(even) .image_item:nth-child(2) {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}
@media (max-width: 1200px) {
  .galllery_listing_section .image_grid .grid_inner_wrapper:nth-of-type(even) .image_item:nth-child(2) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
@media (max-width: 579px) {
  .galllery_listing_section .image_grid .grid_inner_wrapper:nth-of-type(even) .image_item:nth-child(2) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
.galllery_listing_section .image_grid .grid_inner_wrapper:nth-of-type(even) .image_item:nth-child(3) {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}
@media (max-width: 1200px) {
  .galllery_listing_section .image_grid .grid_inner_wrapper:nth-of-type(even) .image_item:nth-child(3) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
  }
}
@media (max-width: 579px) {
  .galllery_listing_section .image_grid .grid_inner_wrapper:nth-of-type(even) .image_item:nth-child(3) {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
.galllery_listing_section .image_grid .grid_inner_wrapper:nth-of-type(even) .image_item:nth-child(4) {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}
@media (max-width: 1200px) {
  .galllery_listing_section .image_grid .grid_inner_wrapper:nth-of-type(even) .image_item:nth-child(4) {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
@media (max-width: 579px) {
  .galllery_listing_section .image_grid .grid_inner_wrapper:nth-of-type(even) .image_item:nth-child(4) {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.gallery_section_listing {
  padding: 50px 0;
}
.gallery_section_listing h3 {
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 30px;
}
.gallery_section_listing .row > a {
  display: block;
  margin-bottom: 30px;
  text-decoration: none;
}
.gallery_section_listing .list_card {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  transition: 0.2s all ease-in-out;
}
.gallery_section_listing .list_card:hover {
  transform: translateY(-15px);
  box-shadow: 0px 10px 15px 1px rgba(0, 0, 0, 0.2);
}
@media (max-width: 1200px) {
  .gallery_section_listing .list_card:hover {
    transform: translateY(0);
    box-shadow: none;
  }
}
.gallery_section_listing .list_card .img_wrap {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
}
.gallery_section_listing .list_card .img_wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery_section_listing .list_card .body_copy {
  padding: 10px 0;
}
.gallery_section_listing .list_card .body_copy h6 {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
  padding: 3px 0;
  background-color: #f7323f;
}
.gallery_section_listing .list_card .body_copy p {
  font-size: 14px;
  line-height: 18px;
  color: #000;
  font-weight: 500;
  text-align: center;
  margin: 0;
}

.post-body ul li,
.post-body ol li {
  color: #000;
  position: relative;
  list-style: none;
}
.post-body ul li::marker,
.post-body ol li::marker {
  display: none;
}
.post-body ul li::before,
.post-body ol li::before {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #f7323f;
  left: -15px;
  top: 8px;
  z-index: 2;
}
.post-body p {
  color: #000;
  font-size: 20px;
}
.post-body h5 {
  color: #000;
  font-size: 24px;
}
.post-body .post-title {
  color: #f7323f;
}
.post-body .avatar a {
  color: #000;
}
.post-body .post-date {
  color: #000;
}

.post-navigation {
  background: #f7323f;
}

.main-services {
  padding: 80px 0;
}