body {
  padding: 0 !important;
  background: linear-gradient(135deg, #fff 0, rgb(255, 255, 255) 16%, rgb(213, 213, 213) 16%, rgb(247, 247, 247) 16%, rgb(244, 244, 244) 17%, rgb(230, 230, 230) 35%, #fff 35%, rgb(233, 233, 233) 56%, #fff 56%, #fff 80%, #fff 80%, #fff 100%);
}

@media (min-width: 1200px) {
  .scroller_container {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    overflow: auto;
  }
}
@media (max-width: 1200px) {
  .scroller_container {
    overflow-x: hidden;
  }
}

.scroll-content {
  width: 100vw;
  background: linear-gradient(135deg, #fff 0, rgb(255, 255, 255) 16%, rgb(213, 213, 213) 16%, rgb(247, 247, 247) 16%, rgb(244, 244, 244) 17%, rgb(230, 230, 230) 35%, #fff 35%, rgb(233, 233, 233) 56%, #fff 56%, #fff 80%, #fff 80%, #fff 100%);
}
@media (max-width: 1200px) {
  .scroll-content {
    padding: 0;
  }
}

section,
footer {
  border-left: 0;
}

.top_header ul.contact_phone a {
  color: #000;
}

.navbar .phone {
  color: #000;
}
.navbar.light .phone {
  color: #fff;
}
.navbar.light .hamburger-menu .burger-svg__base {
  fill: #fff;
}
.navbar.light .hamburger-menu .burger-svg__bars {
  fill: #e74847;
}

.navbar .main-menu ul li a {
  color: #000;
}
.navbar .main-menu ul li a:hover {
  color: #e74847;
}
.navbar.light .main-menu ul li a:hover {
  color: #fff;
  opacity: 0.8;
}

.header .headlines h1,
.header .headlines h3 {
  color: #e74847;
}

@media (max-width: 570px) {
  .header .headlines {
    margin-bottom: 30px;
  }
}
.header .headlines h2 {
  color: #000;
}
@media (max-width: 570px) {
  .header .headlines h2 {
    max-width: 100%;
    font-size: 19px;
  }
}

.color-white .custom-btn a {
  border-color: #e74847;
  color: #e74847 !important;
}
.color-white .custom-btn a span {
  background: #e74847 !important;
}
.color-white .custom-btn a i {
  border-color: transparent transparent transparent #e74847 !important;
}
.color-white .custom-btn a:hover {
  background: #e74847;
  color: #fff !important;
}
.color-white .custom-btn a:hover span {
  background: #fff !important;
}
.color-white .custom-btn a:hover i {
  border-color: transparent transparent transparent #fff !important;
}

.explore_our_works .titles p {
  color: #000;
  font-size: 25px;
}
.explore_our_works .titles p a {
  color: #e74847;
  font-weight: 500;
}
@media (max-width: 570px) {
  .explore_our_works .titles p {
    font-size: 19px;
  }
}
.explore_our_works .titles h2 {
  color: #e74847;
  font-size: 54px;
  font-weight: 400;
}
@media (max-width: 570px) {
  .explore_our_works .titles h2 {
    font-size: 25px;
    font-weight: 500;
  }
}

.explore_our_works .cards_grid_block .list_card .project-content h3,
.explore_our_works .cards_grid_block .list_card .project-content small,
.explore_our_works .cards_grid_block .list_card .project-content h6 {
  color: #000;
  transition: 0.3s all ease-in-out;
}
.explore_our_works .cards_grid_block .list_card:hover .project-content h3 {
  color: #e74847;
}

.navbar .burger {
  width: 33px;
  height: 33px;
}
@media (max-width: 990px) {
  .navbar .burger {
    width: auto;
    height: auto;
  }
}
.navbar .custom_hamburger {
  width: 33px;
  height: 33px;
  cursor: pointer;
  background-color: #e74847;
}
.navbar .custom_hamburger span.hamburger_line {
  background-color: #fff;
}
@media (max-width: 990px) {
  .navbar .custom_hamburger {
    width: 50px;
    height: 50px;
  }
}
.navbar.light .custom_hamburger {
  background-color: #fff;
}
.navbar.light .custom_hamburger span.hamburger_line {
  background-color: #e74847;
}
@media (max-width: 990px) {
  .navbar.light .custom_hamburger {
    background-color: #e74847;
  }
  .navbar.light .custom_hamburger span.hamburger_line {
    background-color: #fff;
  }
}

.navigation-menu .inner .side-menu ul li a {
  color: #e74847;
}

.off_grid_column .grid_item .detail_content h4,
.off_grid_column .grid_item .detail_content h1 {
  color: #e74847;
}
.off_grid_column .grid_item .detail_content h5,
.off_grid_column .grid_item .detail_content p {
  color: #000;
}
.off_grid_column .grid_item .detail_content p {
  font-weight: 400;
}

.color-dark .left-side ul li a {
  color: #e74847;
}
.color-dark .left-side ul li a:hover {
  color: #e74847;
}

.off_grid_column .grid_item .col-lg-7 {
  border: unset;
}

.titles {
  color: #e74847;
}
.titles h2 {
  font-size: 46px;
}
@media (max-width: 570px) {
  .titles h2 {
    font-size: 33px;
  }
}
.titles h6 {
  color: #e74847;
  font-size: 46px;
  font-weight: 400;
  text-transform: initial;
  letter-spacing: 0px;
}
@media (max-width: 570px) {
  .titles h6 {
    font-size: 33px;
  }
}
.titles p {
  color: #000;
}

.featured-services {
  padding: 100px 0;
}
@media (max-width: 990px) {
  .featured-services {
    padding: 60px 0;
  }
}

.featured-services figure {
  border: 0 !important;
}
.featured-services figure img {
  opacity: 1 !important;
}
.featured-services figure figcaption h4 {
  color: #000;
}
.featured-services figure figcaption span {
  color: #e74847;
}
.featured-services figure:hover {
  background-color: transparent !important;
}
@media (min-width: 1200px) {
  .featured-services figure:hover img {
    transform: scale(0.8);
  }
}

.testimonials {
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}
.testimonials p {
  color: #000;
}

.testimonial-item .author-details {
  color: #000;
}

.swiper-pagination-bullet {
  width: 22px;
  height: 22px;
}
.swiper-pagination-bullet::before {
  border: 3px solid rgba(231, 72, 71, 0.5);
}
.swiper-pagination-bullet::after {
  background: #e74847;
}

.work-with-us h6,
.color-dark .work-with-us h6 {
  color: #000;
}
.work-with-us h2,
.color-dark .work-with-us h2 {
  color: #e74847;
}
@media (max-width: 570px) {
  .work-with-us h2,
  .color-dark .work-with-us h2 {
    font-size: 25px;
    font-weight: 500;
    line-height: 1.5;
  }
}
.work-with-us p,
.color-dark .work-with-us p {
  color: #000;
}
.work-with-us p a,
.color-dark .work-with-us p a {
  color: #000;
}

.footer h5 {
  font-size: 24px;
  font-weight: 500;
}
.footer .quicK_links li a::after {
  content: none !important;
}
@media (max-width: 1440px) {
  .footer address {
    font-weight: 500;
  }
}
.footer .sub-footer ul li a {
  font-size: 15px;
}
.footer .sub-footer ul li a::before {
  content: none !important;
}
.color-dark .work-with-us .custom-btn a {
  color: #e74847;
  border: 1px solid #e74847;
}

.color-dark .custom-link a {
  color: #e74847;
}
.color-dark .custom-link span {
  background-color: #e74847;
}
.color-dark .custom-link i {
  border-color: transparent transparent transparent #e74847;
}

.left-side {
  width: 100px;
}
.left-side .gotop {
  background-color: #e74847;
  border-radius: 50%;
}

.color-dark .left-side .gotop img {
  filter: invert(0);
}

.navbar .hamburger-menu .burger-svg__base {
  fill: #e74847;
}
.navbar .hamburger-menu .burger-svg__bars {
  fill: #fff;
}

header li.menu-item-has-children ul.sub-menu {
  background-color: #e74847;
}
header li.menu-item-has-children ul.sub-menu li a {
  color: #fff;
}
header li.menu-item-has-children ul.sub-menu li a:hover {
  color: #fff;
}
header li.menu-item-has-children ul.sub-menu li a:hover::before, header li.menu-item-has-children ul.sub-menu li a:hover::after {
  display: none;
}

.pt_50 {
  padding-top: 50px !important;
}
@media (max-width: 570px) {
  .pt_50 {
    padding-top: 20px !important;
  }
}

.pt_100 {
  padding-top: 100px !important;
}
@media (max-width: 570px) {
  .pt_100 {
    padding-top: 50px !important;
  }
}

.pb_50 {
  padding-bottom: 50px !important;
}
@media (max-width: 570px) {
  .pb_50 {
    padding-bottom: 20px !important;
  }
}

.pb_100 {
  padding-bottom: 100px !important;
}
@media (max-width: 570px) {
  .pb_100 {
    padding-bottom: 50px !important;
  }
}

footer.footer {
  padding: 50px 0;
  background-color: #1a1616;
}
@media (max-width: 1200px) {
  footer.footer {
    width: 100%;
  }
}
footer.footer .logo img {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

.navigation-menu {
  background-color: #f0f0f0;
  display: none;
}
.navigation-menu .inner h6 {
  color: #e74847;
}
.navigation-menu .inner address {
  color: #000;
  font-weight: 500;
}
.navigation-menu .inner address a {
  color: #e74847;
}
.navigation-menu.active {
  display: flex;
}

.ful_width_custom_slider {
  width: 100%;
  margin-top: 60px;
  overflow: hidden;
}
.ful_width_custom_slider .cust_slide {
  width: 100%;
  height: 550px;
  position: relative;
  overflow: hidden;
}
.ful_width_custom_slider .cust_slide::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
}
.ful_width_custom_slider .cust_slide img {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ful_width_custom_slider .cust_slide .content_block {
  position: absolute;
  z-index: 5;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  width: 40%;
  padding: 30px;
  max-height: 100%;
}

.grid_item .slider {
  margin-top: 50px;
}
.grid_item .slider .slide-inner p {
  text-align: right;
  max-width: 600px;
  margin-left: auto;
}
.grid_item .slider .slide-inner h4 {
  text-align: right;
}

[data-scrollbar] .scrollbar-thumb {
  background: #e74847 !important;
}

.c-scrollbar_thumb {
  background-color: #e74847 !important;
  opacity: 1 !important;
}

.navigation-menu {
  height: 100vh;
}

.contact-map {
  margin-bottom: 50px;
}

.c-scrollbar {
  height: 100vh !important;
  position: fixed !important;
}

.off_grid_column .grid_item .slider .swiper-slide {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.header .navbar .logo {
  max-width: 175px;
}
.header .navbar .logo a {
  display: inline-block;
}
.header .navbar .logo a img {
  height: 48px;
  display: inline-block;
  width: max-content;
}
@media (max-width: 570px) {
  .header .navbar .logo a img {
    height: auto;
    width: 150px;
  }
}
@media (max-width: 370px) {
  .header .navbar .logo a img {
    width: 135px;
  }
}
@media (max-width: 1200px) {
  .header .navbar .phone {
    display: none;
  }
}
@media (max-width: 1200px) {
  .header .navbar {
    padding: 30px 15px;
  }
}
.header .headlines.home-heading h3 {
  font-size: 72px;
  line-height: 1.4;
}
@media (max-width: 990px) {
  .header .headlines.home-heading h3 {
    font-size: 50px;
  }
}
@media (max-width: 570px) {
  .header .headlines.home-heading h3 {
    font-size: 30px;
    font-weight: 500;
  }
}
@media (max-width: 992px) {
  .header .get_in_touch_btn {
    margin-left: auto;
  }
}
@media (max-width: 992px) {
  .header .get_in_touch_btn {
    margin-right: 30px;
  }
}
@media (max-width: 570px) {
  .header .get_in_touch_btn {
    margin-right: 10px;
  }
}
@media (max-width: 370px) {
  .header .get_in_touch_btn {
    margin-right: 8px;
  }
}
@media (max-width: 370px) {
  .header .get_in_touch_btn img {
    width: 24px;
  }
}

.porfolio_link {
  border: 1px solid #e74847;
  color: #e74847 !important;
}

body.single-cases .case-detail ul li,
body.single-cases .case-detail ol li {
  list-style: none;
  position: relative;
  color: #000;
}
body.single-cases .case-detail ul li::after,
body.single-cases .case-detail ol li::after {
  position: absolute;
  width: 9px;
  content: "";
  height: 9px;
  border-radius: 50%;
  left: -15px;
  top: 8px;
  background-color: #e74847;
}

.sticky_header .left-side .logo {
  opacity: 1;
  transform: translateY(0);
}

.left-side .gotop {
  display: inline;
  transition: 0.3s all ease-in-out;
  transform: translateY(20px);
  opacity: 0;
  visibility: hidden;
  left: 50%;
  margin-left: -25px;
}
@media (max-width: 1200px) {
  .left-side {
    display: none;
  }
}

.scroll-end .left-side .gotop {
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}

.featured-services .row > div a:hover {
  text-decoration: none;
}

.full_width_blockquote_wrapper {
  padding-bottom: 70px;
}
@media (max-width: 570px) {
  .full_width_blockquote_wrapper .container {
    padding: 0px;
  }
}
@media (max-width: 570px) {
  .full_width_blockquote_wrapper {
    padding-bottom: 40px;
  }
}

.contact address a {
  color: #000 !important;
  text-decoration: none !important;
}

@media (max-width: 990px) {
  section.off_grid_column .grid_item .detail_content h4 {
    font-weight: 400;
    font-size: 33px;
  }
}

@media (max-width: 570px) {
  .off_grid_column .grid_item .container {
    padding: 0;
  }
}

.closeburger {
  width: 50px;
  background-color: #fff;
  padding: 6px;
  cursor: pointer;
  display: none;
  margin-left: 30px;
}
.closeburger svg {
  fill: #e74847;
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

.page-404 h1 {
  font-size: 150px;
  color: #e74847;
  font-weight: 500;
  line-height: 1;
  text-align: center;
}
@media (max-width: 570px) {
  .page-404 h1 {
    font-size: 90px;
  }
}
.page-404 h3 {
  font-size: 30px;
  color: #000;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
}
@media (max-width: 570px) {
  .page-404 h3 {
    font-size: 20px;
  }
}

.header .page-title h1 {
  color: #e74847;
}
.header .page-title h2 {
  color: #000;
}

.about-intro h3 {
  color: #e74847;
}
.about-intro p {
  color: #000;
  font-weight: 500;
}
.about-intro ul li,
.about-intro ol li {
  color: #000;
  font-weight: 500;
}

.main-services article span {
  color: #ff6d01;
}
.main-services article h4 {
  color: #000;
}
.main-services article p {
  color: #000;
}

.team figure {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
.team figure > img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.team figure figcaption {
  text-align: center;
}
.team figure figcaption h5 {
  color: #e74847;
}
.team figure figcaption span {
  color: #000;
}
.team figure figcaption a {
  color: #000;
  margin-right: 0;
}

.get_in_touch_btn {
  background-color: #e74847;
  color: #fff;
  border-color: #e74847;
}

.well ul li:before {
  -webkit-filter: invert(0);
  filter: invert(0);
}

.header .page-title h1 {
  color: #e74847;
}
.header .page-title h2 {
  color: #000;
}

.works .titles h2 {
  color: #e74847;
}
.works .titles p {
  color: #000;
}

.project-box .project-content h3 {
  color: #e74847;
}
.project-box .project-content h3 a {
  color: #e74847;
}
.project-box .project-content h6 {
  color: #000;
}
.project-box .project-content small {
  color: #000;
}

.about-intro.service-section h4 {
  color: #e74847;
}

.color-dark .custom-btn.dark a {
  border: 1px solid #e74847 !important;
}

.related-projects h2 {
  color: #e74847;
}
.related-projects .related-items h5 {
  color: #000;
}

.well {
  background: #e74847;
}
.well ul li {
  color: #fff;
}

.importance_of_maintenance h2 {
  color: #e74847;
}
.importance_of_maintenance .importance_of_maintenance_body .col-md-7 .importance_of_maintenance_right-side li .importance-content h5 {
  color: #e74847;
}
.importance_of_maintenance .importance_of_maintenance_body .col-md-7 .importance_of_maintenance_right-side li .importance-content p {
  color: #000;
}

.maintenance-objectives h3 {
  color: #e74847;
}
.maintenance-objectives h5 {
  color: #000;
}
.maintenance-objectives .row .col-md-4 .objective-wrap h4 {
  color: #000;
}
.maintenance-objectives .row .col-md-4 .objective-wrap p {
  color: #000;
}

.site_maintenance-plans h3 {
  color: #e74847;
}
.site_maintenance-plans .plans-body-content .row .col-md-6 .plans_left-side h4 {
  color: #000;
}
.site_maintenance-plans .plans-body-content .row .col-md-6 .plans_left-side .platform-name h6 {
  color: #e74847;
}
.site_maintenance-plans .plans-body-content .row .col-md-6 .plans_left-side .platform-name p {
  color: #000;
}

.our-trusted-clients .clients-big-text-wrap .row .col-md-5 .client-big-txt h3 {
  color: #e74847;
}

.maintenance-objectives h3 {
  color: #e74847;
}
.maintenance-objectives h5 {
  color: #000;
}

.free_quote_contact-form .get-in-touch-contact-form form .row .col-md-6 .right-form-wrap .btn-sumbit-border {
  color: #e74847;
  border: 2px solid #e74847;
}
.free_quote_contact-form .get-in-touch-contact-form form .row .col-md-6 .right-form-wrap .btn-sumbit-border:hover {
  background-color: #e74847;
  color: #fff;
}

.free_quote_contact-form .get-in-touch-contact-form form .row .col-md-6 .left-form-wrap fieldset label input {
  border: 2px solid #e74847;
  color: #e74847;
}
.free_quote_contact-form .get-in-touch-contact-form form .row .col-md-6 .left-form-wrap fieldset label input::placeholder {
  color: #e74847;
}
.free_quote_contact-form .get-in-touch-contact-form form .row .col-md-6 .right-form-wrap fieldset textarea {
  border: 2px solid #e74847;
  border-radius: 12px;
  color: #e74847;
}
.free_quote_contact-form .get-in-touch-contact-form form .row .col-md-6 .right-form-wrap fieldset textarea::placeholder {
  color: #e74847;
}

.external_link p {
  color: #000;
}
.external_link p a {
  font-weight: 500;
  color: #e74847;
}

.contact-form-wrapper .form_field label {
  color: #e74847;
}
.contact-form-wrapper .form_field input,
.contact-form-wrapper .form_field textarea {
  border: 1px solid #000 !important;
  color: #000;
  resize: none;
}
.contact-form-wrapper .form_field input::placeholder,
.contact-form-wrapper .form_field textarea::placeholder {
  color: #000;
}
.contact-form-wrapper .form_field .field-prefix {
  color: #000;
}
.contact-form-wrapper input[type=submit] {
  background-color: #e74847;
  border: 1px solid #e74847;
  color: #fff;
}
@media (min-width: 1200px) {
  .contact-form-wrapper input[type=submit]:hover {
    color: #e74847;
    background-color: transparent;
  }
}

.contact h5 {
  color: #e74847;
}
.contact address {
  color: #000;
}

.case-detail h5 {
  color: #e74847;
}
.case-detail p {
  color: #000;
}
.case-detail h6 {
  color: #e74847;
}

.portfolio_listing {
  padding: 100px 0 50px;
}
@media (max-width: 570px) {
  .portfolio_listing {
    padding: 25px 0;
  }
}
.portfolio_listing .titles {
  margin-bottom: 30px;
}
.portfolio_listing .titles h2 {
  line-height: 1;
  margin-bottom: 0;
  font-size: 46px;
  font-weight: 400;
}
@media (max-width: 570px) {
  .portfolio_listing .titles h2 {
    font-size: 33px;
  }
}
@media (max-width: 570px) {
  .portfolio_listing .titles {
    flex-flow: column !important;
    align-items: start !important;
  }
}

@media (max-width: 990px) {
  .min_990 {
    display: none !important;
  }
}

@media (min-width: 990px) {
  .max_990 {
    display: none !important;
  }
}

@media (max-width: 570px) {
  .min_570 {
    display: none !important;
  }
}

@media (min-width: 570px) {
  .max_570 {
    display: none !important;
  }
}

.goto_inner {
  display: flex;
  align-items: center;
  color: #e74847 !important;
  font-weight: 600;
  line-height: 1.3;
  text-decoration: none !important;
  font-size: 16px;
}
.goto_inner svg {
  width: 20px;
  height: auto;
  fill: #e74847;
  transition: 0.3s all ease-in-out;
}
.goto_inner:hover {
  text-decoration: none !important;
}
.goto_inner:hover svg {
  transform: translateX(10px);
}

.porfolio_list_row {
  margin: 0 -20px;
}
.porfolio_list_row .portfolio_list_cards {
  padding: 0 20px;
  margin-bottom: 60px;
  text-decoration: none !important;
}
@media (max-width: 570pc) {
  .porfolio_list_row .portfolio_list_cards {
    margin-bottom: 30px;
  }
}
.porfolio_list_row .portfolio_list_cards figure {
  width: 100%;
  height: auto;
  aspect-ratio: 9/13;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}
.porfolio_list_row .portfolio_list_cards figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.6s all ease-in-out;
}
.porfolio_list_row .portfolio_list_cards h5 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
  color: #000;
  margin-bottom: 10px;
  text-decoration: none !important;
}
.porfolio_list_row .portfolio_list_cards span {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: #000;
  margin-bottom: 10px;
  display: block;
}
.porfolio_list_row .portfolio_list_cards small {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: #000;
  display: block;
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  .porfolio_list_row .portfolio_list_cards:hover figure img {
    transform: scale(1.07);
  }
}

.customHomeBannerDev {
  width: 100%;
  height: 572px;
  position: relative;
}
@media (max-width: 990px) {
  .customHomeBannerDev {
    height: 100vh;
  }
}
.customHomeBannerDev .bannerBgOverlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  object-fit: cover;
}
.customHomeBannerDev .bannerBgImage {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
}
.customHomeBannerDev .rightSideImage {
  position: absolute;
  right: 0;
  bottom: -75px;
  width: 40%;
  z-index: 5;
  height: 90%;
  object-fit: contain;
  animation: hovering 5s linear infinite;
}
.customHomeBannerDev .rightSideImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.customHomeBannerDev .rightSideImage .hoverBtn {
  opacity: 0;
  position: absolute;
  top: 160px;
  left: 38%;
  transform: translateX(-50%) rotate(-16deg);
}
.customHomeBannerDev .rightSideImage:hover .hoverBtn {
  opacity: 1;
  background-color: #fff !important;
  color: #e74847 !important;
}
@keyframes hovering {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}
@media (max-width: 990px) {
  .customHomeBannerDev .rightSideImage {
    width: 70%;
    height: 50%;
    bottom: 10px;
  }
}
@media (max-width: 570px) {
  .customHomeBannerDev .rightSideImage {
    display: none;
  }
}
.customHomeBannerDev .headerContentWrapper {
  height: 100%;
  width: 100%;
  z-index: 5;
  position: relative;
}
.customHomeBannerDev .headerContentWrapper .container {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}
@media (max-width: 990px) {
  .customHomeBannerDev .headerContentWrapper .container {
    align-items: flex-start;
  }
}
@media (max-width: 570px) {
  .customHomeBannerDev .headerContentWrapper .container {
    align-items: center;
  }
}
.customHomeBannerDev .headerContentWrapper .container::after {
  content: "";
  position: absolute;
  right: 43px;
  bottom: -125px;
  width: 40%;
  z-index: 4;
  height: 90%;
  background-image: url(../images/shadow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
}
@media (max-width: 1200px) {
  .customHomeBannerDev .headerContentWrapper .container::after {
    right: 32px;
    opacity: 0.5;
  }
}
@media (max-width: 990px) {
  .customHomeBannerDev .headerContentWrapper .container::after {
    display: none;
  }
}
.customHomeBannerDev .headerContentWrapper .contentInnerWrap {
  max-width: 58%;
  margin-top: 50px;
}
@media (max-width: 990px) {
  .customHomeBannerDev .headerContentWrapper .contentInnerWrap {
    margin-top: 200px;
    max-width: 100%;
  }
}
@media (max-width: 570px) {
  .customHomeBannerDev .headerContentWrapper .contentInnerWrap {
    margin-top: 0px;
  }
}
.customHomeBannerDev .headerContentWrapper .contentInnerWrap h1 {
  font-weight: 300;
  text-align: left;
  margin-bottom: 10px;
  font-size: 42px;
  line-height: 1.4;
  color: #ffffff;
}
@media (max-width: 1200px) {
  .customHomeBannerDev .headerContentWrapper .contentInnerWrap h1 {
    font-size: 30px;
  }
}
@media (max-width: 990px) {
  .customHomeBannerDev .headerContentWrapper .contentInnerWrap h1 {
    font-size: 40px;
  }
}
@media (max-width: 570px) {
  .customHomeBannerDev .headerContentWrapper .contentInnerWrap h1 {
    font-size: 25px;
    text-align: center;
  }
}
.customHomeBannerDev .headerContentWrapper .contentInnerWrap h1 span {
  display: inline;
  font-weight: 500;
}
@media (max-width: 990px) {
  .customHomeBannerDev .headerContentWrapper .contentInnerWrap h1 span {
    display: inline;
  }
}
.customHomeBannerDev .headerContentWrapper .contentInnerWrap h6 {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 20px;
  color: #ffffff;
}
@media (max-width: 1200px) {
  .customHomeBannerDev .headerContentWrapper .contentInnerWrap h6 {
    font-size: 14px;
  }
}
@media (max-width: 990px) {
  .customHomeBannerDev .headerContentWrapper .contentInnerWrap h6 {
    font-size: 18px;
  }
}
@media (max-width: 570px) {
  .customHomeBannerDev .headerContentWrapper .contentInnerWrap h6 {
    text-align: center;
  }
}
@media (max-width: 570px) {
  .customHomeBannerDev .headerContentWrapper .contentInnerWrap .customCtaBtn {
    margin: auto;
    display: block;
    width: max-content;
  }
}

.customCtaBtn {
  background-color: #fff;
  border-radius: 1px;
  padding: 10px 15px;
  text-decoration: none !important;
  text-transform: uppercase;
  display: inline-block;
  color: #e74847 !important;
  font-weight: 500;
  font-size: 17px;
  line-height: 34px;
  border: 2px solid #fff;
  transition: 0.3s all ease-in-out;
}
@media (min-width: 1200px) {
  .customCtaBtn:hover {
    background-color: transparent;
    color: #fff !important;
  }
}
@media (max-width: 570px) {
  .customCtaBtn {
    font-size: 16px;
    padding: 5px 10px;
  }
}
.customCtaBtn.redBtn {
  border: 1px solid #e74847;
  color: #e74847 !important;
  background-color: transparent;
}
@media (min-width: 1200px) {
  .customCtaBtn.redBtn:hover {
    background-color: #e74847;
    color: #fff !important;
  }
}

header .top_header {
  width: 100%;
}
header .navbar,
header .top_header {
  max-width: 1200px;
  padding: 0 15px;
  margin: auto;
}
@media (max-width: 1200px) {
  header .navbar,
  header .top_header {
    max-width: 1140px;
  }
}
@media (max-width: 992px) {
  header .navbar,
  header .top_header {
    max-width: 960px;
  }
}
@media (max-width: 768px) {
  header .navbar,
  header .top_header {
    max-width: 720px;
  }
}
@media (max-width: 576px) {
  header .navbar,
  header .top_header {
    max-width: 540px;
  }
}

.navbar .logo.light {
  display: none;
}

body.page-template-page-home-new .navbar .logo {
  display: none;
}
body.page-template-page-home-new .navbar .logo.light {
  display: block;
}
body.page-template-page-home-new .top_header ul.contact_phone a {
  color: #fff;
}
body.page-template-page-home-new header {
  position: fixed;
  width: 100%;
  z-index: 100;
}
@media (max-width: 1200px) {
  body.page-template-page-home-new header {
    position: absolute;
  }
}
body.page-template-page-home-new .navbar .main-menu ul li a {
  color: #fff;
}

@media (max-width: 990px) {
  .navbar.light .logo {
    display: block !important;
  }
}
@media (max-width: 990px) {
  .navbar.light .logo.light {
    display: none !important;
  }
}
@media (max-width: 990px) {
  .navbar.light {
    background: transparent !important;
  }
}
.navbar.light .logo a img {
  -webkit-filter: unset;
  filter: unset;
}
.navbar.light .main-menu ul li a {
  color: #000;
}
.navbar.light .main-menu ul li a:hover {
  color: #e74847;
}
.navbar.light .main-menu ul li .sub-menu li a {
  color: #fff;
}

.customAboutUsSection {
  padding: 100px 0 60px;
  background-color: #fff;
}
@media (max-width: 570px) {
  .customAboutUsSection {
    padding: 25px 0;
  }
}
.customAboutUsSection .aboutUsInnerWrapper .aboutUsSideImage {
  width: 164px;
  height: 164px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.customAboutUsSection .aboutUsInnerWrapper .aboutUsSideImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (max-width: 990px) {
  .customAboutUsSection .aboutUsInnerWrapper .aboutUsSideImage {
    margin-bottom: 40px;
  }
}
.customAboutUsSection .aboutUsInnerWrapper h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 1.4;
  color: #e74847;
}
@media (max-width: 570px) {
  .customAboutUsSection .aboutUsInnerWrapper h3 {
    font-size: 33px;
  }
}
.customAboutUsSection .aboutUsInnerWrapper p {
  font-size: 20px;
  color: #000;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 30px;
}
@media (max-width: 570px) {
  .customAboutUsSection .aboutUsInnerWrapper p {
    font-size: 18px;
  }
}