.fancybox-can-drag .fancybox-content {
  width: 100%;
}

div.wpforms-container-full .wpforms-form .wpforms-field-label {
  font-weight: 500 !important;
}

div.wpforms-container-full .wpforms-form input[type=submit]:hover,
div.wpforms-container-full .wpforms-form input[type=submit]:focus,
div.wpforms-container-full .wpforms-form input[type=submit]:active,
div.wpforms-container-full .wpforms-form button[type=submit]:hover,
div.wpforms-container-full .wpforms-form button[type=submit]:focus,
div.wpforms-container-full .wpforms-form button[type=submit]:active,
div.wpforms-container-full .wpforms-form .wpforms-page-button:hover,
div.wpforms-container-full .wpforms-form .wpforms-page-button:active,
div.wpforms-container-full .wpforms-form .wpforms-page-button:focus,
div.wpforms-container-full .wpforms-form input[type=submit],
div.wpforms-container-full .wpforms-form button[type=submit],
div.wpforms-container-full .wpforms-form .wpforms-page-button {
  display: flex !important;
  flex-wrap: wrap !important;
  align-content: center !important;
  height: 58px !important;
  border: 1px solid #f6323e !important;
  font-size: 13px !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  padding: 0 30px !important;
  background: #f6323e !important;
  color: #fff !important;
  float: left;
}

div.wpforms-container-full .wpforms-form input[type=date],
div.wpforms-container-full .wpforms-form input[type=datetime],
div.wpforms-container-full .wpforms-form input[type=datetime-local],
div.wpforms-container-full .wpforms-form input[type=email],
div.wpforms-container-full .wpforms-form input[type=month],
div.wpforms-container-full .wpforms-form input[type=number],
div.wpforms-container-full .wpforms-form input[type=password],
div.wpforms-container-full .wpforms-form input[type=range],
div.wpforms-container-full .wpforms-form input[type=search],
div.wpforms-container-full .wpforms-form input[type=tel],
div.wpforms-container-full .wpforms-form input[type=text],
div.wpforms-container-full .wpforms-form input[type=time],
div.wpforms-container-full .wpforms-form input[type=url],
div.wpforms-container-full .wpforms-form input[type=week],
div.wpforms-container-full .wpforms-form select,
div.wpforms-container-full .wpforms-form textarea {
  background-color: transparent !important;
  border-radius: 0px !important;
  color: #fff !important;
  display: block;
  float: none;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  padding: 10px 20px !important;
  height: 54px !important;
  width: 100%;
  line-height: 1.3;
}

.contact-form-popup div.wpforms-container-full .wpforms-form input[type=date],
.contact-form-popup div.wpforms-container-full .wpforms-form input[type=datetime],
.contact-form-popup div.wpforms-container-full .wpforms-form input[type=datetime-local],
.contact-form-popup div.wpforms-container-full .wpforms-form input[type=email],
.contact-form-popup div.wpforms-container-full .wpforms-form input[type=month],
.contact-form-popup div.wpforms-container-full .wpforms-form input[type=number],
.contact-form-popup div.wpforms-container-full .wpforms-form input[type=password],
.contact-form-popup div.wpforms-container-full .wpforms-form input[type=range],
.contact-form-popup div.wpforms-container-full .wpforms-form input[type=search],
.contact-form-popup div.wpforms-container-full .wpforms-form input[type=tel],
.contact-form-popup div.wpforms-container-full .wpforms-form input[type=text],
.contact-form-popup div.wpforms-container-full .wpforms-form input[type=time],
.contact-form-popup div.wpforms-container-full .wpforms-form input[type=url],
.contact-form-popup div.wpforms-container-full .wpforms-form input[type=week],
.contact-form-popup div.wpforms-container-full .wpforms-form select,
.contact-form-popup div.wpforms-container-full .wpforms-form textarea {
  background-color: #fff;
  border-radius: 0px !important;
  color: #333 !important;
  display: block;
  float: none;
  font-size: 16px;
  border: 1px solid #ccc !important;
  padding: 10px 20px !important;
  height: 54px !important;
  width: 100%;
  line-height: 1.3;
}

div.wpforms-container-full .wpforms-form textarea, .contact-form-popup div.wpforms-container-full .wpforms-form textarea {
  height: auto !important;
  min-height: 160px !important;
}

div.wpforms-container-full .wpforms-form .wpforms-field-label {
  color: white;
}

.contact-form-popup div.wpforms-container-full .wpforms-form .wpforms-field-label {
  color: black;
}

.wpforms-submit-spinner {
  float: left !important;
  margin-left: 15px !important;
  margin-top: 15px !important;
}

div.wpforms-container-full, div.wpforms-container-full .wpforms-form * {
  color: #333;
  font-weight: 500;
}

div.wpforms-container-full .wpforms-form label.wpforms-error {
  color: #fff !important;
}

div.wpforms-container-full .wpforms-form .wpforms-field-sublabel {
  color: #fff;
}

.contact-form-popup div.wpforms-container-full .wpforms-form .wpforms-field-sublabel {
  color: #333;
}

.contact-form-popup div.wpforms-container-full .wpforms-form label.wpforms-error {
  color: #f6323e !important;
}