/* BODY */
* {
  outline: none !important;
}

html {
  scroll-behavior: smooth;
}

.fancybox-container{
  font-family: "Gotham";
}

.fancybox-bg{
  background: #f6323e;
}

.fancybox-close-small{
  background: #282828;
  color: #fff;
}

div.wpcf7-validation-errors{
  color: #fff;
}

/*
*{
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
*/

body {
  margin: 0;
  padding-left: 150px;
  padding-right: 50px;
  font-family: "Gotham";
  font-weight: 400;
  font-size: 17px;
  color: #282828;
  /* -webkit-transition: all 0.3s ease-in-out; */
  /* -moz-transition: all 0.3s ease-in-out; */
  /* -ms-transition: all 0.3s ease-in-out; */
  /* -o-transition: all 0.3s ease-in-out; */
  /* transition: all 0.3s ease-in-out; */
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  position: relative;

  /*
  background: rgba(246,50,63,1);
  background: -moz-linear-gradient(-45deg, rgba(246,50,63,1) 0%, rgba(246,50,63,1) 20%, rgba(251,89,31,1) 20%, rgba(255,118,6,1) 41%, rgba(251,89,31,1) 41%, rgba(251,89,31,1) 64%, rgba(255,124,24,1) 64%, rgba(255,124,24,1) 82%, rgba(246,50,63,1) 82%, rgba(246,50,63,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(246,50,63,1)), color-stop(20%, rgba(246,50,63,1)), color-stop(20%, rgba(251,89,31,1)), color-stop(41%, rgba(255,118,6,1)), color-stop(41%, rgba(251,89,31,1)), color-stop(64%, rgba(251,89,31,1)), color-stop(64%, rgba(255,124,24,1)), color-stop(82%, rgba(255,124,24,1)), color-stop(82%, rgba(246,50,63,1)), color-stop(100%, rgba(246,50,63,1)));
  background: -webkit-linear-gradient(-45deg, rgba(246,50,63,1) 0%, rgba(246,50,63,1) 20%, rgba(251,89,31,1) 20%, rgba(255,118,6,1) 41%, rgba(251,89,31,1) 41%, rgba(251,89,31,1) 64%, rgba(255,124,24,1) 64%, rgba(255,124,24,1) 82%, rgba(246,50,63,1) 82%, rgba(246,50,63,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(246,50,63,1) 0%, rgba(246,50,63,1) 20%, rgba(251,89,31,1) 20%, rgba(255,118,6,1) 41%, rgba(251,89,31,1) 41%, rgba(251,89,31,1) 64%, rgba(255,124,24,1) 64%, rgba(255,124,24,1) 82%, rgba(246,50,63,1) 82%, rgba(246,50,63,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(246,50,63,1) 0%, rgba(246,50,63,1) 20%, rgba(251,89,31,1) 20%, rgba(255,118,6,1) 41%, rgba(251,89,31,1) 41%, rgba(251,89,31,1) 64%, rgba(255,124,24,1) 64%, rgba(255,124,24,1) 82%, rgba(246,50,63,1) 82%, rgba(246,50,63,1) 100%);
  background: linear-gradient(135deg, rgba(246,50,63,1) 0%, rgba(246,50,63,1) 20%, rgba(251,89,31,1) 20%, rgba(255,118,6,1) 41%, rgba(251,89,31,1) 41%, rgba(251,89,31,1) 64%, rgba(255,124,24,1) 64%, rgba(255,124,24,1) 82%, rgba(246,50,63,1) 82%, rgba(246,50,63,1) 100%);
  */

  /*
  background: linear-gradient(135deg, 
    
    rgba(246,50,63,1) 0%, rgba(246,50,63,1) 20%, 
    rgba(251,89,31,1) 20%, rgba(255,118,6,1) 41%, 
    rgba(251,89,31,1) 41%, rgba(251,89,31,1) 64%, 
    rgba(255,124,24,1) 64%, rgba(255,124,24,1) 82%, 
    rgba(246,50,63,1) 82%, rgba(246,50,63,1) 100%
    
    #f74853 0%, #f74853 10%,
    #f6313e 15%, #f6313e 30%,
    #f9422b 33%, #f9422b 40%,
    #fe6406 44%, #fe6406 50%,
    #ff6a00 55%, #ff6a00 70%,
    #ff7404 74%, #ff7404 76%,
    #fd5f0c 78%, #fd5f0c 85%,
    #fc5a11 88%, #fc5a11 92%,
    #fa4a23 95%, #fa4a23 97%,
    #f6313e 95%, #f6313e 100%

  );
  */

  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6323f', endColorstr='#f6323f', GradientType=1 ); */

  background: #f74853; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #f74853 0%, #f6313e 16%, #f6313e 16%, #f9422b 16%, #f9422b 17%, #fe6406 35%, #ff6a00 35%, #ff7404 56%, #fd5f0c 56%, #fc5a11 80%, #fa4a23 80%, #f6313e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #f74853 0%,#f6313e 16%,#f6313e 16%,#f9422b 16%,#f9422b 17%,#fe6406 35%,#ff6a00 35%,#ff7404 56%,#fd5f0c 56%,#fc5a11 80%,#fa4a23 80%,#f6313e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #f74853 0%,#f6313e 16%,#f6313e 16%,#f9422b 16%,#f9422b 17%,#fe6406 35%,#ff6a00 35%,#ff7404 56%,#fd5f0c 56%,#fc5a11 80%,#fa4a23 80%,#f6313e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f74853', endColorstr='#f6313e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

/*
body:before{
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  display: block;
  -webkit-transition: opacity 0.6s linear;
  -moz-transition: opacity 0.6s linear;
  -ms-transition: opacity 0.6s linear;
  -o-transition: opacity 0.6s linear;
  transition: opacity 0.6s linear;
  background: rgb(251,88,31);
  opacity: 0;
  z-index: -999;
}

header, footer, section{
  position: relative;
  z-index: 1;
}
*/