.gallery_banner_top {
  height: 650px;
  overflow: hidden;
  position: relative;
  margin-bottom: 25px;
  @media (max-width: 1440px) {
    height: 470px;
  }
  @media (max-width: 570px) {
    height: 260px;
  }
  .bankground_img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      display: block;
      opacity: 0.7;
      background-image: linear-gradient(to top, #000 30%, transparent 70%);
      // background-color: rgba($color: #000, $alpha: .4);
      z-index: 2;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: var(--pos);
    }
  }
  .content_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
    .container {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      max-width: unset;
      padding: 0;
      .heading_wrap {
        width: 100%;
        // padding-top: 180px;
        position: absolute;
        bottom: 20%;
        width: 100%;
        flex-grow: 1;
        h1 {
          display: block;
          text-align: center;
          text-transform: capitalize;
          font-size: 52px;
          line-height: 62px;
          font-weight: 400;
          color: #fff;
          @media (max-width: 1440px) {
            font-size: 34px;
            line-height: 38px;
          }
          @media (max-width: 570px) {
            font-size: 24px;
            line-height: 28px;
          }
        }
        p {
          font-size: 17px;
          line-height: 22px;
          margin: 0;
          text-align: center;
          font-weight: 600;
          @media (max-width: 1440px) {
            font-size: 15px;
            line-height: 19px;
          }
          @media (max-width: 570px) {
            font-size: 14px;
            line-height: 18px;
          }
        }
      }
    }
  }
  &.events_listing_banner {
    display: flex;
    flex-flow: row-reverse;
    @media (max-width: 1640px) {
      height: 470px;
    }
    @media (max-width: 1200px) {
      height: 390px;
    }
    @media (max-width: 990px) {
      height: 300px;
    }
    @media (max-width: 570px) {
      flex-flow: column;
      height: auto;
      //  border-radius: 10px;
    }
    .bankground_img {
      // z-index: 3;
      width: 75%;
      @media (max-width: 570px) {
        width: 100%;
        height: auto;
        aspect-ratio: 16/10;
        position: static;
      }
    }
    .content_wrapper {
      width: 50%;
      padding: 30px 20px;
      background-color: #f7323f;
      -webkit-clip-path: polygon(46% 0, 100% 0%, 100% 100%, 20% 100%);
      clip-path: polygon(46% 0, 100% 0%, 100% 101%, 20% 101%);
      .container {
        @media (max-width: 570px) {
          padding: 0;
        }
      }
      @media (max-width: 570px) {
        clip-path: unset;
        width: 100%;
        height: max-content;
        // position: absolute;
        bottom: 0;
      }
      .heading_wrap {
        max-width: 500px;
        position: static;
        margin-left: auto;
        @media (max-width: 1440px) {
          max-width: 300px;
        }
        @media (max-width: 570px) {
          max-width: 100%;
        }
        p {
          text-align: right;
          padding: 5px 17px;
          background-color: #fff;
          color: #f7323f;
          width: max-content;
          margin-left: auto;
          margin-bottom: 15px;
          @media (max-width: 570px) {
            text-align: center;
            margin: auto auto 15px;
          }
        }
      }
      .container .heading_wrap h1 {
        @media (max-width: 1440px) {
          font-size: 45px;
          line-height: 53px;
        }
        @media (max-width: 1200px) {
          font-size: 35px;
          line-height: 38px;
        }
        @media (max-width: 570px) {
          text-align: center;
        }
        color: #fff;
        text-align: right;
        margin: 0;
      }
    }
  }
}

.galllery_listing_section {
  padding: 90px 0;
  @media (max-width: 570px) {
    padding: 40px 0;
  }
  .image_grid {
    &:hover {
      .image_item {
        opacity: 0.8;
        text-decoration: none;
        @media (max-width: 1200px) {
          opacity: 1;
        }
      }
    }
    .grid_inner_wrapper {
      padding: 0px 10px 0;
      display: grid;
      // gap: 20px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      @media (max-width: 1200px) {
        grid-template-columns: 1fr 1fr;
      }
      @media (max-width: 570px) {
        grid-template-columns: 1fr;
      }
      a {
        text-decoration: none;
      }
      .image_item {
        display: block;
        position: relative;
        transition: 0.2s all ease-in-out;
        padding: 10px;
        @media (max-width: 1200px) {
          aspect-ratio: unset !important;
        }
        .image_description {
          padding: 15px 10px;
          position: absolute;
          top: 100%;
          background-color: #fff;
          left: 0%;
          z-index: 3;
          width: 100%;
          text-align: center;
          opacity: 0;
          transition: 0.5s all ease-in-out;
          pointer-events: none;
          height: auto;
          display: block;
          @media (max-width: 1200px) {
            position: static;
            opacity: 1;
            // visibility: visible;
          }
          svg {
            width: 24px;
            height: 24px;
            object-fit: contain;
            margin-bottom: 20px;
            display: none;
          }
          h4 {
            color: #000;
            font-size: 20px;
            line-height: 24px;
            font-weight: 600;
            margin: 0;
            margin-bottom: 10px;
            text-decoration: none;
            @media (max-width: 1200px) {
              font-size: 16px;
              line-height: 20px;
            }
          }
          p {
            color: #000;
            font-size: 16px;
            line-height: 22px;
            margin: 0;
            text-decoration: none;
            font-weight: 500;
            @media (max-width: 1200px) {
              font-size: 14px;
              line-height: 17px;
            }
          }
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top;
          @media (max-width: 1200px) {
            width: 100%;
            height: auto;
          }
        }
      }
      .image_item:hover {
        background-color: #fff;
        opacity: 1;
        @media (max-width: 1200px) {
          background-color: transparent;
        }
        .image_description {
          opacity: 1;
          // visibility: visible;
        }
      }
      .image_item:nth-child(1) {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        @media (max-width: 1200px) {
          grid-row-start: 1;
          grid-row-end: 2;
          grid-column-start: 1;
          grid-column-end: 3;
          aspect-ratio: unset !important;
        }
        @media (max-width: 579px) {
          grid-row-start: 1;
          grid-row-end: 2;
          grid-column-start: 1;
          grid-column-end: 2;
        }
        img {
          aspect-ratio: 1/0.772;
        }
      }
      .image_item:nth-child(2) {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 3;
        grid-column-end: 4;
        @media (max-width: 1200px) {
          grid-row-start: 2;
          grid-row-end: 3;
          grid-column-start: 1;
          grid-column-end: 2;
        }
        @media (max-width: 579px) {
          grid-row-start: 2;
          grid-row-end: 3;
          grid-column-start: 1;
          grid-column-end: 2;
        }
        img {
          aspect-ratio: 1/0.769;
        }
      }
      .image_item:nth-child(3) {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 4;
        grid-column-end: 5;
        @media (max-width: 1200px) {
          grid-row-start: 2;
          grid-row-end: 3;
          grid-column-start: 2;
          grid-column-end: 3;
        }
        @media (max-width: 579px) {
          grid-row-start: 3;
          grid-row-end: 4;
          grid-column-start: 1;
          grid-column-end: 2;
        }
        img {
          aspect-ratio: 1/0.769;
        }
      }
      .image_item:nth-child(4) {
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 3;
        grid-column-end: 5;
        @media (max-width: 1200px) {
          grid-row-start: 4;
          grid-row-end: 5;
          grid-column-start: 1;
          grid-column-end: 3;
        }
        @media (max-width: 579px) {
          grid-row-start: 4;
          grid-row-end: 5;
          grid-column-start: 1;
          grid-column-end: 2;
        }
        img {
          aspect-ratio: 1/0.39;
          @media (max-width: 1200px) {
            aspect-ratio: 1/0.6;
          }
          @media (max-width: 570px) {
            aspect-ratio: 1/0.65;
          }
        }
      }
      &:nth-of-type(even) {
        .image_item:nth-child(1) {
          grid-row-start: 1;
          grid-row-end: 3;
          grid-column-start: 3;
          grid-column-end: 5;
          @media (max-width: 1200px) {
            grid-row-start: 1;
            grid-row-end: 2;
            grid-column-start: 1;
            grid-column-end: 3;
          }
          @media (max-width: 579px) {
            grid-row-start: 1;
            grid-row-end: 2;
            grid-column-start: 1;
            grid-column-end: 2;
          }
        }
        .image_item:nth-child(2) {
          grid-row-start: 1;
          grid-row-end: 2;
          grid-column-start: 1;
          grid-column-end: 2;
          @media (max-width: 1200px) {
            grid-row-start: 2;
            grid-row-end: 3;
            grid-column-start: 1;
            grid-column-end: 2;
          }
          @media (max-width: 579px) {
            grid-row-start: 2;
            grid-row-end: 3;
            grid-column-start: 1;
            grid-column-end: 2;
          }
        }
        .image_item:nth-child(3) {
          grid-row-start: 1;
          grid-row-end: 2;
          grid-column-start: 2;
          grid-column-end: 3;
          @media (max-width: 1200px) {
            grid-row-start: 2;
            grid-row-end: 3;
            grid-column-start: 2;
            grid-column-end: 3;
          }
          @media (max-width: 579px) {
            grid-row-start: 3;
            grid-row-end: 4;
            grid-column-start: 1;
            grid-column-end: 2;
          }
        }
        .image_item:nth-child(4) {
          grid-row-start: 2;
          grid-row-end: 3;
          grid-column-start: 1;
          grid-column-end: 3;
          @media (max-width: 1200px) {
            grid-row-start: 3;
            grid-row-end: 4;
            grid-column-start: 1;
            grid-column-end: 3;
          }
          @media (max-width: 579px) {
            grid-row-start: 4;
            grid-row-end: 5;
            grid-column-start: 1;
            grid-column-end: 2;
          }
        }
      }
    }
  }
}

.gallery_section_listing {
  padding: 50px 0;
  h3 {
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
  }
  .row {
    & > a {
      display: block;
      margin-bottom: 30px;
      text-decoration: none;
    }
  }
  .list_card {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    transition: 0.2s all ease-in-out;
    &:hover {
      transform: translateY(-15px);
      box-shadow: 0px 10px 15px 1px rgba($color: #000000, $alpha: 0.2);
      @media (max-width: 1200px) {
        transform: translateY(0);
        box-shadow: none;
      }
    }
    .img_wrap {
      width: 100%;
      height: 250px;
      border-radius: 10px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .body_copy {
      padding: 10px 0;
      h6 {
        font-size: 18px;
        line-height: 22px;
        color: #fff;
        font-weight: 600;
        text-align: center;
        margin-bottom: 15px;
        padding: 3px 0;
        background-color: #f7323f;
      }
      p {
        font-size: 14px;
        line-height: 18px;
        color: #000;
        font-weight: 500;
        text-align: center;
        margin: 0;
      }
    }
  }
}
.post-body {
  ul li,
  ol li {
    color: #000;
    position: relative;
    list-style: none;
    &::marker {
      display: none;
    }
    &::before {
      content: "";
      position: absolute;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background-color: #f7323f;
      left: -15px;
      top: 8px;
      z-index: 2;
    }
  }
  p {
    color: #000;
    font-size: 20px;
  }
  h5 {
    color: #000;
    font-size: 24px;
  }
  .post-title {
    color: #f7323f;
  }
  .avatar a {
    color: #000;
  }
  .post-date {
    color: #000;
  }
}
.post-navigation {
  background: #f7323f;
}
.main-services {
  padding: 80px 0;
}
