.hire__developer__section{
  margin-top: 110px;
  @media (max-width:570px) {
    margin-top: 70px;
  }
  .hire__developer__section_wrap{
    .hire_developer-hero-title{
      margin-bottom: 180px;
      @media (max-width:768px) {
      margin-bottom: 100px;
      }
      h2{
        font-size: 60px;
        line-height: 60px;
        font-weight: 400;
        margin-bottom: 0;
        letter-spacing: 0;
        display: inline-block;
        margin-left: -4px;
        @media (max-width:570px) {
          font-size: 45px;
        }
        @media (max-width:470px) {
          font-size: 40px;
          line-height: 30px;
          margin-left: 0;
        }
      }
      h1{
        font-size: 125px;
        color: transparent;
        -webkit-text-stroke: 2px #fff;
        font-weight: 600;
        line-height: 110px;
        display: block;
        white-space: normal;
        margin-left: -8px;
        @media (max-width:1024px) {
          font-size: 100px;
        }
        @media (max-width:767px) {
          font-size: 80px;
        }
        @media (max-width:570px) {
          font-size: 60px;
          line-height: 65px;
        -webkit-text-stroke: 1.5px #fff;
        }
        @media (max-width:470px) {
          font-size: 50px;
          margin-left: 0;

        }
        @media (max-width:340px) {
          font-size: 40px;
          margin-top: -5px;
        }
      }
    }
    .hire_developer_caption-wrap{
      h5{
        font-size: 22px;
        line-height: 24px;
        font-weight: 500;
        letter-spacing: 4px;
        @media (max-width:470px) {
          font-size: 17px;
          line-height: 20px;
        }
      }
      h3{
        font-size: 60px;
        line-height: 62px;
        font-weight: 500;
        margin-bottom: 20px;
        @media (max-width:1200px) {
          font-size: 49px;
        }
        @media (max-width:990px) {
          font-size: 40px;
          line-height: 48px;
        }
        @media (max-width:570px) {
          font-size: 30px;
          line-height: 37px;
        }
        @media (max-width:470px) {
          font-size: 24px;
          line-height: 28px;
        }
      }
      p{
        font-size: 17px;
        line-height: 27px;
        font-weight: 500;
        @media (max-width:570px) {
          font-size: 15px;
          line-height: 25px;
        }
      }
    }
  }
}
.inner_sub_title{
  margin-bottom: 35px;
  @media (max-width:990px) {
    margin-bottom: 15px;
  }
  h4{
    font-size: 45px;
    line-height: 45px;
    font-weight: 400;
    margin: 0;
    @media (max-width:1200px) {
      font-size: 35px;
      line-height: 40px;
    }
    @media (max-width:570px) {
      font-size: 25px;
      line-height: 30px;
    }
  }
  h3{
    font-size: 85px;
    line-height: 65px;
    font-weight: 600;
    -webkit-text-stroke: 1.5px #fff;
    margin: 0;
    margin-top: 5px;
    color: transparent;
    @media (max-width:1200px) {
      font-size: 55px;
      line-height: 55px;
    }
    @media (max-width:570px) {
      font-size: 45px;
      line-height: 45px;
    }
  }
}
section.hire_developer_our_team{
  margin: 100px 0px 0;
  .hire_developer_our_team_wrap{

    .hire_developer_our_team-listing{
      .row{
        .col-md-6{
          margin-bottom: 35px;
          @media (max-width:1200px) {
            flex:0 0 100%;
            max-width:100%
          }
        }
      }
      .our_team_developers{
        display: flex;
        width: 100%;
        height: 100%;
        max-height: 412px;
        @media (max-width:768px) {
          flex-flow: column;
          max-height: unset;
        }
        .dev_img{
          width: 226px;
          height: 100%;
          display: block;
          @media (max-width:768px) {
            width: 100%;
            max-height: 250px;
          }
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            @media (max-width:768px) {
            //  object-fit: contain;
            object-position: top;
            }
          }
        }
        .developer_details{
          display: flex;
          flex-flow: column;
          justify-content: space-between;
          width: calc(100% - 225px);
          background-color: #fff;
          @media (max-width:768px) {
            width: 100%;
          }
          span:first-child{
            padding: 24px 18px 0px;
            h5{
              font-size: 23.39px;
              line-height: 24px;
              margin-bottom: 9px;
              font-weight: 600;
              color: #484848;
            }
            span{
              font-size: 13px;
              line-height: 15px;
              font-weight: 600;
              margin-bottom: 15px;
              color: #484848;
              display: block;
            }
            p{
              font-size: 15px;
              line-height: 20px;
              font-weight: 500;
              color: #484848;
            }
            &+span{
              ul{
                list-style-type: none;
                display: flex;
                flex-wrap: wrap;
                padding: 0 18px;
                margin-bottom: 27px;
                li{
                  font-size: 12px;
                  line-height: 13px;
                  font-weight: 600;
                  color: #484848;
                  margin-right: 14px;
                  margin-bottom: 10px;
                }
              }
              button{
                border: none;
                outline: none;
                background-color: #232724;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 100%;
                font-size: 12px;
                line-height: 13px;
                font-weight: 600;
                color: #fff;
                height: 52px;
                img{
                  width: 14px;
                  height: auto;
                  margin-left: 10px;
                  transition: 0.3s all ease-in-out;
                }
                &:hover{
                  img{
                    transform: translateX(10px);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

section.hire_developer_form{
  padding-top: 100px;
  @media (max-width:768px) {
    margin-bottom: 50px;
  }
  .hire_developer_form_wrap{
    form{
      padding-top: 35px;
      .left-form-wrap{
        @media (max-width:767px) {
          margin-bottom:34px;
        }
        fieldset{
          margin-bottom: 34px;
        max-height: 50px;

          label{
            width: 100%;
            margin-bottom: 0;
            input{
              height: 50px;
              background-color: transparent;
              border: 1px solid rgba($color: #fff, $alpha: 0.6) ;
              // border-radius: 5px;
              color: #fff;
              font-weight: 500;
              font-size: 16px;
              &::placeholder{
                color: #fff;
                font-size: 16px;
                line-height: 17px;
                font-weight: 500;
                opacity: 0.8;
              }
            }
          }
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
      .right-form-wrap{
        height: 100%;
        fieldset{
        height: 100%;
          label{
            width: 100%;
            height: 100%;
            margin: 0;
            textarea{
              background-color: transparent;
              border: 1px solid rgba($color: #fff, $alpha: 0.6) ;
              // border-radius: 5px;
              height: 100%;
              color: #fff;
              resize: none;
              font-weight: 500;
              font-size: 16px;
              &::placeholder{
                color: #fff;
                font-size: 16px;
                line-height: 17px;
                font-weight: 500;
                opacity: 0.8;

              }
            }
          }
        }
      }
      .btn-sumbit-border{
        color: #fff;
        font-size: 14px;
        line-height: 14px;
        font-weight: 600;
        height:49px ;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F63440;
        float: right;
        margin-top: 20px;
        transition: 0.2s all ease-in-out;
        &:hover{
          background-color: #fff;
          color: #F63440;
        }
      }
    }
  }
}
// cms styling
button[type=submit] strong, input[type=submit] {
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  height: 49px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F63440;
  float: right;
  margin-top: 20px;
  transition: 0.2s all ease-in-out;
  }
  // styling over writes
  .wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output{
    display: none;
    clear: both;
  }
  .wpcf7 form.sent .wpcf7-response-output{
    border:  1px solid #b4d39b;
    background-color: #b4d39b;
    color: #333;
    clear: both;
  }

span.wpcf7-not-valid-tip {
font-weight: 500;
}
// cms styling end

header .logo{
  position: relative;
  .its_christmas{
    position: absolute;
    width: 49px;
    top: -19px;
    left: -16px;
    height: auto;
    // transform: rotate(-15deg) scaleX(-1);

  }
}