.importance_of_maintenance{
    margin: 100px 0px 50px;
    @media (max-width:425px) {
        margin: 40px 0px 50px;
    }
    h2{
        font-size: 80px;
        max-width: 1266px;
        text-align: center;
        font-weight: 400;
        margin:auto ;
        line-height: 93px;
        @media (max-width:1440px) {
            font-size: 55px;
            max-width: 900px;
            line-height: 63px;
        }
        @media (max-width:768px) {
            font-size: 40px;
        }
        @media (max-width:425px) {
            font-size: 22px;
            line-height: 35px;
            font-weight: 500;
        }
    }
    .importance_of_maintenance_body{
        margin-top: 80px;
        @media (max-width:768px) {
            margin-top: 50px;
         }
        .row{
            @media (max-width:1024px) {
               margin: 0;
            }
        }
        .col-md-5{
            flex: 0 0 45%;
            max-width: 45%;
            @media (max-width:768px) {
                flex: 0 0 100%;
                max-width: 100%;
            }
            .importance_of_maintenance_left-side{
                max-width: 85%;
                margin: auto;
                @media (max-width:1440px) {
                    max-width: 100%;
                }
                @media (max-width:768px) {
                    max-width: 75%;
                }
                img{
                    width: 100%;
                }
            }
        }
        .col-md-7{
            flex: 0 0 55%;
            max-width: 55%;
            @media (max-width:768px) {
                flex: 0 0 100%;
                max-width: 100%;
            }
            .importance_of_maintenance_right-side{
                @media (max-width:425px) {
                 padding-left: 0;
                }
                li{
                    display: flex;
                    margin-bottom: 60px;
                    @media (max-width:425px) {
                        flex-flow: column;
                        align-items: center;
                    margin-bottom: 40px;
                    }
                    .shield-image{
                        width: 60px;
                        margin-right: 30px;
                        height: auto;
                        @media (max-width:425px) {
                            margin-right: 0px;
                            margin-bottom: 20px;
                           }
                        img{
                            width: 100%;
                        }
                    }
                    .importance-content{
                        max-width: 80%;
                        @media (max-width:425px) {
                            text-align: center;
                        max-width: 100%;
                           }
                        h5{
                            font-size: 20px;
                            font-weight: 600;
                            // line-height: 36px;
                        }
                        p{
                            font-size: 17px;
                            font-weight: 500;
                            line-height: 24px;
                        }
                    }
                }
                li:last-child{
                    margin-bottom: 0;
                }
            }
        }

    }
}
.maintenance-objectives{
    margin-bottom: 100px;
    @media (max-width:768px) {
        margin-bottom: 50px;
        }
    h3{
        font-size: 60px;
        line-height: 68px;
        font-weight: 400;
        max-width: 820px;
        margin: auto;
        text-align: center;
        @media (max-width:768px) {
        font-size: 39px;
        }
        @media (max-width:425px) {
            font-size: 26px;
            line-height: 30px;
            font-weight: 500;
            }
    }
    h5{
        font-size: 20px;
        line-height: 31px;
        font-weight: 500;
        text-align: center;
        @media (max-width:425px) {
            font-size: 15px;
            line-height: 20px;
            margin-top: 8px;
            }
    }
    .row{
        margin-top: 100px;
        @media (max-width:1024px) {
            margin: 0;
            margin-top: 100px;
        }
        @media (max-width:768px) {
            margin-top: 50px;
        }
        @media (max-width:435px) {
            margin-top: 30px;
        }
        .col-md-4{
            margin-bottom: 80px;
            @media (max-width:1024px) {
                flex: 0 0 50%;
            margin-bottom: 30px;
                max-width: 50%;
            }
            @media (max-width:768px) {
                flex: 0 0 100%;
                max-width: 100%;
            }
            .objective-wrap{
                max-width: 70%;
                margin: auto;
                @media (max-width:1440px) {
                    max-width: 80%;
                }
                @media (max-width:1024px) {
                    max-width: 100%;
                }
                @media (max-width:425px) {
                    text-align: center;
                }
                h4{
                    font-size: 20px;
                    margin-bottom: 15px;
                    line-height: 25px;
                    font-weight: 600;
                }
                p{
                    font-size: 17px;
                    line-height: 26px;
                    font-weight: 400;
                }
            }
        }
    }
}
.site_maintenance-plans{
    margin-bottom: 100px;
    @media (max-width:425px) {
        margin-bottom: 50px;
    }
    h3{
        max-width: 980px;
        text-align: center;
        margin: auto;
        font-size: 60px;
        line-height: 68px;
        font-weight: 400;
        @media (max-width:768px) {
            max-width: 700px;
            font-size: 39px;
        line-height: 50px;
        }
        @media (max-width:425px) {
            font-size: 26px;
            font-weight: 500;
            line-height: 30px;
        }
    }
    .plans-body-content{
        margin: 45px auto 0px ;
        max-width: 42%;
        @media (max-width:1440px) {
            max-width: 55%;
        }
        @media (max-width:1440px) {
            max-width: 55%;
        }
      
        .row{
            margin: 0;
            .col-md-6{
                flex: 0 0 100%;
                max-width: 100%; 
                padding: 0;
                // & + .col-md-6{
                //     border-left: 1px dashed #fff;
                //     @media (max-width:425px) {
                //         border: 0;
                //     }
                // }
                .plans_left-side{
                    text-align: center;
                    @media (max-width:425px) {
                        text-align: center;
                    }
                    h4{
                        font-size: 20px;
                        line-height: 36px;
                        font-weight: 600;
                        // padding-right: 20px;
                        padding-bottom: 30px;
                        @media (max-width:425px) {
                            padding-right: 0px;
                        padding-bottom: 10px;
                        font-size: 24px;
                        }
                    }
                    .platform-name{
                        // margin-right: 50px;
                        margin-bottom: 50px;
                        @media (max-width:425px) {
                            margin-right: 0px;
                        margin-bottom: 30px;
                        }
                        h6{
                            font-size: 18px;
                            line-height: 24px;
                            font-weight: 600;
                            margin-bottom: 20px;
                            @media (max-width:425px) {
                                margin-bottom: 5px;
                            }
                        }
                        p{
                            font-size: 17px;
                            line-height: 26px;
                            font-weight: 400;
                            @media (max-width:425px) {
                                line-height: 22px;
                            }
                        }
                    }
                }
                .plans_right-side{
                    @media (max-width:425px) {
                        text-align: center  ;
                    }
                    h4{
                        font-size: 20px;
                        line-height: 36px;
                        font-weight: 600;
                        padding-left: 20px;
                        padding-bottom: 30px;
                        @media (max-width:425px) {
                            padding-left: 0px;
                            font-size: 24px;
                            padding-bottom: 10px;
                        }
                    }
                    ul{
                        margin-left: 50px;
                        padding: 0;
                        @media (max-width:425px) {
                            margin-left: 0px;
                        }
                        li{
                            margin-bottom: 30px;
                            list-style: none;
                            font-size: 18px;
                            line-height: 24px;
                            font-weight: 600;
                            @media (max-width:425px) {
                            margin-bottom: 5px;
                            }
                        }
                    }
                }
            }
        }
    }

}
.our-trusted-clients{
    margin-bottom: 100px;
    @media (max-width:425px) {
        margin-bottom: 50px;
    }
    .clients-big-text-wrap{
        .row{
            @media (max-width: 1024px) {
                margin: 0;
            }
            @media (max-width:425px) {
                flex-flow: column;
            }
            .col-md-5{
                flex: 0 0 45%;
                max-width: 45%;
                @media (max-width:425px) {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
                .client-big-txt{
                    height: 100%;
                    display: flex;
                    align-items: center;
                    padding-left: 15px;
                    h3{
                        font-size: 67px;
                            line-height: 87px;
                            font-weight: 400;
                            @media (max-width:1440px) {
                                font-size: 51px;
                                line-height: 64px;
                                font-weight: 400;
                            }
                            @media (max-width:1366px) {
                                font-size: 48px;
                                line-height: 56px;
                            }
                            @media (max-width:1280px) {
                                font-size: 43px;
                                line-height: 56px;
                            }
                            @media (max-width:1024px) {
                                font-size: 40px;
                                line-height: 50px;
                            }
                            @media (max-width:768px) {
                                font-size: 29px;
                                line-height: 40px;
                            }
                    }
                }
            }
            .col-md-7{
                flex: 0 0 55%;
                max-width: 55%;
                @media (max-width:425px) {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
                .client-slider-section{
                    position: relative;
                    .laptop-image{
                        width: 100%;
                        img{
                        width: 100%;
                        }
                    }
                    ul.client-slider-wrap{
                        position: absolute;
                        top: 33px;
                        left: 51.5%;
                        transform: translate(-51.5%, 0px);
                        width: 578px;
                        height: 366px;
                        padding: 0;
                    }
                }
            }
        }
    }
    .trusted-client-logo-row{
        // background-color: #FEB382;
        background-color: #fff;
        padding: 25px 50px;
        height: 135px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: auto;
        margin-top: -60px;
        @media (max-width:1440px) {
            margin-top: -45px;
         }
         @media (max-width:1366px) {
            margin-top: -42px;
         }
         @media (max-width:1024px) {
            overflow: hidden;
            flex-wrap: wrap;
            height: auto;
            margin-top: -39px;
         }
         @media (max-width:768px) {
            margin-top: -33px;
         }
         @media (max-width:425px) {
            padding: 25px 30px; 
            margin-top: -30px;
         }
        &::-webkit-scrollbar{
            height: 7px;
            width: 100%;
        }
        &::-webkit-scrollbar-track{
            background-color: #FEB382;
            border:1px solid  #FEB382;
        }
        &::-webkit-scrollbar-thumb{
            background-color: rgba($color: #000000, $alpha: 0.6);
            border-radius: 15px;
        }
        .client-logo{
            flex: 0 0 16.66%;
            max-width: 16.66%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            @media (max-width:1366px) {
                flex: 0 0 13%;
                max-width: 13%; 
            }
            @media (max-width:1024px) {
                flex: 0 0 33.33%;
                max-width: 33.33%; 
                padding: 15px;
             }
             @media (max-width:425px) {
                flex: 0 0 50%;
                max-width: 50%; 
             }
            img{
                height: 100%;
                width: 100%;
            }
        }
    }
}
.free_quote_contact-form{
    padding-top: 50px;
    margin-bottom: 0;
    @media (max-width:768px) {
    padding-top: 0px;
    }
   .get-in-touch-contact-form{
       form{
           .row{
               .col-md-6{
                   .left-form-wrap{
                       width: 674px;
                       margin: auto;
                       @media (max-width:1440px) {
                       width: 90%;
                        }
                        @media (max-width:1024px) {
                            width: 100%;
                        }
                       fieldset{
                        height: 74px;
                        margin-bottom: 50px;
                        @media (max-width:768px) {
                            height: 60px;
                        }
                        @media (max-width:425px) {
                            margin-bottom: 20px;
                        }
                           label{
                               width: 100%;
                               border-radius: 12px;
                               height: 100%;

                               overflow: hidden !important;
                               input{
                                   width: 100%;
                                   font-size: 22px;
                                   line-height: 26px;
                                   font-weight: 400;
                                   color: #595959;
                                   padding-left: 35px;
                                   height: 100%;
                                   @media (max-width:768px) {
                                    font-size: 17px;
                                 line-height: 24px; 
                                }
                                   &::placeholder{
                                    font-size: 22px;
                                    line-height: 26px;
                                    font-weight: 400;
                                    color: #595959;
                                    @media (max-width:768px) {
                                        font-size: 17px;
                                     line-height: 24px; 
                                    }
                                   }
                               }
                           }
                        
                       }
                   }
                   .right-form-wrap{
                    width: 674px;
                    margin: auto;
                    @media (max-width:1440px) {
                        width: 90%;
                     }
                     @media (max-width:1024px) {
                        width: 100%;
                    }
                    fieldset{
                        border-radius: 12px;
                        margin-bottom: 50px;
                        overflow: hidden;
                        height: auto;
                        height: 200px;
                        @media (max-width:768px) {
                            height: 165px;
                        }
                        @media (max-width:425px) {
                            margin-bottom: 20px;
                        }
                    
                        textarea{
                            font-size: 22px;
                            line-height: 26px;
                            font-weight: 400;
                            color: #595959;
                            padding-left: 35px;
                            height: 100%;
                            @media (max-width:768px) {
                                font-size: 17px;
                             line-height: 24px; 
                            }
                            &::placeholder{
                             font-size: 22px;
                             line-height: 26px;
                             font-weight: 400;
                             color: #595959;
                             @media (max-width:768px) {
                                font-size: 17px;
                             line-height: 24px; 
                            }
                            }
                          
                        }
                    }
                    .btn-sumbit-border{
                        font-size: 30px;
                        line-height: 36px;
                        font-weight: 500;
                        color: #fff;
                        float: right;
                        height: 74px;
                        border: 2px solid #fff;
                        border-radius: 12px;
                        background-color: transparent;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        min-width: 220px;
                        text-align: right;
                        transition: 0.3s all ease-in-out;
                        @media (max-width:1440px) {
                            min-width: auto;
                            height: auto;
                            font-size: 19px;
                            padding: 5px 20px;
                         }
                        &:hover{
                            background-color: #fff;
                            color: #F93F30;
                        }
                    }
                   }
               }
           }
       }
   }
}


// wordpress landing page styles 
.wordpress-white-banner {
    @media (max-width:425px) {
        width: 100%;
    }
    .wordpress-white-banner-wrap{
        background-color: #fff;
        padding: 150px 90px 130px;
        background-position-x: 85%;
        background-position-y: 90%;
        background-repeat: no-repeat;
        background-size: auto 90% ;
        @media (max-width:1440px) {
        background-size: auto 77% ;
        }
        @media (max-width:1366px) {
        padding: 120px 50px 100px;
        }
        @media (max-width:768px) {
        padding: 350px 40px 45px;
        background-size: auto 280px ;
        background-position-x: 20%;
        background-position-y: 13%;
        text-align: center;
        }
        @media (max-width:425px) {
            padding: 250px 30px 45px;
            background-size: auto 180px ;
            background-position-x: 50%;
            background-position-y: 9%;
        }
        h1{
            color: #F8444F;
            font-size: 60px;
            line-height: 75px;
            font-weight: 600;
            max-width: 617px;
            margin: 0;
            margin-bottom: 30px;
            @media (max-width:1440px) {
                font-size: 45px;
                max-width: 407px;
                line-height: 60px;
            }
            @media (max-width:768px) {
                max-width: 100%;
            }
            @media (max-width: 425px) {
                font-size: 33px;
                line-height: 50px;
            margin-bottom: 15px;
            }
        }
        p{
            color: #191919;
            font-size: 25px;
            line-height: 33px;
            font-weight: 500;
            max-width: 720px;
            margin: 0;
            margin-bottom: 35px;
            @media (max-width:1440px) {
                font-size: 21px;
                max-width: 607px;
                line-height: 30px;
            }
            @media (max-width:768px) {
                max-width: 100%;
            }
            @media (max-width: 425px) {
                font-size: 16px;
                line-height: 25px;
            }
        }
        a.wp_boder-btn{
            color: #F8444F;
            font-size: 20px;
            line-height: 35px;
            font-weight: 600;
            padding: 15px 45px;
            border: #191919 1px solid ;
            text-decoration: none;
            @media (max-width:1366px) {
                font-size: 19px;
            padding: 10px 25px;
            }
        }
        a.wp_boder-btn:hover{
            text-decoration: none;
            color: #fff;
            background-color: #F8444F;
        }

    }
}
section.why_choose-us{
    @media (max-width:425px) {
        width: 100%;
    }
    .why_choose-us-wrap{
        margin-top: 135px;
        @media (max-width:1024px) {
            padding: 0px 20px;
        }
        @media (max-width:1024px) {
            margin-top: 80px;
        }
        h2{
            font-size: 50px;
            line-height: 60px;
            font-weight: 500;
            margin: 0;
            margin-bottom: 25px;
            text-align: center;
            @media (max-width:425px) {
                font-size: 40px;
                line-height: 50px;
            }
        }
        p{
            max-width: 1485px;
            font-size: 24px;
            line-height: 37px;
            font-weight: 400;
            text-align: center;
            margin: auto;
            @media (max-width:1440px) {
             font-size: 21px;
             line-height: 30px;   
            }
            @media (max-width:425px) {
                font-size: 19px;
                line-height: 30px;
            }
        }
        .pixel_specialities{
            padding-top: 80px;
            @media (max-width:1024px) {
                padding-top: 40px;
            }
            .row{
                @media (max-width:1024px) {
                    display: flex;
                    // flex-flow: column-reverse;
                    flex-wrap: wrap;
                    margin: 0;
                }
                .col-md-2{
                    flex: 0 0 460px;
                    max-width: 460px;
                    padding: 0;
                    .centred-image{
                        width: 100%;
                        img{
                            width: 100%;
                        }
                    }
                    @media (max-width:1440px) {
                        max-width: 400px;
                    }
                    @media (max-width:1366px) {
                        max-width: 350px;
                        margin: 0 -20px;
                    }
                    @media (max-width:1024px) {
                        flex: 0 0 100%;
                        max-width: 100%;
                        order: 1;

                    .centred-image{
                        width: 50%;
                        margin: auto;
                    }
                    }
                    @media (max-width: 425px) {
                        margin: 0;
                        .centred-image{
                            width: 90%;
                            margin: auto;
                        }
                    }
                  
                }
                .col-md-5{
                    flex:1;
                    @media (max-width:1024px) {
                        flex: 0 0 50%;
                        max-width: 50%;
                        order: 2;
                    }
                    @media (max-width: 425px) {
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                    ul.speicial-points{
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        display: flex;
                        flex-flow: column;
                        height: 100%;
                        justify-content: center;
                        li{
                            font-size: 24px;
                            line-height: 37px;
                            margin-bottom: 40px;
                            font-weight: 500;
                            @media (max-width:1440px) {
                                font-size: 20px;
                            line-height: 30px;
                            margin-bottom: 30px;
                            }
                            @media (max-width:425px) {
                                font-size: 17px;
                                line-height: 28px;
                            margin-bottom: 15px;
                            }
                            &:nth-child(2){
                                padding-left: 30px;
                            }
                            &:nth-child(3){
                                padding-left: 60px;
                            }
                            &:nth-child(4){
                                padding-left: 60px;
                            }
                            &:nth-child(5){
                                padding-left: 30px;
                            }
                            &:last-child{
                                margin: 0;
                            }
                            @media (max-width:1024px) {
                                text-align: left;
                                padding: 0 !important;
                                list-style: disc;
                            }
                        }
                        &.points-left{
                            text-align: right;
                           
                            li{
                                padding-left: 0;
                                &:nth-child(2){
                                    padding-right: 30px;
                                }
                                &:nth-child(3){
                                    padding-right: 60px;
                                }
                                &:nth-child(4){
                                    padding-right: 60px;
                                }
                                &:nth-child(5){
                                    padding-right: 30px;
                                }
                                &:last-child{
                                    margin: 0;
                                }
                                @media (max-width:1024px) {
                                    padding-right: 0;
                                }
                            }
                            @media (max-width:1024px) {
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }
    }
}

section.our-recent-projects{
    margin-top: 170px;
    @media (max-width: 768px) {
    margin-top: 80px;
    }
    @media (max-width:425px) {
        width: 100%;
    }
    .our-recent-projects-wrap{
        padding: 0px 30px;
        @media (max-width:425px) {
        padding: 0px 20px;
            
        }
        h2{
            font-size: 65px;
            line-height: 60px;
            font-weight: 600;
            @media (max-width:1440px) {
            font-size: 55px;
            }
            @media (max-width:425px) {
            font-size: 35px;
            line-height: 40px;
            }
        }
        h3{
            font-size: 50px;
            line-height: 60px;
            font-weight: 400;
            @media (max-width:1440px) {
                font-size: 42px;
                }
                @media (max-width:425px) {
                    font-size: 30px;
            line-height: 40px;

                    }
        }
        .row{
            padding-top: 55px;
            @media (max-width:425px) {
            padding-top: 25px;
                
            }
            .col-md-3{
                position: relative;
                margin-bottom: 300px;
                @media (max-width: 1366PX) {
                    flex: 0 0 50%;
                    max-width: 50%;
                }
                @media (max-width:425px) {
                    flex: 0 0 100%;
                    max-width: 100%;
                margin-bottom: 30px;
                padding-bottom: 25px;
                border-bottom: 1px solid #fff;
                &:last-child{
                    border-bottom: none;
                }
                }
                .project-image-wrap{
                    width: 100%;
                    img{
                        width: 100%;
                    }
                    @media (max-width: 768px) {
                        max-height: 280px;
                        overflow-y: auto; //need to be changed
                    }
                }
                .project-details-wrap{
                    position: absolute;
                    top: 105%;
                    width: calc(100% - 30px);
                    @media (max-width:1024px) {
                    top: 102%;
                    }
                    @media (max-width: 768px) {
                    top: 112%;
                    }
                    @media (max-width:425px) {
                        position: static;
                        padding-top: 20px;
                        width: 100%;
                    }
                    h5{
                        font-size: 24px;
                        line-height: 26px;
                        font-weight: 600;
                        margin: 0;
                        padding-bottom: 5px;
                        @media (max-width:1440px) {
                            font-size: 17px;
                        line-height: 23px;
                        }
                        @media (max-width:1440px) {
                            font-size: 24px;
                        line-height: 30px;
                        }
                    }
                    a{
                        font-size: 20px;
                        line-height: 25px;
                        font-weight: 400;
                        padding-bottom: 15px;
                        text-decoration: none;
                        display: block;
                        @media (max-width:1440px) {
                            font-size: 17px;
                        }
                        &:hover{
                        text-decoration: none;
                        }
                    }
                    p{
                        font-size: 22px;
                        line-height: 30px;
                        font-weight: 500;
                        margin: 0;
                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;  
                        overflow: hidden;
                        @media (max-width:1440px) {
                            font-size: 17px;
                            line-height: 26px;
                        }
                    }
                }
            }
        }
    }
}
section.contactform-wp{
    margin: 0px 0px 100px;
    padding-top: 135px;
    .get-in-touch-contact-form{
        form{
            max-width: 1535px;
            margin: auto;
            .row{
                @media (max-width:1024px) {
                    margin: 0;
                }
                
                .col-md-6{
                    .left-form-wrap{
                        @media (max-width:425px) {
                            margin-bottom: 15px;
                        }
                    }
                        fieldset{
                            margin-bottom: 40px;
                            @media (max-width:425px) {
                                margin-bottom: 20px;
                            }
                            label{
                                width: 100%;
                                input{
                                    width: 100%;
                                    height: 65px;
                                    border-radius: 5px;
                                }
                            input::placeholder{
                                color: #6A6A6A;
                                font-size: 20px;
                                line-height: 25px;
                            }
                            }
                            textarea{
                                border-radius: 5px;
                                height: 175px;
                                &::placeholder{
                                    color: #6A6A6A;
                                    font-size: 20px;
                                    line-height: 25px;
                                }
                            }
                            &:last-child{
                                margin: 0;
                            }
                        }
                }
            }
            .btn-sumbit-border{
                font-size: 30px;
                line-height: 36px;
                font-weight: 500;
                color: #fff;
                height: 74px;
                margin: 70px auto 0px;
                border: 2px solid #fff;
                // border-radius: 12px;
                background-color: transparent;
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 220px;
                text-align: right;
                transition: 0.3s all ease-in-out;
                @media (max-width:1440px) {
                    min-width: auto;
                    height: auto;
                    font-size: 19px;
                    padding: 5px 20px;
                 }
                 @media (max-width:425px) {
                    margin: 20px auto 0px;
                }
                &:hover{
                    background-color: #fff;
                    color: #F93F30;
                }
            }
        }
    }
}
section.testimonials-slider{
    margin-top: 110px;
    background-color: rgba($color: #000000, $alpha: 0.25);
    padding: 85px 0 65px;
    @media (max-width:1440px) {
    margin-top: 70px;
    }
    @media (max-width:425px) {
        width: 100%;
    }
    .testimonials-slider-wrap{
        .testimony{
            padding: 0 20px;
            .img-wrap{
                width: 112px;
                margin: auto auto 40px;
                img{
                    width: 100%;
                }
            }
            h2{
                font-size: 30px;
                font-weight: 600;
                line-height: 32px;
                padding-bottom: 23px;
                text-align: center;
            }
            p{
                font-size: 24px;
                font-weight: 500;
                line-height: 37px;
                text-align: center;
                max-width: 1360px;
                margin: auto;
                padding-bottom: 40px;
                @media (max-width:1440px) {
                max-width: 1110px;
                font-size: 19px;
                line-height: 29px;
                }
            }
            h3{
                font-size: 22px;
                font-weight: 500;
                line-height: 28px;
                text-align: center;
            }
        }
        .slick-dots{
            display: flex !important;
            justify-content: center;
            padding: 0;
            padding-top: 100px;
            list-style: none;
            @media (max-width:1366px) {
            padding-top: 50px;
            }
            li{
                list-style-type: none;
                width: 15px;
                height: 15px;
                border: 3px solid #fff;
                border-radius: 50%;
                margin-right: 10px;
                background-color: #fff;
                transition: 0.3s all ease-in-out;
                button{
                    display: none;
                }
                &.slick-active{
                    // transform: scale(1.2);
                    background-color: #FA4726;
                }
            }
        }
    }
}


// hamburder menu updates 
.navbar .custom_hamburger{
    width: 50px;
    height: 50px;
    display: inline-flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    transition: 0.5s all ease-out;
    span.hamburger_line{
        width: 22px;
        display: block;
        margin-bottom: 5px;
        height: 2px;
        background-color: #282828;
        transition: all 0.1s ease-in-out;
        // transition-delay: 0.2s;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &:hover{
        span.hamburger_line:nth-child(2){
            // width: 13px;
            animation: shrink forwards;
            animation-duration: 0.15s;
        }
        @keyframes shrink {
            0%{
                width: 22px;
            }
            70%{
                width: 9px;
            }
            100%{
                width: 13px;
            }
        }
        span.hamburger_line:first-child{
            transform: translateY(-2px);
        }
        span.hamburger_line:nth-child(3){
            transform: translateY(2px);
        }
    }
}

body.overflow{
    .navbar.light{
        .custom_hamburger{
            span.hamburger_line:first-child{
            transform: rotate(45deg) translate(3px ,2px);
            }
            span.hamburger_line:nth-child(2){
                display: none;
            }
            span.hamburger_line:nth-child(3){
            transform: rotate(-45deg) translate(2px ,-2px);
            }
            &:hover{
                span.hamburger_line:first-child{
                    transform: rotate(45deg) translate(3px ,2px) scale(1.17);
                    }
                    span.hamburger_line:nth-child(2){
                        display: none;
                    }
                    span.hamburger_line:nth-child(3){
                    transform: rotate(-45deg) translate(2px ,-2px) scale(1.17);
                    }
            }
          
        }

    } 
} 
    
@media (max-width: 1024px) {
    .navbar .custom_hamburger:hover{
        span.hamburger_line{
            transform: translate(0) !important;
        }
        span.hamburger_line:nth-child(2){
            animation-name: none;
            animation: none;
        }
    }

        body.overflow .navbar.light .custom_hamburger:hover span.hamburger_line:first-child{
            transform: rotate(45deg) translate(3px, 2px) scale(1) !important;
        }
        body.overflow .navbar.light .custom_hamburger:hover span.hamburger_line:nth-child(3){
            transform: rotate(-45deg) translate(2px, -2px) scale(1) !important;
        }
    }
    