.explore_our_works {
  padding: 70px 0 0;
  // .container-fluid{
  //   max-width: calc(100% - 140px);
  // }
  .titles {
    margin-bottom: 50px;
    padding: 0;
    h2 {
      font-size: 22px;
      line-height: 1.2;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 15px;
    }
    p {
      font-size: 20px;
      line-height: 1.5;
      margin-bottom: 40px;
      font-weight: 300;
    }
  }
  .cards_grid_block {
    margin: 0 -25px;
    margin-top: 180px;
    @media (max-width: 570px) {
      margin-top: 0px;
    }
    & > div {
      padding: 0 25px;
      margin-bottom: 80px;
      @media (max-width: 570px) {
        padding: 0px;
      }
      &:nth-of-type(odd) {
        margin-top: -100px;
        @media (max-width: 570px) {
          margin-top: 0px;
        }
      }
      @media (max-width: 1200px) {
        margin-bottom: 40px;
      }
      .list_card {
        display: block;
        text-decoration: none;
        .img_wrap {
          width: 100%;
          height: 630px;
          margin-bottom: 20px;
          overflow: hidden;
          &:hover {
            img {
              transform: scale(1.1);
            }
          }
          @media (max-width: 1200px) {
            height: 500px;
          }
          @media (max-width: 990px) {
            height: 380px;
          }
          @media (max-width: 570px) {
            height: 400px;
          }
          img {
            transition: 0.3s all ease-in;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
        .project-content {
          // text-align: center;
          h3 {
            font-size: 22px;
            line-height: 1.4;
            margin-bottom: 8px;
            font-weight: 500;
            @media (max-width: 1366px) {
              font-size: 19px;
              line-height: 1.3;
            }
            @media (max-width: 1200px) {
              font-size: 16px;
            }
          }
          small {
            font-size: 13px;
            // line-height: 1.5;
            // margin-bottom: 40px;
            // font-weight: 300;
          }
        }
      }
    }
  }
}

//off grid sectoin
.off_grid_column {
  max-width: 100%;
  @media (max-width: 570px) {
    padding-top: 25px !important;
    padding-bottom: 25px;
  }
  .grid_item {
    margin: 0;
    @media (max-width: 990px) {
      flex-flow: column;
      overflow: hidden;
    }
    & + .grid_item {
      margin-top: 85px;
      @media (max-width: 570px) {
        margin-top: 50px;
      }
    }
    .col-lg-5 {
      display: flex;
      padding: 80px 0;
      position: relative;
      z-index: 1;
      @media (max-width: 1440px) {
        padding: 40px 0;
      }
      @media (max-width: 990px) {
        padding: 0;
      }
    }
    .col-lg-7 {
      // min-height: ;
      // border: 1px solid #fff;
      padding: 80px 20px 80px 0;
      display: flex;
      align-items: center;
      // max-width: calc(58.333333% + 50px);
      @media (max-width: 1440px) {
        padding: 70px 20px 70px 0;
      }
      @media (max-width: 990px) {
        max-width: 100%;
        border: none;
        padding: 40px 0;
      }
      @media (max-width: 570px) {
        padding: 0px 0;
      }
    }
    &:nth-child(even) {
      flex-direction: row-reverse;
      @media (max-width: 990px) {
        flex-direction: column;
      }
      // .col-lg-5 {
      //   margin-left: -50px;
      //   @media (max-width: 990px) {
      //     margin-left: 0px;
      //   }
      // }
    }
    &:nth-child(odd) {
      .col-lg-5 {
        // margin-right: -50px;
        @media (max-width: 990px) {
          // margin-left: 0px;
        }
      }
    }
    & > div {
      padding: 0;
      flex: 0 0 auto;
    }
    .slider {
      height: 560px;
      background-color: transparent;
      margin-right: 0;
      width: 100%;
      position: relative;
      overflow: visible;
      .swiper_button_next,
      .swiper_button_prev {
        display: flex;
        flex-flow: column;
        // align-items: center;
        position: absolute;
        justify-content: center;
        height: 100%;
        background-color: transparent;
        right: 0;
        width: 86px;
        top: 0;
        margin-top: 0;
        z-index: 3;
        padding: 20px;
        // border: 1px solid #f7323f;
        cursor: pointer;
        b {
          font-weight: 500;
          color: #f7323f;
        }
        span {
          width: 80%;
          display: block;
          height: 1px;
          background-color: #fff;
          position: relative;
          margin-bottom: 15px;
          &::before {
            transform: rotate(-45deg) translateY(7px);
          }
          &::after {
            transform: rotate(45deg) translateY(-7px);
          }
          &::after,
          &::before {
            content: "";
            width: 15px;
            height: 1px;
            background-color: #fff;
            display: block;
            position: absolute;
            right: 2px;
            top: 0;
          }
        }
        @media (max-width: 1200px) {
          width: 71px;
        }
        @media (max-width: 990px) {
          display: none;
        }
      }
      .swiper_button_prev {
        left: 0;
        right: auto;
        span {
          &::before {
            transform: rotate(-45deg) translateY(-7px);
          }
          &::after {
            transform: rotate(45deg) translateY(7px);
          }
          &::after,
          &::before {
            left: 2px;
            right: auto;
          }
        }
      }
      .custom_swiper {
        width: 100%;
        height: 100%;
        position: relative;
        margin-left: auto;
        margin-right: auto;
      }

      .swiper-pagination {
        display: none;
        @media (max-width: 990px) {
          display: block;
          bottom: 0;
        }
      }
      @media (max-width: 1440px) {
        height: 560px;
      }
      @media (max-width: 570px) {
        // height: 400px;
      }
      .slide-inner {
        padding: 0px 90px 0;
        text-align: center;
        // opacity: 1;
        position: relative;
        z-index: 2;
        position: absolute;
        left: 0;
        width: 100%;
        top: 50%;
        transform: translate(0, -50%);
        @media (max-width: 1200px) {
          padding: 0 60px;
        }
        @media (max-width: 990px) {
          width: 100%;
        }
        @media (max-width: 570px) {
          padding: 0 15px !important;
        }
        h4 {
          font-size: 22px;
          line-height: 1.3;
          font-weight: 600;
          margin-bottom: 20px;
          text-align: center;

          @media (max-width: 1440px) {
            font-size: 20px;
          }
          @media (max-width: 570px) {
            font-size: 17px;
          }
        }
        p {
          font-size: 20px;
          line-height: 1.4;
          font-weight: 400;
          margin-bottom: 20px;
          text-align: center;

          @media (max-width: 1440px) {
            font-size: 18px;
          }
          @media (max-width: 1200px) {
            max-width: 100%;
          }
          @media (max-width: 570px) {
            font-size: 15px;
          }
        }
      }
      .swiper-slide {
        position: relative;
        width: calc(50% - 15px) !important;
        @media (max-width: 1200px) {
          width: 100% !important;
        }
        &::after {
          content: "";
          background-color: rgba($color: #e74847, $alpha: 0.9);
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
        }
        // opacity: 1;
      }
    }
    .slider:hover {
      .swiper-container .swiper-slide {
        margin-left: -3px;
      }
      .swiper-button-next span {
        width: 85%;
      }
    }
    .thumbnail_image {
      width: 100%;
      height: fit-content;
      display: block;
      max-height: 800px;
      overflow: hidden;
      margin: auto 0;
      // margin-top: auto;
      //  margin-bottom: -100px;
      @media (max-width: 1440px) {
        max-height: 700px;
      }
      @media (max-width: 1200px) {
        max-height: 650px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
    .detail_content {
      height: fit-content;
      h1 {
        font-size: 46px !important;
        line-height: 1.4;
        font-weight: 400 !important;
        @media (max-width: 1200px) {
          font-size: 41px !important;
        }
        @media (max-width: 990px) {
          text-align: center;
        }
        @media (max-width: 570px) {
          font-size: 33px !important;
          // font-weight: 500 !important;
        }
      }
      h4 {
        font-size: 46px;
        line-height: 1.4;
        text-transform: uppercase;
        margin-bottom: 15px;
        font-weight: 400;
        // @media (max-width: 1440px) {
        //   font-size: 21px;
        // }
        @media (max-width: 1200px) {
          font-size: 41px;
        }
        @media (max-width: 990px) {
          text-align: center;
        }
        @media (max-width: 570px) {
          font-size: 33px;
          // font-weight: 500;
        }
      }
      h5 {
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 15px;
        font-weight: 500;
        @media (max-width: 1440px) {
          font-size: 20px;
        }
        @media (max-width: 990px) {
          text-align: center;
        }
        @media (max-width: 570px) {
          font-size: 15px;
        }
      }
      p {
        font-size: 20px;
        line-height: 1.4;
        margin-bottom: 20px;
        font-weight: 400;
        @media (max-width: 1440px) {
          // font-size: 18px;
          // font-weight: 400;
        }
        @media (max-width: 990px) {
          text-align: justify;
        }
        @media (max-width: 570px) {
          font-size: 15px;
        }
        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }
}

//full width banner
.full_width_blockquote {
  position: relative;
  display: flex;
  align-items: center;
  // min-height: 570px;
  min-height: auto;
  padding: 70px;
  overflow: hidden;
  background-color: #f8f8f8;
  // padding: 50px 0;
  @media (max-width: 1200px) {
    min-height: 400px;
  }
  @media (max-width: 990px) {
    padding: 55px;
  }
  @media (max-width: 570px) {
    padding: 40px 20px;
    min-height: auto;
  }
  .bg_image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .container{
    @media (max-width:570px) {
      padding: 0 !important;
    }
  }
  .body_content {
    position: relative;
    z-index: 1;
    width: 100%;
    span {
      font-size: 22px;
      line-height: 1.3;
      font-weight: 600;
      letter-spacing: 2px;
      text-transform: uppercase;
      display: block;
      color: #000;
      margin-bottom: 20px;
      @media (max-width: 1200px) {
        font-size: 14px;
      }
      @media (max-width: 990px) {
        font-size: 12px;
      }
      @media (max-width: 570px) {
        text-align: center;
      }
    }
    h3 {
      font-size: 46px;
      line-height: 1.3;
      font-weight: 400;
      margin-bottom: 15px;
      color: #e74847;
      @media (max-width: 1200px) {
        font-size: 40px;
      }
      @media (max-width: 990px) {
        font-size: 32px;
      }
      @media (max-width: 570px) {
        text-align: center;
        font-size: 33px;
      }
    }
    p {
      font-size: 20px;
      line-height: 1.5;
      max-width: 74%;
      font-weight: 500;
      color: #000;
      margin-bottom: 0px;
      @media (max-width: 1200px) {
        font-size: 15px;
      }
      @media (max-width: 990px) {
        max-width: 100%;
        font-size: 12px;
      }
      @media (max-width: 570px) {
        text-align: center;
      }
    }
    .custom-btn{
      @media (max-width:570px) {
        margin-bottom: 0px;
      }
    }
  }
}

//old cta btn srtyle overwrites
.custom-btn {
  display: inline-flex;
  margin-right: 40px;
  max-width: fit-content;
  transition: all 0.25s ease-in-out;
  @media (max-width: 570px) {
    margin-right: 0;
    margin-bottom: 15px;
  }
  &:hover {
    margin-right: 10px;
    @media (max-width: 570px) {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
}

// footer style overwrites
.footer {
  padding: 0px 0 150px;
  @media (max-width: 570px) {
    padding: 0px 0 75px;
  }
}
.work-with-us {
  padding: 75px 0 150px;
  @media (max-width: 570px) {
    padding: 0px 0 75px;
  }
}

html {
  scroll-behavior: auto;
}
* {
  scrollbar-color: rgba($color: #f7323f, $alpha: 0.6)
    rgba($color: #ff0000, $alpha: 0.7);
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 9px;
    pointer-events: none;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba($color: #f7323f, $alpha: 1);
    border-radius: 10px;
    &:hover {
      background-color: rgba($color: #f7323f, $alpha: 0.7);
    }
    // border: 1px solid #fff;
  }
}

body.fancybox-active {
  .fancybox-slide {
    overflow: unset;
    #contactFormPopup1 {
      overflow: auto;
      height: 100vh;
      &::-webkit-scrollbar {
        width: 12px;
        @media (max-width: 1200px) {
          width: 7px;
        }
      }
    }
  }

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  height: max-content;
  background-color: #d53c36;
}
body.modal-open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  height: max-content;
  background-color: #d53c36;
}
.works {
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 150px -30px 0;
    @media (max-width: 570px) {
      margin-top: 0;
    }
    li {
      padding: 0 30px;
      max-width: 50%;
      flex: 0 0 50%;
      @media (max-width: 570px) {
        max-width: 100%;
        flex: 0 0 100%;
        padding: 0;
      }
      &.w-100 {
        max-width: 100%;
        flex: 0 0 100%;
      }
      &:nth-of-type(even) {
        margin-top: -100px;
        @media (max-width: 570px) {
          margin-top: 0;
        }
      }
    }
  }
}
.title {
  h2 {
    color: #f7323f;
  }
  p {
    color: #000;
  }
}
