/* ABOUT INTRO */
.about-intro {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 150px;
}
.about-intro h3 {
  font-size: 4vw;
  font-weight: 400;
  margin-bottom: 50px;
}
.about-intro p {
  line-height: 1.8;
  font-size: 18px;
  margin: 0;
}
.about-intro p + p{
  margin-top: 15px;
}
.about-intro .col-12{
  margin-bottom: 50px;
}
.about-intro .col-12 p:nth-child(2) {
  font-weight: 600;
}