
/* BLOG */
.post-header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.post-header .post-image {
  width: 100%;
  margin: 0;
}
.post-header .post-image img {
  width: 100%;
}

.post-body {
  width: 100%;
  margin-bottom: 50px;
}
.post-body .avatar {
  width: 100%;
  margin-bottom: 20px;
  font-size: 13px;
}
.post-body .avatar img {
  height: 60px;
  margin-right: 20px;
  border-radius: 50%;
}
.post-body .avatar a {
  text-decoration: underline;
}
.post-body .post-title {
  display: block;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 3vw;
}
.post-body .post-date {
  display: block;
  margin-bottom: 30px;
  opacity: 0.5;
}
.post-body .post-intro {
  display: block;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.7;
}
.post-body .image-left {
  width: 50%;
  float: left;
  margin-right: 30px;
  margin-bottom: 20px;
  margin-top: 5px;
}
.post-body .image-left img {
  width: 100%;
}
.post-body .image-right {
  width: 50%;
  float: right;
  margin-left: 30px;
  margin-bottom: 20px;
  margin-top: 5px;
}
.post-body .image-right img {
  width: 100%;
}
.post-body .image-full {
  width: 100%;
  display: inline-block;
  margin: 30px 0;
}
.post-body .image-full img {
  width: 100%;
}
.post-body h5 {
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 15px;
}
.post-body ul {
  padding-left: 20px;
  margin-bottom: 30px;
}
.post-body ul li {
  margin-bottom: 5px;
}
.post-body blockquote {
  display: inline-block;
  padding: 40px;
  margin-top: 20px;
  margin-bottom: 40px;
  background: #282828;
  position: relative;
  color: #fff;
  background: url(../images/quote-bg.svg) left top no-repeat #282828;
  background-size: contain;
}
.post-body blockquote p {
  display: block;
}
.post-body blockquote h5 {
  font-weight: 400;
  margin: 0;
}

.post-navigation {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: #f95d2c;
}
.post-navigation a {
  font-weight: 600;
  font-size: 18px;
  padding: 40px 25px;
}
.post-navigation a:nth-child(1) {
  width: 50%;
  float: left;
  border-right: 1px solid #eee;
}
.post-navigation a:nth-child(2) {
  width: 50%;
  float: right;
  padding-left: 25px;
}

.blog {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 150px;
}
.blog .post {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 150px;
}
.blog .post .post-image {
  width: 100%;
  margin-bottom: 30px;
}
.blog .post .post-image img {
  width: 100%;
}
.blog .post .post-content {
  width: 100%;
  margin: 0;
}
.blog .post .post-content .avatar {
  width: 100%;
  margin-bottom: 20px;
  font-size: 13px;
}
.blog .post .post-content .avatar img {
  height: 60px;
  margin-right: 20px;
  border-radius: 50%;
}
.blog .post .post-content .avatar a {
  text-decoration: underline;
}
.blog .post .post-content .post-title {
  display: block;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 3vw;
}
.blog .post .post-content .post-date {
  display: block;
  margin-bottom: 30px;
  opacity: 0.5;
}
.blog .post .post-content .post-intro {
  display: block;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.7;
}
.blog .post .post-content .post-link {
  display: inline-block;
  font-weight: 600;
  padding-bottom: 8px;
  position: relative;
}
.blog .post .post-content .post-link:hover {
  text-decoration: none;
}
.blog .post .post-content .post-link:hover:after {
  width: 0;
}
.blog .post .post-content .post-link:before {
  content: "";
  width: 100%;
  height: 2px;
  background: #eee;
  position: absolute;
  left: 0;
  bottom: 0;
}
.blog .post .post-content .post-link:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #282828;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.blog .sidebar {
  width: calc(100% - 50px);
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  border: 1px solid rgba(40, 40, 40, 0.1);
  padding: 25px;
}
.blog .sidebar .widget {
  width: 100%;
  border-bottom: 1px solid rgba(40, 40, 40, 0.1);
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.blog .sidebar .widget:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
.blog .sidebar .widget .title {
  display: block;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
.blog .sidebar .widget .title:after {
  content: "";
  width: 30%;
  height: 2px;
  background: #282828;
  position: absolute;
  left: -25px;
  bottom: 0;
}
.blog .sidebar .widget form {
  display: block;
}
.blog .sidebar .widget form input[type=text], .blog .sidebar .widget form input[type=email], .blog .sidebar .widget form input[type=number], .blog .sidebar .widget form input[type=tel] {
  margin-bottom: 10px;
}
.blog .sidebar .widget form button[type=submit] {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background: #f6323e;
  transition: all 0.3s ease-in-out;
  padding: 0 30px;
}
.blog .sidebar .widget form button[type=submit]:hover{
  background: #f95d2c;
}
.blog .sidebar .widget .categories {
  display: block;
  margin: 0;
  padding: 0;
}
.blog .sidebar .widget .categories li {
  display: block;
  margin: 0;
  padding: 3px 0;
  list-style: none;
}
.blog .sidebar .widget .categories li:before {
  content: "";
  width: 5px;
  height: 5px;
  float: left;
  border-radius: 50%;
  background: #282828;
  margin-right: 15px;
  margin-top: 11px;
}
.color-dark .blog .sidebar .widget .categories li:before{
  background: #fff;
}
.blog .sidebar .widget .categories li span {
  float: right;
  opacity: 0.5;
}
.blog .sidebar .widget .tags {
  display: block;
  margin: 0;
  padding: 0;
}
.blog .sidebar .widget .tags li {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 0;
  list-style: none;
}
.blog .sidebar .widget .tags li a {
  display: inline-block;
  border: 1px solid rgba(40, 40, 40, 0.1);
  line-height: 30px;
  font-size: 14px;
  padding: 0 10px;
}
.blog .sidebar .widget .tags li a:hover {
  text-decoration: none;
  border: 1px solid #282828;
  background: #282828;
  color: #fff;
}
.blog .sidebar .widget .works {
  display: block;
  margin: 0;
  margin-left: -5px;
  margin-right: -5px;
  padding: 0;
}
.blog .sidebar .widget .works li {
  width: 33.33333%;
  float: left;
  margin: 0;
  padding: 5px;
  list-style: none;
}