/* FEATURED SERVICES */
.featured-services {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 150px 0;
  color: #282828;
}
.featured-services figure{
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.05);
}
.featured-services figure img{
  filter: brightness(0.5);
}
.featured-services .col-lg-3:nth-child(2n+2) {
  /* margin-top: 134px; */
}
.featured-services figure {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  margin: 15px 0;
  transition: all 0.3s ease-in-out;
  min-height: 240px;
}
.featured-services figure .figcaption-inner{
  text-align: center;
}
.featured-services figure:hover {
  background: #f6313e;
  border-color: #f6313e;
}
.featured-services figure:hover img {
  /* filter: brightness(0.5); */
}
.featured-services figure:hover figcaption {
  /* color: #282828; */
}
.featured-services figure img {
  opacity: 0.8;
  padding: 0px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  margin: 40px auto 15px auto;
  height: 80px;
  width: 80px;
}
.featured-services figure figcaption {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  bottom: 0;
  left: 0;
  padding: 20px;
  text-align: center;
}
.featured-services figure figcaption span {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 10px;
}
.featured-services figure figcaption h4 {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 0;
  text-transform: uppercase;
}
.color-dark .featured-services figure img, .color-orange .featured-services figure img{
  filter: none;
}
.color-dark .featured-services figure:hover img, .color-orange .featured-services figure:hover img{
  /* filter: invert(100%); */
}
.color-dark .featured-services, .color-orange .featured-services{
  color: #fff;
}
.color-dark .featured-services figure, .color-orange .featured-services figure {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.color-dark .featured-services figure:hover, .color-orange .featured-services figure:hover{
  border-color: #fd9c2e;
  background-color: #fd9c2e;
  img{
    opacity: 1;
  }
}