/* LOGOS */
.logos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 100px 0;
}
.logos ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  position: relative;
  border-left: 1px solid rgba(40, 40, 40, 0.1);
  border-top: 1px solid rgba(40, 40, 40, 0.1);
}
.logos ul li {
  width: 20%;
  float: left;
  list-style: none;
  border-right: 1px solid rgba(40, 40, 40, 0.1);
  border-bottom: 1px solid rgba(40, 40, 40, 0.1);
  text-align: center;
}
.logos ul li:hover figure {
  opacity: 1;
}
.logos ul li figure {
  display: block;
  height: 80px;
  margin: 30px 0;
  opacity: 1;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logos ul li figure img {
  max-height: 80px;
  max-width: 80%;
}