/* MAIN SERVICES */
.main-services {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 150px 0;
  text-align: center;
}
.main-services .titles {
  padding: 0 20%;
  color: #fff;
}
.main-services figure {
  display: inline-block;
  margin-bottom: 0;
}
.main-services figure img {
  height: 60px;
  display: inline-block;
}
.main-services article {
  width: 100%;
  float: left;
  margin-bottom: 50px;
  color: #fff;
  position: relative;
  padding: 0 30px;
}
.main-services article span {
  display: block;
  font-weight: 700;
  font-size: 40px;
  opacity: 0.1;
}
.main-services article h4 {
  display: block;
  margin-top: -25px;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}
.work-flow article{
  margin-bottom: 0px;
  padding: 0 15px;
}