/* PROJECT BOX */
.project-box {
  width: 100%;
  display: block;
}
.project-box .project-image {
  width: 100%;
  display: block;
  @media(min-width: 1200px) {
    min-height: 517px;
  }
}
.project-box .project-image a {
  display: block;
}
.project-box .project-image a img {
  width: 100%;
}
.project-box .project-content {
  width: 100%;
  display: block;
}
.project-box .project-content h3 {
  font-size: 25px;
  display: block;
}
.project-box .project-content h3 a {
  display: block;
}
.project-box .project-content h3 a:hover {
  text-decoration: none;
}
.project-box .project-content small {
  display: block;
}