/* SHOWREEL */
.showreel {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 150px 0;
}
.showreel .video {
  width: 100%;
  float: left;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.showreel .video h2 {
  width: 100%;
  height: 200px;
  line-height: 200px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -100px;
  text-align: center;
  color: #fff;
  font-size: 4vw;
  font-weight: 800;
}
.showreel .video video {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  float: left;
}