/* TESTIMONIALS */
.testimonials{
  padding: 150px 0px 100px;
}

.testimonials p{
  font-size: 18px;
}

.testimonials .container{
  position: relative;
}

.quote-icon{
  background: url(../images/quote.svg);
  background-size: 100% auto;
  background-position: center center;
  width: 400px;
  height: 300px;
  display: block;
  top: 0px;
  right: 0px;
  position: absolute;
  opacity: 0.1;
}

.testimonial-item .author-details{
  margin-top: 30px;
  display: block;
}

.testimonial-item .thumb-wrap{
  margin-bottom: 30px;
  overflow: hidden;
  height: 128px;
  width: 128px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  position: absolute;
}

.testimonial-item .content-wrap{
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0px 0px 50px 50px ;
  padding-left: 170px;
  padding-right: 15%;
}

.testimonial-wrap .testimonial-pagination{
  margin-top: 30px;
}