/* WORK WITH US */
.work-with-us {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 150px 0;
  color: #282828;
}
.work-with-us h6 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}
.work-with-us h2 {
  font-size: 3.6vw;
  line-height: 4vw;
  font-weight: 400;
  margin-bottom: 50px;
}
.work-with-us p {
  display: block;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}
.work-with-us p a {
  color: #282828;
  text-decoration: underline;
}
.work-with-us small {
  margin: 15px 0;
}
.work-with-us .custom-btn {
  margin-top: 50px;
}

.work-with-us .custom-btn a{
  color: #fff;
}

.work-with-us .custom-btn a span{
  background: #fff;
}

.work-with-us .custom-btn a i{
  border-color: transparent transparent transparent #fff;
}

.color-dark .work-with-us .custom-btn a{
  color: #fff;
}

.color-dark .work-with-us p a {
  color: #fff;
}