/* WORKS */
.works {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 80px 0;
}
.works .titles {
  display: block;
  padding-right: 15%;
  margin-bottom: 20px;
}
.works .titles h2 {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.works .titles p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 40px;
  font-weight: 300;
}
.works ul {
  margin-bottom: 0;
  margin-left: -30px;
  margin-right: -30px;
  padding: 0;
}
.works ul li {
  width: 50%;
  margin: 40px 0;
  padding: 0 30px;
  list-style: none;
}